/*!
 Copyright (c) 2001-2017 by Wincor Nixdorf International GmbH,
 Heinz-Nixdorf-Ring 1, 33106 Paderborn, Germany

 This software is the confidential and proprietary information
 of Wincor Nixdorf.
 You shall not disclose such Confidential Information and shall
 use it only in accordance with the terms of the license agreement
 you entered into with Wincor Nixdorf.


*/

/*Place your changes here*/
/* padding: top right bottom left; */


:root {
    --header-height-dm-total: 420px;
    --header-height-dm-image: 305px;
}

#flexHeader {
    flex-basis: 271px;
}

body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "selection"] #flexHeader,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "amountselection"] #flexHeader,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "emvapplicationselection"] #flexHeader,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "prepaidproviderselection"] #flexHeader,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "formentry"] #flexHeader,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "checkboxes"] #flexHeader,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "accountselection"] #flexHeader,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "billpaymentselection"] #flexHeader {
    flex-basis: 388px;
}

/* -- DM support -- */
body[data-dm-available = true] div[data-view-id = "amountentry"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "cardanimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "depositanimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "depositchequesanimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "depositenvelopeanimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "genericimage"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "mobiletransaction"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "message"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "numericentry"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "outofservice"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "offlinespa"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "pinentry"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "pleasewait"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "printeranimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "question"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "receipt"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "scancodeanimations"] #flexHeader,
body[data-dm-available = true] div[data-view-id = "withdrawalanimations"] #flexHeader{
    flex-basis: 388px;
}

#flexMessageContainerHeader {
    margin-top: 191px; /* 271-80 */
}

#flexArticle {
    padding-bottom: 0 !important;
    margin-top: 26px;
}

#flexArticle figure {
    margin-top: -26px; /*article margin-top compensation 4 all figures*/
}

/* exception for shortSideFirst animations */
div[data-view-id = "depositanimations"] #flexArticle figure[class="shortSideFirst"],
div[data-view-id = "depositchequesanimations"] #flexArticle figure {
    margin-top: 0;
}

/*-- Flex Nav/Aside --*/
#flexNav, #flexNavPopup, #flexAside, #flexAsidePopup {
    margin-top: 60px;
}

#flexNav>:not(:first-child), #flexNavPopup>:not(:first-child),
#flexAside>:not(:first-child), #flexAsidePopup>:not(:first-child) {
    margin-top: 45px;
}

body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "amountselection"] #flexNav,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "checkboxes"] #flexNav,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "emvapplicationselection"] #flexNav,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "formentry"] #flexNav,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "prepaidproviderselection"] #flexNav,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "selection"] #flexNav,

body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "amountselection"] #flexAside,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "checkboxes"] #flexAside,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "emvapplicationselection"] #flexAside,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "formentry"] #flexAside,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "prepaidproviderselection"] #flexAside,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "selection"] #flexAside,

body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "accountselection"] #flexNav,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "billpaymentselection"] #flexNav,

body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "accountselection"] #flexAside,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "billpaymentselection"] #flexAside {
    margin-top: -57px;
}

/* -- DM support -- */
body[data-dm-available = true] div[data-view-id = "amountentry"] #flexNav,
body[data-dm-available = true] div[data-view-id = "question"] #flexNav,
body[data-dm-available = true] div[data-view-id = "receipt"] #flexNav,

body[data-dm-available = true] div[data-view-id = "amountentry"] #flexAside,
body[data-dm-available = true] div[data-view-id = "cardanimations"] #flexAside,
body[data-dm-available = true] div[data-view-id = "depositchequesanimations"] #flexAside,
body[data-dm-available = true] div[data-view-id = "message"] #flexAside,
body[data-dm-available = true] div[data-view-id = "numericentry"] #flexAside,
body[data-dm-available = true] div[data-view-id = "pinentry"] #flexAside,
body[data-dm-available = true] div[data-view-id = "question"] #flexAside,
body[data-dm-available = true] div[data-view-id = "receipt"] #flexAside {
    margin-top: -57px;
}

/*-- BreadCrumb group --*/
#breadCrumbGroup, #slideIndicatorGroup {
    margin-top: 380px; /*please update if softkey pos changes*/
}

body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "amountselection"] #slideIndicatorGroup,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "selection"] #slideIndicatorGroup,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "emvapplicationselection"] #slideIndicatorGroup,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "prepaidproviderselection"] #slideIndicatorGroup,
body[data-max-softkeys="6"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "checkboxes"] #slideIndicatorGroup,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "accountselection"] #slideIndicatorGroup,
body[data-max-softkeys="3"][data-softkeys-orientation="BOTTOM_UP"] div[data-view-id = "billpaymentselection"] #slideIndicatorGroup {
    /* Please update if softkey position changes */
    margin-top: 263px;
}


/*-- Popup window --*/
#flexNavPopup, #flexAsidePopup {
    margin-top: 0;
}

.popupWindow {
    height: 236px;
    margin-top: 428px;
}

#popupWindowAmountEntry {
    height: 456px;
    margin-top: 308px;
}

#popupWindowHelp {
    height: 494px;
    margin-top: 270px;
}

/*-- View: welcome --*/
/*div[data-view-id="welcome-view"] #flexMain,
div[data-view-id="welcome"] #flexMain {
    margin-top: 40px;
}*/

/*-- View: Accountinformation --*/
#flexAccountDetailsArea {
    margin-top: 0;
}

#flexTransactionsHeader {
    flex-basis: 60px;
}

#flexTransactionsHeaderAINStdAINIfxAINPcemov {
    height: 60px;
}

#flexTransactionsHeader {
    margin-top: 10px;
}

#flexTransactionsHeader {
    flex-basis: 80px;
}

#flexTransactionsHeaderAINStdAINIfxAINPcemov {
    height: 80px;
}

.transaction {
    height: 100px;
}

.row1TransData {
    height: 30px;
}

.row2TransData, .column1purposeValue, .column2purposeValue {
    height: 60px;
}

.row2TransData {
    padding: 5px 0 5px 0;
}

/*-- View: outofserviceadditionalinfos.html */
div[data-view-id="outofserviceadditionalinfos"] #flexArticle {
    margin-top: 0;
}

/* -- DM support for mobiletransaction -- */
body[data-dm-available = true] div[data-view-id = "mobiletransaction"] #mobilePhone {
    height: 360px;
    margin-top: -5px;
}

/* -- DM support for printeranimations / withdrawalanimations -- */
body[data-dm-available = true] div[data-view-id="printeranimations"] #flexArticle figure:not([id="waitSpinner"]),
body[data-dm-available = true] div[data-view-id="withdrawalanimations"] #flexArticle figure:not([id="waitSpinner"]) {
    margin-top: -10px;
}

/* -- DM support for message and question -- */
body[data-dm-available = true] div[data-view-id="message"] .messageArea,
body[data-dm-available = true] div[data-view-id="question"] .messageArea {
    max-height: 245px;
}

body[data-dm-available = true] div[data-view-id="question"] .messageArea[data-other-available="true"] {
    max-height: 115px;
}

/* -- DM support for depositanimatons / depositchequesanimations -- */
body[data-dm-available = true] div[data-view-id = "depositanimations"] #flexArticle,
body[data-dm-available = true] div[data-view-id = "depositchequesanimations"] #flexArticle {
    margin-top: 0;
}

body[data-dm-available = true] div[data-view-id = "depositanimations"] #flexAnimationHead,
body[data-dm-available = true] div[data-view-id = "depositchequesanimations"] #flexAnimationHead {
    max-height: 122px;
}

body[data-dm-available = true] div[data-view-id = "depositanimations"] #flexArticle figure:not([class="shortSideFirst"]) {
    margin-top: -55px;
}

body[data-dm-available = true] div[data-view-id = "depositanimations"] #flexArticle figure[class="shortSideFirst"],
body[data-dm-available = true] div[data-view-id = "depositchequesanimations"] #flexArticle figure:not([id="waitSpinner"]) {
    margin-top: 0;
}

/* -- DM support for numericentry -- */
body[data-dm-available = true] div[data-view-id = "numericentry"] #flexArticle {
    margin-top: -89px;
}

/* -- DM support for cardanimations -- */
body[data-dm-available = true] div[data-view-id = "cardanimations"] #flexArticle {
    margin-top: 45px;
}