<main id="flexMain" data-bind="gesture: {
                                    grid: '#flexArticle .buttonZone',
                                    target: 'flexArticle',
                                    gestures: {
                                        'Swipe': {
                                            'direction':'DIRECTION_HORIZONTAL',
                                            'events':['swipe']
                                        },
                                        'Pan': {
                                            'direction':'DIRECTION_HORIZONTAL',
                                            'events':['panstart','panmove','panend']
                                        }
                                    },
                                    containment: {
                                        'element':'window'
                                    },
                                    horizontalScrollbarElement: 'accountSelectionScrollbar'
                                }">

    <nav id="flexNav"></nav>

    <article id="flexArticle">
        <!-- ko template: { foreach: dataList.items } -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button menuButton" data-bind="command: {id: $data.result, type: $root.CMDTYPE.BUTTON, state: $data.state }">
                <var class="color02 font01" data-bind="text: $data.rawdata[1]() + ' ' + $data.rawdata[2]() "></var>
            </div>
            <div class="additional menuButton" style="display: none;">
                <!-- use a different color for negative amounts and, if a decimal sign ('+' or '-') is there, show it in front of the amount -->
                <!-- ko  if: $data.rawdata[4]() === '+' -->
                <var class="color03 font01" data-bind="text: $data.rawdata[4]() + $data.rawdata[3]() + ' ' + $data.rawdata[2]()"></var>
                <!-- /ko -->
                <!-- ko  if: $data.rawdata[4]() === '-' -->
                <var class="color08 font01" data-bind="text: $data.rawdata[4]() + $data.rawdata[3]() + ' ' + $data.rawdata[2]()"></var>
                <!-- /ko -->
                <!-- ko  if: $data.rawdata[4]() !== '-' && $data.rawdata[4]() !== '+' -->
                <var class="color03 font01" data-bind="text: $data.rawdata[3]() + ' ' + $data.rawdata[2]()"></var>
                <!-- /ko -->
                <var class="color03 font02" data-bind="format: {src: $data.rawdata[0](), pattern: '#x+-4:4'}"></var>
            </div>
        </div>
        <!-- /ko -->
    </article>

    <aside id="flexAside"></aside>
</main>

<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button footerButton" data-bind="command: {id: 'ACCOUNT_PRINT', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/printer.svg"></object>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonMainMenu" class="button footerButton" data-bind="command: {id: 'MAINMENU', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_MainMenu', 'MAINMENU')}, eppkey: ''}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('MAINMENU')"></var>
            </div>
        </div>
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>