<main id="flexMain" data-bind="gesture: { grid: '#flexArticle .buttonZone',
                                            target: 'flexArticle',
                                                  gestures: { 'Swipe': {'direction':'DIRECTION_HORIZONTAL', 'events':['swipe']},
                                                             'Pan': {'direction':'DIRECTION_HORIZONTAL', 'events':['panstart','panmove','panend']}},
                                                  containment: {'element':'window'},
                                                  horizontalScrollbarElement: 'selectionScrollbar'}">

    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle" data-bind="foreach: { data: dataList.items }">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button menuButton" data-bind="
                attr: { class: 'button menuButton ' + $data.prominent, 'data-amount-button': $data.captions[0]().match(/\d+/g) ? 'true' : 'false'},
                command: {id: $data.result, type: $root.CMDTYPE.BUTTON, state: $data.state }">
                <!-- Amount items: If a currency symbol is given the icon object is set, else the ISO code as plain text is set (icon is skipped).
                     Normal items: Set the icon and let the text font01 (normal font size)
                 -->
                <!-- ko  if: $data.captions[0]().match(/\d+/g) && $root.bankingContext.currencyData.symbol || !$data.captions[0]().match(/\d+/g) -->

                <!--  ko  if: $root.bankingContext.currencyData.symbol == 'USD' -->
                <object type="image/svg+xml" style="    display: inline-block;" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                <!-- /ko -->
                <var class="color03 font01" style="    display: inline-block;    margin-top: 27px;" data-bind="html: $data.captions[0]"></var>
                <!--  ko  if:  $root.bankingContext.currencyData.symbol =='€' -->
                <object type="image/svg+xml" style="    display: inline-block;" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                <!-- /ko -->
                <!--  ko  if:  $root.bankingContext.currencyData.symbol == 'Bs' -->
                <object type="image/svg+xml" style="    display: inline-block;" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                <!-- /ko -->

                <!-- /ko -->
                <!-- ko  if: $data.captions[0]().match(/\d+/g) && !$root.bankingContext.currencyData.symbol -->
                <var class="color02 font04" data-bind="text: $root.bankingContext.currencyData.iso"></var><br>
                <!-- /ko -->
            </div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone" id="divCancel">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
        <div class="buttonZone" id="divMainMenu" style="display: none;">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonMainMenu" class="button footerButton" data-bind="command: {id: 'MAINMENU', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_MainMenu', 'MAINMENU')}, eppkey: ''}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('MAINMENU')"></var>
            </div>
        </div>
    </div>
</footer>