<main id="flexMain" data-bind="
        gesture: {
            grid: '#flexArticle .checkBoxItem',
            gestures: {
                'Swipe': {
                    'direction':'DIRECTION_HORIZONTAL',
                    'events':['swipe']
                },
                'Pan': {
                    'direction':'DIRECTION_HORIZONTAL',
                    'events': ['panstart', 'panmove', 'panend']
                }
            },
            horizontalScrollbarElement: 'selectionScrollbar',
            containment: {
                'element':'window'
            },
            target: 'flexArticle'
        }">
    <nav id="flexNav"></nav>
    <article id="flexArticle" data-bind="
        foreach: {
            data: dataList.items,
            as: 'item'
        }">
        <div class="checkBoxItem" >
            <var class="color03 font01" data-bind="attr: {'data-validation-state': item.validationState}, html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + item.result, item.result)"></var>
            <div>
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="slidingCheckBox" data-bind="command: {id: 'CHECKBOX_CMD_' + item.result, type: $root.CMDTYPE.CHECKBOX, state: item.state }">
                    <input id="id" type="checkbox" value="None" name="check" data-bind="
                            checked: item.checked,
                            disable: item.state() === 2,
                            attr: { id: item.result, placeholder: item.placeholder }"/>
                    <label for="id" data-bind="attr: { for: item.result}"></label>
                </div>
                <div id="" data-bind="
                    attr: { id: 'edit' + item.result },
                    command: {
                        id: 'EDIT_' + item.result,
                        type: $root.CMDTYPE.OTHER,
                        state: item.editState,
                        action: $root.viewHelper.getActiveModule().onEditItemData.bind($root.viewHelper.getActiveModule(), item)
                    }">
                    <object type="image/svg+xml" data="style/default/images/preferences.svg" data-bind="
                        attr: { class: (!item.selected() ? '' : (item.validationState() !== 'invalid' ? 'nfcAnimation' : 'rotateElement'))}">
                    </object>
                </div>
            </div>
        </div>
    </article>
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton"
                 data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
