<!-- Main -->
<main id="flexMain" class="reading-space">
    <!-- Nav -->
    <nav id="flexNav"></nav>
    <!-- Article -->
    <article id="flexArticle" style="height: 239px;">
        <!-- Points loader -->
        <lottie-player src="style/default/images/success.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>

        <!-- Wave spinner -->
        <!--<figure id="spinnerWave">-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--</figure>-->
    </article>
    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- Footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>