<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav">
        <!-- Texts -->
        <div id="flexAdditionalTexts" data-bind="visible: viewFlexDepositHints">
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoEnvelopes','No envelopes.')"></var>
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoClips','No clips.')"></var>
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoFoldedBills','No folded notes.')"></var>
            <var class="font02 color01" data-bind="visible: !viewFlexCoinsInsert(), text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoCoins','No coins.')"></var>
            <var class="font02 color01" data-bind="visible: maxItems, text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNotTooManyNotes','Not more than 50 notes.')"></var>
        </div>
    </nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- Additional information -->
        <!-- Icons -->
        <div id="flexAdditionalIcons" data-bind="visible: viewFlexDepositHints">
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_envelope.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_clip.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_folded.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_coins.svg"  data-bind="visible: !viewFlexCoinsInsert()"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_amount.svg" data-bind="visible: maxItems"></object>
        </div>
        <!-- Animations -->
        <div id="flexAnimations">
            <!-- notes insert slot in -->
            <figure  data-bind="visible: viewFlexNotesInsert">
                <div id="notesInsertSlotIn" class="flexItemsSlotIn">
                    <div id="notesInsertSlotInAnimationArea" data-bind="foreach: notes">
                        <div class="note">
                            <object type="image/svg+xml" data-bind="
                                attr: { id: $data.val, data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
            </figure>
            <!-- notes eject slot in -->
            <figure  data-bind="visible: viewFlexNotesEject">
                <div id="notesEjectSlotIn" class="flexItemsSlotIn">
                    <div id="notesEjectSlotInAnimationArea" data-bind="foreach: notes">
                        <!-- ko foreach: { data: $data.count } -->
                        <div class="note" data-bind="visible: $index() < 2">
                            <object type="image/svg+xml" data-bind="
                                attr: { id: $parent.val, data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                        <!-- /ko -->
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
                <!--var class="font01 color02" data-bind="text: animationTextNotes() + getLabel('GUI_[#VIEW_KEY#]_Label_CurrencySymbol', '&euro;')()"></var-->
            </figure>
            <!-- metal detection -->
            <figure  data-bind="visible: viewFlexTakeMetal">
                <div class="flexMetalSlotIn">
                    <div id="takeMetalItems">
                        <div id="takeMetalAnimationArea">
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_clip.svg"></object>
                            <object class="redCircle" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                        </div>
                        <div id="takeCoinAnimationArea">
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_coins.svg"></object>
                            <object class="redCircle" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                        </div>
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
            </figure>
            <!-- turn notes -->
            <figure  data-bind="visible: viewFlexTurnNotes">
                <div class="flexItemsSlotIn">
                    <div id="turnNotesAnimationArea">
                        <div class="note">
                            <object type="image/svg+xml" data-bind="
                                attr: { data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                     </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
            </figure>
            <!-- turn notes short side first-->
            <figure  data-bind="visible: viewFlexTurnNotesShortSideFirst">
                <div class="flexItemsSlotIn">
                    <div id="turnNotesShortSideFirstAnimationArea">
                        <div class="note">
                            <object type="image/svg+xml" data-bind="
                                attr: { data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
            </figure>
            <!-- Insert notes short side first slot top -->
            <figure  class="shortSideFirst" data-bind="visible: viewFlexNotesInsertShortSideFirst">
                <div class="flexItemsSlot">
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div id="noteInsert3D" class="itemLane" data-bind="foreach: notes">
                        <div class="notesInsertShortSideFirstAnimation3D">
                            <object type="image/svg+xml"  data-bind="
                                attr: { id: $data.val, data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }" >
                            </object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Eject notes short side first slot top -->
            <figure  class="shortSideFirst" data-bind="visible: viewFlexNotesEjectShortSideFirst">
                <div class="flexItemsSlot">
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane">
                        <!-- ko foreach: { data: notes } -->
                            <div id="noteEject3D" class="note">
                                <!-- ko foreach: { data: $data.count } -->
                                    <div class="notesEjectShortSideFirstAnimation3D" data-bind="visible: $index() < 5">
                                        <object type="image/svg+xml" data-bind="
                                              attr: { id: $parent.val, data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                                        </object>
                                    </div>
                                <!-- /ko -->
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </figure>

            <!-- Take metal side first slot top -->
            <figure  class="shortSideFirst" data-bind="visible: viewFlexTakeMetalShortSideFirst()">
                <div class="flexItemsSlot">
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLaneMetal">
                        <div class="metalEjectShortSideFirstAnimation3D">
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_clip.svg"></object>
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_coins.svg"></object>
                        </div>
                    </div>
                    <div class="flexMetalWarningArea">
                        <div class="metalWarningAnimation">
                            <object class="warningIconBig" type="image/svg+xml" data="style/default/images/deposit_warning_clip.svg"></object>
                            <object class="warningIconBig" type="image/svg+xml" data="style/default/images/deposit_warning_coins.svg"></object>
                        </div>
                        <div class="metalWarningAnimation">
                            <object class="redCircleBig" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                            <object class="redCircleBig" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                        </div>
                    </div>
                </div>
            </figure>

            <!-- coins insert slot in-->
            <figure   data-bind="visible: viewFlexCoinsInsert">
                <div id="coinsInsertSlotIn" class="flexItemsSlotIn">
                    <div data-bind="foreach: [1,2,5,10,20,50,100,200]">
                        <div class="coin" data-bind="style: {'animation-duration': ($index() + 1.1) + 's'}">
                            <object type="image/svg+xml" data="style/default/images/single_coin_generic.svg" data-bind="attr: { id: $data, 'data-currency-iso': '' }"></object>
                        </div>
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
            </figure>
            <!-- coins eject slot in -->
            <figure  data-bind="visible: viewFlexCoinsEject">
                <div id="coinsEjectSlotIn" class="flexItemsSlotIn">
                    <div data-bind="foreach: coins">
                        <!-- ko foreach: { data: $data.count } -->
                        <div class="coin" data-bind="style: {'animation-duration': (1.5 + $parentContext.$index() * 0.2) + 's', 'padding-top': ($index() + 5) + 'px'}, attr: { id: 'coin' +  $index() % 2 }">
                            <object type="image/svg+xml" data="style/default/images/single_coin_generic.svg" data-bind="attr: { id: $parent.val, 'data-currency-iso': $root.currency }"></object>
                        </div>
                        <!-- /ko -->
                    </div>
                    <object type="image/svg+xml" data="style/default/images/slot_in.svg"></object>
                </div>
                <!--var class="font01 color02" data-bind="text: animationTextCoins() + getLabel('GUI_[#VIEW_KEY#]_Label_CurrencySymbol', '&euro;')()"></var-->
            </figure>

        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>


<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton"
                 data-bind="command: {id: 'DEPOSIT_CONFIRM', type: CMDTYPE.BUTTON, args: 'CONFIRM', state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('DEPOSIT_CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton"
                 data-bind="command: {id: 'DEPOSIT_CANCEL', type: CMDTYPE.BUTTON, args: 'CANCEL', state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('DEPOSIT_CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
