<main id="flexMain">
    <!-- Nav -->
    <nav id="flexNav">
        <!-- Texts -->
        <div id="flexAdditionalTexts" data-bind="visible: viewFlexDepositHints">
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoEnvelopes','No envelopes.')"></var>
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoClips','No clips.')"></var>
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoFoldedCheques','No folded cheques.')"></var>
            <var class="font02 color01" data-bind="text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNoCoins','No coins.')"></var>
            <var class="font02 color01" data-bind="visible: maxItems, text: getLabel('GUI_[#VIEW_KEY#]_Label_DepositHintsNotTooManyCheques','Not more than 50 cheques.')"></var>
        </div>
    </nav>

    <!-- Article -->
    <article id="flexArticle">
        <!-- Additional information -->
        <!-- Icons -->
        <div id="flexAdditionalIcons" data-bind="visible: viewFlexDepositHints">
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_envelope.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_clip.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_folded.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_coins.svg"></object>
            <object class="warningIcon" type="image/svg+xml" data-warning-circle="true" data="style/default/images/deposit_warning_amount.svg" data-bind="visible: maxItems"> </object>
        </div>
        <!-- Animations -->
        <div id="flexAnimations">
             <!-- Cheque insert and slot in -->
            <figure  data-bind="visible: viewFlexChequesInsert() || viewFlexChequesInsertCodeLeft()">
                <div id="chequesInsertSlotIn" class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane" data-bind="foreach: [1,2,3,4]">
                        <div class="chequeShortSideFirst" data-bind="style: { zIndex: 99-$index() }, css: $root.viewFlexChequesInsert() ? 'chequesInsertAnimation3D' : 'chequesInsertAnimation3DCodeLeft'">
                            <object data-cheque-no="1"
                                    data-bind="attr: {'data-cheque-no': $index() + 1}"
                                    type="image/svg+xml"
                                    data="style/default/images/single_cheque_generic_short_side.svg" >
                            </object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Cheque eject and slot in -->
            <figure  data-bind="visible: viewFlexChequesEject() || viewFlexChequesEjectCodeLeft()">
                <div id="chequesEjectSlotIn" class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane" data-bind="foreach: [1,2,3,4]">
                        <div class="chequeShortSideFirst" data-bind="style: { zIndex: 99-$index() }, css: $root.viewFlexChequesEject() ? 'chequesEjectAnimation3D' : 'chequesEjectAnimation3DCodeLeft'">
                            <object data-cheque-no="1"
                                    data-bind="attr: {'data-cheque-no': $index() + 1}"
                                    type="image/svg+xml"
                                    data="style/default/images/single_cheque_generic_short_side.svg" >
                            </object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Metal detection -->
            <figure  class="shortSideFirst" data-bind="visible: viewFlexTakeMetal">
                <div class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLaneMetal">
                        <div class="metalEjectShortSideFirstAnimation3D">
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_clip.svg"></object>
                            <object class="warningIcon" type="image/svg+xml" data="style/default/images/deposit_warning_coins.svg"></object>
                        </div>
                    </div>
                    <div class="flexMetalWarningArea">
                        <div class="metalWarningAnimation">
                            <object class="warningIconBig" type="image/svg+xml" data="style/default/images/deposit_warning_clip.svg"></object>
                            <object class="warningIconBig" type="image/svg+xml" data="style/default/images/deposit_warning_coins.svg"></object>
                        </div>
                        <div class="metalWarningAnimation">
                            <object class="redCircleBig" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                            <object class="redCircleBig" type="image/svg+xml" data="style/default/images/deposit_warning_red_circle.svg"></object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Turn cheque -->
            <figure  data-bind="visible: viewFlexTurnCheques">
                <div class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane">
                        <div id="turnChequesLongSideFirstAnimationArea3D">
                            <object type="image/svg+xml" data="style/default/images/single_cheque_generic_long_side.svg" data-bind="attr: { id: 4 }"></object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Turn cheque short side first-->
            <figure  data-bind="visible: viewFlexTurnChequesShortSideFirst() || viewFlexTurnChequesShortSideFirstCodeLeft()">
                <div class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane">
                        <div data-bind="attr: {id: $root.viewFlexTurnChequesShortSideFirst() ? 'turnChequesShortSideFirstAnimationArea3D' : 'turnChequesShortSideFirstAnimationArea3DCodeLeft'}">
                            <object type="image/svg+xml" data="style/default/images/single_cheque_generic_long_side.svg" data-bind="attr: { id: 4 }"></object>
                        </div>
                    </div>
                </div>
            </figure>

            <!-- Scan cheques/notes -->
            <figure id="chequesScanning" data-bind="visible: viewFlexScanCheques() || viewFlexScanNotes() || waitSpinnerStartedByContentKey()">
                <div id="chequesScanningTexts" data-bind="visible: viewFlexScanCheques() || viewFlexScanNotes()">
                    <var class="font01 color02" data-bind="html: noteNo() !== '' ? getLabel('GUI_[#VIEW_KEY#]_AnimationText_ScanNotes', 'Scanning note no. 1') : ''"></var>
                    <var class="font01 color02" data-bind="html: chequeNo() !== '' ? getLabel('GUI_[#VIEW_KEY#]_AnimationText_ScanCheques', 'Scanning cheque no. 1') : ''"></var>
                </div>
                <var class="font01 color02" data-bind="visible: waitSpinnerStartedByContentKey, html: chequeNo() !== '' ? getLabel('GUI_[#VIEW_KEY#]_AnimationText_WaitSpinner', 'Process cheque no. 1 of 25') : ''"></var>
                <div id="chequeBack" data-bind="visible: viewFlexScanCheques() || viewFlexScanNotes()">
                    <div id="chequeScanRedLight"></div>
                    <div class="chequeScanArea chequeScanningAnimation3D" data-bind="visible: viewFlexScanCheques">
                        <object id="4" type="image/svg+xml" data="style/default/images/single_cheque_generic_long_side.svg"></object>
                    </div>
                    <div class="chequeScanArea noteScanningAnimation3D" data-bind="visible: viewFlexScanNotes">
                        <object type="image/svg+xml" style="transform: scale(0.65);" data-bind="
                                attr: { data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                        </object>
                    </div>
                </div>
            </figure>

            <!-- Mixed media: Extended media insertion or ejection for cheques and notes (short side first only)
            <!-- Insert cheques/notes short side first slot top -->
            <figure data-bind="visible: viewFlexChequesAndNotesInsert() || viewFlexChequesCodeLeftAndNotesInsert()">
                <div id="chequesInsertMixedSlotIn" class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane" data-bind="foreach: [1]">
                        <div class="chequeShortSideFirst"
                             data-bind="style: { zIndex: 99-$index() }, css: $root.viewFlexChequesAndNotesInsert() ? 'chequesInsertAnimation3D' : 'chequesInsertAnimation3DCodeLeft'">
                            <object data-cheque-no="1"
                                    data-bind="attr: {'data-cheque-no': $index() + 3}"
                                    type="image/svg+xml"
                                    data="style/default/images/single_cheque_generic_short_side.svg">
                            </object>
                            <object type="image/svg+xml" style="transform: translateY(-200%) rotate(90deg) scaleX(2);" data-bind="
                                attr: { data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                    </div>
                </div>
            </figure>
            <!-- Eject cheques/notes short side first slot top -->
            <figure data-bind="visible: viewFlexChequesAndNotesEject() || viewFlexChequesCodeLeftAndNotesEject()">
                <div id="chequesEjectMixedSlotIn" class="flexItemsSlot">
                    <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                    <div class="itemLane" data-bind="foreach: [1]">
                        <div class="chequeShortSideFirst" data-bind="style: { zIndex: 99-$index() }, css: $root.viewFlexChequesAndNotesEject() ? 'chequesEjectAnimation3D' : 'chequesEjectAnimation3DCodeLeft'">
                            <object data-cheque-no="1"
                                    data-bind="attr: {'data-cheque-no': $index() + 3}"
                                    type="image/svg+xml"
                                    data="style/default/images/single_cheque_generic_short_side.svg">
                            </object>
                            <object type="image/svg+xml" style="transform: translateY(-200%) rotate(90deg) scaleX(2);" data-bind="
                                attr: { data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                            </object>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
    </article>

    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton"
                 data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
