<!-- Main -->
<main id="flexMain" data-bind="gesture: { grid: 'flexInputFormArea',
                                          target: 'flexArticle',
                                          gestures: { Swipe: {'direction':'DIRECTION_HORIZONTAL', events:['swipe']},
                                                      Pan: {'direction':'DIRECTION_HORIZONTAL', events:['panstart','panmove','panend']}},
                                                      containment: {element:'window'}}">
    <!-- Nav -->
    <nav id="flexNav"></nav>

    <!-- Article -->
    <article id="flexArticle" data-bind="foreach: { data: dataList.items, as: 'item' }">

        <!-- Input field area -->
        <div class="flexInputFormArea" >
            <!-- Input field -->
            <div class="generalInputFieldAreaZone" data-bind="attr: {'data-validation-state': item.validationState, 'data-view-state': item.state}">
                <label class="generalInputLabel color05 font03" for="generalInput" data-bind="attr: { for: item.id }, html: item.computedLabel"></label>
                <input type="text"  step="any" id="generalInput" class="font04 generalInput" onfocus="blur();" placeholder="" tabindex="-1"
                       data-bind="
                              attr: { placeholder: item.formattedPlaceHolder,
                                      id: item.id,
                                      tabindex: ($index() + 1),
                                      'data-validation-state': item.validationState,
                                      'data-input-type': item.type
                                    },
                              format: { src: item.value, target: item.formattedValue, placeholder_src: item.placeHolder, placeholder_target: item.formattedPlaceHolder, pattern: item.formatOption },
                              command: { id: item.id,
                                         state: item.state,
                                         label: {value: item.formattedValue, inplace: true},
                                         action: null
                                        }"
                />
                <object class="confirm" type="image/svg+xml" data="style/default/images/confirm.svg" data-bind="visible: item.validationState() === 'valid'"></object>
                <object type="image/svg+xml" data="style/default/images/attention.svg" data-bind="visible: item.validationState() === 'invalid'"></object>
            </div>
        </div>
    </article>

    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- Footer -->
<footer id="flexFooter">

    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton"
                 data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON,  label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>

    <div id="flexCancel">
        <!-- Cancel btn -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>