<main id="flexMain">

    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">
        <div id="cardAnimationSingleArea">
            <img id="animation" class="genericImage" src="" data-bind="attr: {src: getLabel('GUI_[#VIEW_KEY#]_Generic_Image', 'style/default/images/credit_card_01.svg')}">
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton"
                 data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
