<header id="flexHeader" data-view-id data-message-visible="false" data-bind="attr: { 'data-message-visible': messageVisible }">
    <div id="flexHeaderTop">

        <div id="flexLogo">

            <div>

            </div>
            <!-- the logo placeholder -->
        </div>
        <div id="flexAdditionalHeaderInfo">
            <var class="color03 font03" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_AdditionalHeaderInfo', 'ProFlex4 UI 2.0/20')"></var>
        </div>
        <div id="flexHelp">
            <div id="screens" class="button" data-bind="command: 
				{
					id: 'SWAP_SCREENS',
					type: CMDTYPE.BUTTON,
					state: swapScreenViewState,
					action: swapScreens.bind($root, 'GUIDM')
				}">
                <object type="image/svg+xml" data="style/default/images/monitor_swap.svg"></object>
            </div>
            <div id="magnifyGlass" class="button" onclick="document.getElementById('magnifyGlassObject').getSVGDocument().magnifyGlassClick();" data-bind="command: {id: 'MAGNIFY_GLASS', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN}">
                <object id="magnifyGlassObject" type="image/svg+xml" data="style/default/images/magnify_glass.svg"></object>
            </div>
            <div id="help" class="button" data-bind="command: {id: 'HELP', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, eppkey: 'HELP'}">
                <object type="image/svg+xml" data="style/default/images/help.svg"></object>
            </div>
            <div id="language" class="button" data-bind="command: {id: 'LANGUAGE', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED}">
                <object type="image/svg+xml" data="style/default/images/language.svg"></object>
            </div>
        </div>
        <time id="flexTime">
            <div id="time">
                <var class="color02 font03" data-bind="html: time().time"></var>
                <var id="timeMeridiem" class="color02 font03" data-bind="html: time().meridiem"></var>
                <var id="regards" class="color02 font03" data-bind="html: time().regards"></var>
            </div>
            <div id="date">
                <var class="color02 font03" data-bind="html: date"></var>
            </div>
        </time>
    </div>
    <div id="flexMessageContainerHeader" class="flexMessageContainer" data-bind="visible: messageVisible">
        <div class="messageArea" data-content-style="WarningBox" data-bind="attr: { 'data-content-style': messageLevel }">
            <var class="color03 font01" data-bind="
                command: {id: 'MESSAGE_HEADER', type: CMDTYPE.TEXT, action: null, state: CMDSTATE.NONE, label: {html: messageText, inplace: true}}"></var>
        </div>
    </div>
    <div id="flexHeaderBottom">
        <var id="headline" class="color07 font01" data-bind="command: {id: 'HEADLINE', type: CMDTYPE.TEXT, action: null, state: CMDSTATE.NONE, label: {html: getLabel('GUI_[#VIEW_KEY#]_Headline', ''), inplace: true}}"></var>
        <var id="instruction" class="color01 font02" data-bind="command: {id: 'INSTRUCTION', type: CMDTYPE.TEXT, action: null, state: CMDSTATE.NONE, label: {html: getLabel('GUI_[#VIEW_KEY#]_Instruction', ''), inplace: true}}"></var>
    </div>
</header>