<main id="flexMain">
    <nav id="flexNav"></nav>
    <article id="flexArticle">
        <div id="mobilePhone" class="mobilePhoneBack">
            <div id="mobilePhoneTop" class="mobilePhoneDisplayBack"> </div>
            <div id="mobilePhoneDisplay" class="mobilePhoneDisplayBack">
                <var id="confirmationCode" class="color09 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Label', 'Confirmation code')"></var>
                <var id="confirmationCodeValue" class="color09 font04" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Code', '1234')"></var>
            </div>
            <div id="mobilePhoneBottom" class="mobilePhoneDisplayBack"> </div>
        </div>
    </article>
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>

