<!-- Main -->
<main id="flexMain">

    <!-- Nav -->
    <nav id="flexNav"></nav>

    <!-- Article -->
    <article id="flexArticle">

        <!-- Input field area -->
        <div id="flexInputArea">

            <!-- Input field -->
            <div id="generalInputFieldArea">
                <input type="text" id="generalInput" class="font04 generalInput" onfocus="blur();" placeholder="" data-bind="
                              format: { src: numberField, target: numberFieldFormatted, pattern: formatOption, showLastInputOnSecure: showLastInputOnSecure, lastInputDelay: 250 },
                              command: {id: 'NUMBER_INPUT', type: CMDTYPE.FIELD, action: null, state: CMDSTATE.ENABLED, label: {value: numberFieldFormatted, inplace: true}},
                              attr: { placeholder: config.placeHolder}"/>
                <div id="generalInputBack"></div>
            </div>

            <!-- Pin area -->
            <div id="pinPadButtons">
                <!-- 1. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '1', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_1', '1')}, eppkey: '1'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('1')"></var>
                    </div>
                </div>
                <!-- 2. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '2', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_2', '2')}, eppkey: '2'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('2')"></var>
                    </div>
                </div>
                <!-- 3. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '3', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_3', '3')}, eppkey: '3'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('3')"></var>
                    </div>
                </div>
                <!-- 4. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '4', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_4', '4')}, eppkey: '4'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('4')"></var>
                    </div>
                </div>
                <!-- 5. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '5', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_5', '5')}, eppkey: '5'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('5')"></var>
                    </div>
                </div>
                <!-- 6. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '6', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_6', '6')}, eppkey: '6'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('6')"></var>
                    </div>
                </div>
                <!-- 7. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '7', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_7', '7')}, eppkey: '7'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('7')"></var>
                    </div>
                </div>
                <!-- 8. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '8', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_8', '8')}, eppkey: '8'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('8')"></var>
                    </div>
                </div>
                <!-- 9. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '9', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_9', '9')}, eppkey: '9'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('9')"></var>
                    </div>
                </div>
                <!-- 0. btn -->
                <div class="buttonZone">
                    <canvas class="rectangleDrawingCanvas"></canvas>
                    <div class="button fieldButton" data-bind="command: {id: '0', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_0', '0')}, eppkey: '0'}">
                        <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('0')"></var>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Aside -->
    <aside id="flexAside">
        <!-- Correct btn -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas buttonCorrect"></canvas>
            <div id="buttonCorrect" class="button footerButton buttonCorrect"
                 data-bind=" command: {id: 'CORRECT', type: CMDTYPE.BUTTON, args: ['CORRECT', 'CORRECT'], state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, eppkey: ['BACKSPACE', 'CLEAR']}">
                <div id="buttonCorrectFront"></div>
                <object type="image/svg+xml" data="style/default/images/correct.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CORRECT')"></var>
            </div>
        </div>
        <!-- Confirm btn -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button dialogSmallButton" data-bind=" command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- Footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <!-- Cancel btn -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>