<main id="flexMain">
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">
        <div class="outOfServicePattern"></div>

        <var class="font01 color03" id="outOfServiceMessage"
             data-bind="command: {id: 'MESSAGE', type: CMDTYPE.TEXT, action: null, state: CMDSTATE.NONE, label: {html: getLabel('GUI_[#VIEW_KEY#]_Message', 'Sorry for the inconvenience, this terminal is<br><span class=color07>OUT OF SERVICE</span>'), inplace: true}}"></var>

        <div class="outOfServicePattern"></div>
    </article>

    <aside id="flexAside"></aside>
</main>

<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel"></div>
</footer>
