<!-- Main -->
<main id="flexMain">
    <!-- Nav -->
    <nav id="flexNav"></nav>
    <!-- Article -->
    <article id="flexArticle" data-bind="command: {id: 'PIN', type: CMDTYPE.OTHER, action: designMode ? onButtonPressed : null, state: CMDSTATE.NONE}">
        <!-- Pin digits area -->
        <div id="pinDigitsArea" data-pin-range="low" data-bind="visibility: activatePinContainer, foreach: pinDigitExpected, attr: {'data-pin-range': maxPinLength <= 12 ? 'low' : 'high'}">
            <div class="pinDigitContainer">
                <div class="pinDigit" data-bind="attr: {class: $data ? 'pinDigit flipped' : 'pinDigit'}">
                    <!-- Using a canvas destroys the 3d animation of the pin digits -->
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <div class="front" data-bind="attr: { class: $parent.currentPinLen() === $index() ? 'frontCurrent' : 'front' }">
                        <var class="color03 font06" data-bind="text: $parent.currentPinLen() === $index() ? '_' : ''"></var>
                    </div>
                    <div class="back">
                        <var class="color09 font06">x</var>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- Footer -->
<footer id="flexFooter">
    <div id="flexCancel">
        <!-- Cancel btn -->
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
    <!-- <div id="flexExtra">
        <div class="buttonsZone">
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div id="buttonCorrect" class="button footerButton" style="display: none;" data-bind="command: {id: 'CORRECT', type: CMDTYPE.BUTTON, state: CMDSTATE.NONE, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, eppkey: 'BACKSPACE'}">
                    <object type="image/svg+xml" data="style/default/images/correct.svg"></object>
                    <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CORRECT')"></var>
                </div>
            </div>
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div id="buttonConfirm" class="button footerButton" data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                    <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                    <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
                </div>
            </div>

        </div>
    </div> -->

</footer>