<!-- Main -->
<main id="flexMain">

    <!-- Nav -->
    <nav id="flexNav"></nav>

    <!-- Article -->
    <article id="flexArticle">
        <div id="flexEtsContainerArea" style="opacity: 0;" data-bind="fadeVisible: {visible: activatePinContainer(), duration: 600}">
            <!-- Pin container area -->
            <div id="pinContainerArea">
                <!-- Pin digits area -->
                <div id="pinDigitsArea" data-bind="foreach: pinDigitExpected">
                    <div class="pinDigitContainer">
                        <div class="pinDigit" data-bind="attr: {class: $data ? 'pinDigit flipped' : 'pinDigit'}">
                            <div class="front" data-bind="attr: { class: $parent.currentPinLen() === $index() ? 'frontCurrent' : 'front' }">
                                <var class="color09 font01" data-bind="text: $parent.currentPinLen() === $index() ? '_' : ''"></var>
                            </div>
                            <div class="back">
                                <var class="color09 font01">*</var>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div id="buttonArea">-->
                <!-- Pin key area -->
                <div id="pinPadButtons">
                    <!-- 1. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '1', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_1', '1')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('1')"></var>
                        </div>
                    </div>
                    <!-- 2. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '2', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_2', '2')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('2')"></var>
                        </div>
                    </div>
                    <!-- 3. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '3', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_3', '3')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('3')"></var>
                        </div>
                    </div>
                    <!-- 4. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '4', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_4', '4')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('4')"></var>
                        </div>
                    </div>
                    <!-- 5. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '5', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_5', '5')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('5')"></var>
                        </div>
                    </div>
                    <!-- 6. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '6', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_6', '6')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('6')"></var>
                        </div>
                    </div>
                    <!-- 7. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '7', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_7', '7')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('7')"></var>
                        </div>
                    </div>
                    <!-- 8. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '8', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_8', '8')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('8')"></var>
                        </div>
                    </div>
                    <!-- 9. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '9', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_9', '9')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('9')"></var>
                        </div>
                    </div>
                    <!-- 0. btn -->
                    <div class="buttonZone">
                        <div class="button fieldButton" data-bind="command: {id: '0', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_0', '0')}}">
                            <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('0')"></var>
                        </div>
                    </div>
                </div>
            </div>
            <div id="functionButtons">
                <!-- Correct btn -->
                <div class="buttonZone">
                    <div id="buttonCorrect" class="button fieldButton"
                         data-bind=" command: {id: 'CORRECT', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, eppkey: 'BACKSPACE'}">
                        <object type="image/svg+xml" data="style/default/images/correct.svg"></object>
                        <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CORRECT')"></var>
                    </div>
                </div>
                <!-- Confirm btn -->
                <div class="buttonZone">
                    <div id="buttonConfirm" class="button fieldButton"
                         data-bind=" command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                        <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                        <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
                    </div>
                </div>
                <!-- Cancel btn -->
                <div class="buttonZone">
                    <div id="buttonCancel" class="button fieldButton"
                         data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                        <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                        <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- Footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel"></div>
</footer>