<!-- Main -->
<main id="flexMain">
    <!-- Nav -->
    <nav id="flexNav"></nav>
    <!-- Article -->
    <article id="flexArticle">
        <!-- Points loader -->
        <figure id="waitLine" style="visibility: hidden;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

        <!-- Wave spinner -->
        <!--<figure id="spinnerWave">-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--<div></div>-->
        <!--</figure>-->
    </article>
    <!-- Aside -->
    <aside id="flexAside"></aside>
</main>

<!-- Footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton"
                 data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
