<main id="flexMain">
    <nav id="flexNav"></nav>
    <article id="flexArticle">
        <div id="flexMessageContainerArticle" class="flexMessageContainer" data-bind="visible: messageBoxVisible">
            <div class="messageArea" data-view-key="" data-content-style="InfoBox" data-bind="attr: { 'data-content-style': messageLevel },
                                                            gesture: {
                                                                options: {
                                                                    lockIfSpace: true
                                                                },
                                                                grid: '#flexArticle .messageArea',
                                                                gestures: {
                                                                    Swipe: {
                                                                        direction: 'DIRECTION_VERTICAL',
                                                                        events: ['swipe']
                                                                    },
                                                                    Pan: {
                                                                        direction:'DIRECTION_VERTICAL',
                                                                        events:['panstart','panmove','panend']
                                                                    }
                                                                },
                                                                containment: {
                                                                    element: '#flexArticle .messageArea',
                                                                    useScrollWidth: false,
                                                                    useScrollHeight: false
                                                                },
                                                                target: 'MESSAGE'
                                                            }">
                <var id="MESSAGE" class="color03 font01" data-bind="command: {id: 'MESSAGE', type: CMDTYPE.TEXT, action: null, state: CMDSTATE.NONE, label: {html: messageText, inplace: true}}"></var>
                <object id="imagen" type="image/svg+xml" data="style/default/images/recipe.svg"></object>
                <lottie-player id="imagen2" src="style/default/images/warning.json" background="transparent" speed="1" style="width: 180px; height: 180px;margin-top: 20px;" loop autoplay></lottie-player>
                <lottie-player id="imagen-error" src="style/default/images/error.json" background="transparent" speed="1" style="width: 180px; height: 180px;margin-top: 20px;" loop autoplay></lottie-player>
                <lottie-player id="imagen-success" src="style/default/images/success.json" background="transparent" speed="1" style="width: 180px; height: 180px;margin-top: 20px;" loop autoplay></lottie-player>
                <div class="buttonsZone">
                    <div class="buttonZone">
                        <div id="other" class="button dialogButton" data-bind="command: {id: 'OTHER', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Other', 'Other')}}">
                            <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: 'GUI_[#VIEW_KEY#]_Button_Other_Icon1', icondefault: 'Icon_Empty.svg' }"></object>
                            <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('OTHER')"></var>
                        </div>
                    </div>
                    <div class="buttonZone">
                        <div class="button dialogButton noOption" data-bind="command: {id: 'NO', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_No', 'No')}}">
                            <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: 'GUI_[#VIEW_KEY#]_Button_No_Icon1', icondefault: 'no.svg' }"></object>
                            <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('NO')"></var>
                        </div>
                    </div>
                    <div class="buttonZone">
                        <div class="button dialogButton yesOption" data-bind="command: {id: 'YES', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Yes', 'Yes')}}">
                            <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: 'GUI_[#VIEW_KEY#]_Button_Yes_Icon1', icondefault: 'yes.svg' }"></object>
                            <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('YES')"></var>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonsZone">
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button footerButton" data-bind="command: {id: 'PRINT', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Print', 'Print')}}">
                    <object type="image/svg+xml" data="style/default/images/printer.svg"></object>
                </div>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>