﻿<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">

        <figure id="barCodeScan" data-bind="visible: viewFlexBarcodeScan">
            <var class="font01 color02" data-bind="html: animationTextBarcode"></var>
            <div id="barcodeSlot"></div>
            <div id="barcodeRedLightTop" >
                <div id="barcodeRedLight"> </div>
            </div>
            <div id="barcodeBack">
                <div id="barcodeScanArea" class="scanBackground">
                    <img class="barcode" alt="" src=""  data-bind="attr: {src: 'style/default/images/barcode.svg'}">
                </div>
            </div>
        </figure>

        <figure id="qrCodeScan" data-bind="visible: viewFlexQrcodeScan">
            <var class="font01 color02" data-bind="html: animationTextQrcode"></var>
            <div id="qrcodeSlot"></div>
            <div id="qrcodeRedLightTop" >
                <div id="qrcodeRedLight"> </div>
            </div>
            <div id="qrcodeBack">
                <div id="qrcodeScanArea" class="scanBackground">
                    <img class="qrcode" alt="" src=""  data-bind="attr: {src: 'style/default/images/qrcode.svg'}">
                </div>
            </div>
        </figure>

    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton"
                 data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>