<main id="flexMain" data-bind="gesture: {
                                 grid: 'buttonZone',
                                 target: 'flexArticle',
                                 gestures: {
                                    Swipe: {
                                        direction: 'DIRECTION_HORIZONTAL', events: ['swipe']
                                    },
                                    Pan: {
                                        direction: 'DIRECTION_HORIZONTAL', events: ['panstart','panmove','panend']
                                    }
                                 },
                                 options: {lockIfSpace: true},
                                 containment: {element: 'window'},
                                 horizontalScrollbarElement: 'selectionScrollbar'
                             }">
    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle" data-bind="foreach: { data: dataList.items }">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button menuButton" data-bind="
                            attr: { class: 'button menuButton ' + $data.prominent},
                            command: {id: $data.result, type: $root.CMDTYPE.BUTTON, state: $data.state }">
                <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                <var class="color03 font01" data-bind="html: $data.captions[0]"></var>
            </div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button footerButton" data-bind="command: {id: 'BACK', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Back', 'Back')}}">
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BACK')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">


        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonMainMenu" style="display: none;" class="button footerButton" data-bind="command: {id: 'MAINMENU', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_MainMenu', 'MAINMENU')}, eppkey: ''}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('MAINMENU')"></var>
            </div>
        </div>
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>