﻿<div data-view-id="" data-view-key="" data-popup-active="">
    <div id="txnBackground" style="display: none;"></div>
    <!-- ko compose: { model:'views/script/header', view:'views/header.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
    <!-- ko router: { cacheViews:false } --><!-- /ko -->
    <!-- ko compose: { model:'views/script/footer', view:'views/footer.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
    <!-- ko compose: { model:'views/script/waitspinner', view:'views/components/waitspinner.component.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
</div>
