﻿<!-- main -->
<main id="flexMain">
    <nav id="flexNav"></nav>

    <article id="flexArticle">
        <canvas id="signatureArea" data-line-thickness="4.5" data-bind="
            gesture: {
                options: {
                },
                gestures: {
                    Press: {
                        events:['press'],
                        disableDefaultHandler: true,
                        handler: $root.viewHelper.getActiveModule().drawSignature
                    },
                    Pan: {
                        direction: 'DIRECTION_ALL',
                        events:['panstart','panmove','panend'],
                        disableDefaultHandler: true,
                        handler: jQuery.throttle(10, ev => $root.viewHelper.getActiveModule().drawSignature(ev))
                    },
                    Tap: {
                        events:['tap'],
                        disableDefaultHandler: true,
                        handler: $root.viewHelper.getActiveModule().drawSignature
                    }
                }
            }">
        </canvas>
    </article>

    <aside id="flexAside"></aside>
</main>


<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonsZone">
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div id="buttonConfirm" class="button footerButton"
                     data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.DISABLED, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                    <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                    <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
                </div>
            </div>
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div id="buttonCorrect" class="button footerButton"
                     data-bind="command: {id: 'CORRECT', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, eppkey: 'BACKSPACE'}">
                    <object type="image/svg+xml" data="style/default/images/correct.svg"></object>
                    <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CORRECT')"></var>
                </div>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton"
                 data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>

