<main id="flexMain">

    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">
        <div id="videoImageArea">
            <img id="animation" class="videoImage" src="" data-bind="attr: {src: getLabel('GUI_[#VIEW_KEY#]_Video_Image', 'style/default/images/video_conference.svg')}">
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">

        <div class="checkBoxItem">
            <var class="color03 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Label_Mute_Switch', 'Mute')"></var>
            <div style="display: flex; flex-direction: row">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="slidingCheckBox" data-bind="command: {id: 'MUTE_SWITCH', type: 'checkbox'}">
                    <input id="MUTE_SWITCH" type="checkbox" value="None" name="check"
                           data-bind="checked: muteSwitch, disable: false"/>
                    <label for="MUTE_SWITCH"></label>
                </div>
            </div>
        </div>

        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button dialogSmallButton" data-bind=" command: {id: 'VOL_PLUS', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Volumeplus', 'Volume up')} }">
                <object type="image/svg+xml" data="style/default/images/plus.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('VOL_PLUS')"></var>
            </div>
        </div>

        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button dialogSmallButton" data-bind=" command: {id: 'VOL_MINUS', type: CMDTYPE.BUTTON, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Volumeminus', 'Volume down')} }">
                <object type="image/svg+xml" data="style/default/images/minus.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('VOL_MINUS')"></var>
            </div>
        </div>

    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button footerButton" data-bind="command: {id: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
