﻿<!-- main -->
<main id="flexMain">
    <article id="flexArticle" style="animation-duration: 0.25s; animation-fill-mode: both; touch-action: auto; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="buttonZone">

            <div class=" menuButton">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-d-45.svg"></object>
                <var class="color11font09 var-object">Depósito Cuentas Propias <br> Depósito Cuentas de Terceros</var>
            </div>
        </div>

        <div class="buttonZone">

            <div class=" menuButton">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-r-41.svg"></object>
                <var class="color11font09 var-object" style="padding-top: 19px;">Retiro de dinero</var>
            </div>
        </div>

        <div class="buttonZone">

            <div class=" menuButton" style="margin: 5px 3px 138px 0!important;">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-p-43.svg"></object>
                <var class="color11font09 var-object">Pago de préstamos <br> Pago de Servicios Básicos <br> Pago de Tarjeta de Crédito <br> Recarga de Tarjeta de Crédito <br> Recarga de Tajeta PrePago <br> Pago de Instituciones  </var>
            </div>
        </div>

        <div class="buttonZone">

            <div class=" menuButton">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-t-44.svg"></object>
                <var class="color11 font09 var-object">Traspaso entre Cuentas propias<br> Transferencia a Cuentas de terceros</var>
            </div>
        </div>

        <div class="buttonZone">

            <div class=" menuButton">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-cp-47.svg"></object>
                <var class="color11font09 var-object" style="padding-top: 19px;">Cambio de PIN</var>
            </div>
        </div>

        <div class="buttonZone">

            <div class=" menuButton">
                <object type="image/svg+xml" class="wellcome-style" data="style/default/images/atm-c-46.svg"></object>
                <var class="color11font09 var-object">Consulta de tipo de Cambio <br> Consulta de saldo de todas sus Cuentas <br> Consulta de saldo de una Cuenta <br> Impresión de Mini Extractos </var>
            </div>
        </div>


    </article>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">

    </div>
    <div id="flexCancel">
        <div class="buttonsZone" style="display: none;">
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button footerButton" data-bind="command: {id: 'CARDLESS', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cardless', 'Sin Tarjeta')}}">
                    <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CARDLESS')"></var>
                </div>
            </div>
        </div>
    </div>
</footer>