﻿<main id="flexMain">

    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- coins eject -->
        <figure data-bind="visible: viewFlexCoinsEject">
            <var class="font01 color02" data-bind="html: animationTextCoins"></var>
            <div id="coinsEject" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div class="itemLane" data-bind="foreach: { data: coins }">
                    <!-- ko foreach: { data: $data.count } -->
                        <div class="coin" data-bind="visible: $index() < 5, style: {'animation-duration': (1.5 + $parentContext.$index() * 0.2) + 's', 'padding-top': ($index() + 4) + 'px'}, attr: { id: 'coin' +  $index() % 2 }">
                            <object type="image/svg+xml" data="style/default/images/single_coin_generic.svg" data-bind="attr: { id: $parent.val, 'data-currency-iso': $root.currency }"></object>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
        </figure>

        <!-- notes eject -->
        <figure data-bind="visible: viewFlexNotesEject">
            <var class="font01 color02" data-bind="html: animationTextNotes"></var>
            <div id="notesEject" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div class="itemLane">
                    <!-- ko foreach: { data: notes } -->
                    <div id="noteEject3D" class="note">
                        <!-- ko foreach: { data: $data.count } -->
                            <div class="note3D" data-bind="visible: $index() < 5">
                                <object type="image/svg+xml" data-bind="
                                            attr: { id: $parent.val, data: $root.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' }">
                                </object>
                            </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </figure>

        <!-- voucher eject -->
        <figure data-bind="visible: viewFlexItemsEject">
            <var class="font01 color02" data-bind="html: animationTextItems"></var>
            <div id="voucherEject" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div class="itemLane">
                    <!-- ko foreach: { data: items } -->
                    <div id="voucherEject3D" class="voucher">
                        <!-- ko foreach: { data: $data.count } -->
                            <div class="voucher3D" data-bind="visible: $index() < 5">
                                <object type="image/svg+xml" data="style/default/images/single_voucher_generic.svg"></object>
                            </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </figure>

        <!-- receipt eject -->
        <figure data-bind="visible: viewFlexReceipt">
            <var class="font01 color02" data-bind="html: animationTextReceipt"></var>
            <div id="receiptEject" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div class="itemLane">
                    <div id="receiptEject3D" data-bind="if: getLabel('GUI_[#VIEW_KEY#]_Headline', 'Withdrawal') !== ''">
                        <object type="image/svg+xml" data="style/default/images/receipt.svg" id="receiptEjectAnimation3D"></object>
                    </div>
                </div>
            </div>
        </figure>

        <!-- send electronic receipt  -->
        <figure data-bind="visible: viewFlexElectronicReceipt">
            <var class="font01 color02" data-bind="html: animationTextElectronicReceipt"></var>
            <div id="eReceiptSend" data-bind="if: getLabel('GUI_[#VIEW_KEY#]_Headline', 'Withdrawal') !== ''">
                <object type="image/svg+xml" data="style/default/images/receipt.svg" id="eReceiptSendAnimation"></object>
            </div>
        </figure>
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button footerButton" data-bind="command: {id: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel"></div>
</footer>
