@charset "utf-8";
/*//////////////////////////////////////////////////////////////////////////////	
	CSS Document for layout
//////////////////////////////////////////////////////////////////////////////*/

:root {
    /*background: white !important;*/
}

body {
    /*overflow-x: hidden !important;*/
    /*overflow-y: hidden !important;*/
    /*display: none !important;*/
    -webkit-filter: blur(7px);
}
