<div id="popupMainContent">
    <!--
    This version information should reside within main-div-tag to also get removed when removing popup.
    -->
    <div class="modalOverlayPopup">
        <div id="pleaseWaitPopup" class="popupWindow" data-view-key="chipreading">
            <figure id="popupWindowContent" data-view-key="chipreading">
                <main id="flexMainPopup">
                    <article id="flexArticlePopup">
                        <!-- Points loader -->
                        <div id="waitLine">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </article>
                </main>
            </figure>
        </div>
    </div>
</div>