<div id="popupMainContent">
    <!--
    This version information should reside within main-div-tag to also get removed when removing popup.
    -->
    <div class="modalOverlayPopup">
        <div id="popupWindowHelp" class="popupWindow" data-view-key="">
            <div id="popupWindowContent" data-view-key="">
                <main id="flexMainPopup" data-view-key="" data-content-style="InfoBox" data-bind="attr: { 'data-content-style': messageLevel }">
                    <var id="MESSAGE_POPUP_LABEL" class="color03 font01" data-bind="command: {id: 'MESSAGE_POPUP_LABEL', type: CMDTYPE.TEXT, state: CMDSTATE.NONE, action: null, label: {html: message, inplace: true}}"></var>

                    <div id="helpContent">
                        <video id="helpVideo" data-bind="animateVisible: { visible: video, duration: '1s' }" loop>
                            <source src="" type="video/webm" data-bind="attr: {src: video}"/>
                        </video>

                        <img id="helpImage" alt="" src="" data-bind="animateVisible: { visible: image, duration: '1s' }, attr: {src: image}"/>
                    </div>

                    <div class="buttonsZone">
                        <div class="buttonZone">
                            <div id="buttonConfirmPopup" class="button dialogSmallButton"
                                 data-bind="command: {id: 'CONFIRM_MESSAGE_POPUP', args: 'CONFIRM', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM_MESSAGE_POPUP')"></var>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>