<div id="popupMainContent">
    <!--
    This version information should reside within main-div-tag to also get removed when removing popup.
    -->
    <div class="modalOverlayPopup">
        <div class="popupWindow" id="popupWindowSelection" data-view-key="">
            <div id="popupWindowContent" data-view-key="">
                <main id="flexMainPopup" data-view-key="" data-bind="
                                gesture: {
                                    grid: '#flexMainPopup .buttonZone',
                                    gestures: { 'Swipe': {'direction':'DIRECTION_HORIZONTAL', 'events':['swipe']},
                                    Pan: {'direction':'DIRECTION_HORIZONTAL', 'events':['panstart','panmove','panend']}},
                                    containment: {'element':'popupWindow'},
                                    target: 'flexArticlePopupSelection'}">

                    <var class="color03 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_[#POPUP_TYPE#]_Message', 'Please choose your preferred item:')"></var>

                    <div id="flexArticlePopupSelection" data-bind="foreach: { data: dataList.items }">
                        <div class="buttonZone">
                            <div class="button menuButton blueButton" data-bind="
                                  attr: { class: 'button menuButton  blueButton ' + $data.prominent},
                                  command: {id: $data.result, type: $root.CMDTYPE.BUTTON, state: $data.state }">
                                <!-- <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object> -->
                                <var class="color03 font01" style="padding-top: 40px" data-bind="html: $data.captions[0]"></var>
                            </div>
                        </div>
                    </div>

                    <div class="buttonsZone">
                        <div class="buttonZone">
                            <canvas class="rectangleDrawingCanvas"></canvas>
                            <div class="button dialogSmallButton" data-bind="command: {id: 'BACK_SELECTION_POPUP', args: 'BACK', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Back', 'Back')}}">
                                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
                                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BACK_SELECTION_POPUP')"></var>
                            </div>
                        </div>

                        <div class="buttonsZone">
                            <div class="buttonZone">
                                <div id="buttonCancelPopup" class="button dialogSmallButton" data-bind="command: {id: 'CANCEL_SELECTION_POPUP', args: 'CANCEL', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                                    <var class="color01-text font01 " style="padding: 0px 5px 0 5px;" data-bind="html: cmdRepos.getCmdLabel('CANCEL_SELECTION_POPUP')"></var>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>