@charset "utf-8";
/*!
 Copyright (c) 2001-2017 by Wincor Nixdorf International GmbH,
 Heinz-Nixdorf-Ring 1, 33106 Paderborn, Germany

 This software is the confidential and proprietary information
 of Wincor Nixdorf.
 You shall not disclose such Confidential Information and shall
 use it only in accordance with the terms of the license agreement
 you entered into with Wincor Nixdorf.


*/
/*---- CSS document for animations ----*/

/*---- Headline ----*/
/*-- Subheadline --*/
/* Comments */

/*---- Normalization of elements ----*/

/*---- General view animations ----*/

/*---- Standard animations ----*/
@keyframes flip-Y-180 {
    0% {
        transform: rotateY(0deg);
    }
    100% {

    }
}

@keyframes escalationMoveIn {
    0% {
        transform: translateY(-150px);
    }
    60% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes escalationMoveOut {
    0% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-150px);
    }
}

@keyframes rotateInLeft {
    0% {
        transform-origin: 0 0;

    }
    100% {
        transform-origin: 0 0;
        transform: rotateY(0deg);
    }
}

@keyframes moveInTop {
    0% {
        transform: translateY(-100%);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
    }
}

@keyframes moveInRight {
    0% {
        margin-left: 100%;
    }
    100% {
    }
}

@keyframes whirlIn {
    0% {
        transform-origin: 0 0;
        transform: scale(50) rotateZ(0deg);
    }
    100% {
        transform: scale(0) rotateZ(900deg);
    }
}

@keyframes whirlOut {
    100% {
        transform: scale(0) rotateZ(1260deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*---- General elements ----*/

/*-- View: idlepresentation / cardanimations --*/
.cardInsertContactlessAnimation {
    /*do this when animations are set off!*/
    transform: perspective(500px) translate3d(40px, -60px, 10px) rotate3d(1, 0, 0, -30deg);
    animation: cardInsertContactlessRotate 4s infinite ease-in-out;
}

.nfcAnimation {
    animation: nfcBlink 4s infinite ease-in-out ;
}

@keyframes cardInsertContactlessRotate {
    0% {
        opacity: 0;
        transform: perspective(500px) translate3d(20px, -50px, 10px) rotate3d(1, 0, 0, -60deg);
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 1;
        transform: perspective(500px) translate3d(40px, -150px, 10px);

    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: perspective(500px) translate3d(20px, -50px, 10px) rotate3d(1, 0, 0, -10deg);
    }
}

@keyframes nfcBlink {
    0% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.9;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 1;
    }
    85% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.3;
    }
}

/*-- Card insert/eject Slot --*/
.cardInsertAnimation3D, .cardEjectAnimation3D {
    /*do this when animations are set off!*/
    transform: translate3d(0px, -530px, 0px);
    animation: cardMove3D 3s infinite ease-in-out;
}

.cardEjectAnimation3D {
    animation-direction: reverse;
}

@keyframes cardMove3D {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    15% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform-origin: bottom center;
        transform: translate3d(0px, -670px, 0px) scaleY(0.8);
    }
}

/*-- Card insert/eject Slot LSF: long side first --*/
.cardInsertAnimation3DLSF, .cardEjectAnimation3DLSF {
    /*do this when animations are set off!*/
    transform: translate3d(0px, -340px, 0px) rotate(-90deg);
    animation: cardMove3DLSF 3s infinite ease-in-out;
}

.cardEjectAnimation3DLSF {
    animation-direction: reverse;
}

@keyframes cardMove3DLSF {
    0% {
        opacity: 0;
        transform-origin:  center;
        transform: translate3d(0px, 0px, 0px) rotate(-90deg);
    }
    15% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform-origin:  center;
        transform: translate3d(0px, -375px, 0px) rotate(-90deg) scaleY(0.9);
    }
}

/*-- Receipt/document eject Slot --*/
#receiptEject3D, #documentEjectAnimation3D {
    animation: printerEjectMove3D 2s infinite ease-in-out;
}

@keyframes printerEjectMove3D {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 240px, 0);
    }
}

/*-- Notes eject/insert tray --*/
#notesInsertSlotIn .note, #notesEjectSlotIn .note {
    /*do this when animations are set off!*/
    margin-bottom: -65%;
    transform: translateY(-120%);
    animation: insertNotesTray 3.5s infinite ease-in-out;
}

#notesEjectSlotIn .note {
    animation-direction: reverse;
}

@keyframes insertNotesTray {
    0% {
        margin-bottom: -65%;
        transform: translateY(-120%);
        opacity: 0;
    }
    40% {
        margin-bottom: -65%;
        transform: translateY(-120%);
        opacity: 1;
    }
    70% {
        margin-bottom: -53%;
        transform: translateY(-40%) scale(0.8);
        opacity: 1;
    }
    80% {
        margin-bottom: -55%;
        transform: translateY(-40%) scale(0.8);
        opacity: 0.5;
    }
    85% {
        margin-bottom: -55%;
        transform: translateY(-40%) scale(0.8);
        opacity: 0.25;
    }
    90% {
        margin-bottom: -55%;
        transform: translateY(-40%) scale(0.8);
        opacity: 0;
    }
    100% {
        margin-bottom: -55%;
        transform: translateY(-40%) scale(0.8);
        opacity: 0;
    }
}

/*-- (notes short side first eject/insert slot) --*/
.notesEjectShortSideFirstAnimation3D, .notesInsertShortSideFirstAnimation3D {
    /*do this when animations are set off!*/
    transform: translate3d(0px, 20px, 0px) rotate(90deg);
    animation: depositNotesShortSideFirst3D 3s infinite ease-out;
}

.notesInsertShortSideFirstAnimation3D {
    animation-direction: reverse;
}

@keyframes depositNotesShortSideFirst3D {
    0% {
        transform: translate3d(0px, 20px, 0px) scaleY(0.5) rotate(90deg);
        margin-bottom: -110px;
        opacity: 0;
    }
    10% {
        transform: translate3d(0px, 20px, 0px) scaleY(1) rotate(90deg);
        opacity: 1;
    }
    30% {
        transform: translate3d(0px, 40px, 0px) scaleY(1.1) rotate(90deg);
        margin-bottom: -90px;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 350px, 0px) scaleY(1.3) rotate(90deg);
    }
}

.metalEjectShortSideFirstAnimation3D {
    animation: ejectMetalShortSideFirst3D 6s infinite ease-in-out;
}

@keyframes ejectMetalShortSideFirst3D {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    30% {
        opacity: 1;
        transform: translate3d(0px, 280px, 0);
    }
    45% {
        opacity: 1;
        transform: translate3d(0px, 280px, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0px, 280px, 0) ;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 280px, 0) ;
    }
}

.metalWarningAnimation {
    animation: showWarning 6s infinite ease-in-out;
}

@keyframes showWarning {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*-- Cheques scanning --*/
.chequeScanningAnimation3D {
    opacity: 0;
    animation: chequeScanning3D 2s infinite ease-in-out;
}

.noteScanningAnimation3D {
    opacity: 0;
    animation: chequeScanning3D 2s infinite ease-in-out;
    animation-delay: 2.9s;
}

@keyframes chequeScanning3D {
    0% {
        opacity: 0;
        transform: translate3d(-170px, 0px, 10px) rotate3d(0, 1, 0, 10deg);
    }
    30% {
        opacity: 1;
        transform: translate3d(-100px, 0px, 20px) rotate3d(0, 1, 0, 10deg);
    }
    90% {
        transform: translate3d(140px, 0px, 40px) rotate3d(0, 1, 0, 10deg);
    }

    100% {
        transform: translate3d(160px, 0px, -100px) rotate3d(0, 1, 0, 10deg) scale(0.75);
    }
}

/*-- ID document scanning --*/
#idScanImage.chequeScanningAnimation3D {
    opacity: 1;
    animation: idScanning3D 2.5s infinite ease-in-out;
}

#idScanImage #chequeScanRedLight {
    animation: none;

}

@keyframes idScanning3D {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    93% {
        opacity: 1;
        transform: translate3d(375px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(375px, 0px, 0px);
    }
}

@media (min-width: 1280px) {
    @keyframes idScanning3D {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
        93% {
            opacity: 1;
            transform: translate3d(490px, 0px, 0px);
        }
        100% {
            opacity: 0;
            transform: translate3d(490px, 0px, 0px);
        }
    }
}

#imgViewer.scanningPrepareAnimation {
    opacity: 0;
    transform: perspective(500px) translate3d(140px, -50px, -700px) rotate3d(1, 0, 0, 40deg);
    animation: isScanningPrepare3D 2.5s infinite ease-in;
    z-index: 1;
}

@keyframes isScanningPrepare3D {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: perspective(500px) translate3d(140px, -50px, -700px) rotate3d(1, 0, 0, 40deg);
    }
    53% {
        /*z-index: 0;*/
        opacity: 1;
        transform: translate3d(10px, -10px, -200px);
    }
    93% {
        /*z-index: 0;*/
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
}

#chequeScanRedLight {
    /*do this when animations are set off!*/
    background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0.1) 100%);
    animation: moveRedLightScan 2.5s infinite ease-in-out;
}

@keyframes moveRedLightScan {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 70%, rgba(255, 0, 0, 0.1) 100%);
        /*transform: translate3d(80px, 0px, 0px) perspective(-200px);*/
    }
    50% {
        opacity: 1;
        /*transform: translate3d(-20px, 0px, -80px) perspective(0);*/
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.6) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.6) 70%, rgba(255, 0, 0, 0.1) 100%);
    }
    90% {
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*-- Cheques eject/insert slot OUT --*/
.chequesInsertAnimation3D, .chequesEjectAnimation3D {
    transform: rotate3d(0, 1, 0, 180deg); /*do this when animations are set off to keep the code on the right side !*/
    margin-bottom: -360px; /*do this when animations are set off!*/
    animation: insertChequesShortSideFirstTray3D 3s infinite ease-in-out;
}

.chequesEjectAnimation3D {
    animation-direction: reverse;
}

.chequesInsertAnimation3DCodeLeft, .chequesEjectAnimation3DCodeLeft {
    /*do this when animations are set off!*/
    margin-bottom: -360px;
    animation: insertChequesShortSideFirstTray3DCodeLeft 3s infinite ease-in-out;
}

.chequesEjectAnimation3DCodeLeft {
    animation-direction: reverse;
}

@keyframes insertChequesShortSideFirstTray3D {
    /* "rotate(180deg)" and "transform-origin" are applied to have the code on the right. These settings will be missing in case of CodeLeft (see further below) */
    0% {
        opacity: 0;
        transform: translate3d(0px, 340px, 0px) rotate3d(0, 1, 0, 180deg);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
        margin-bottom: -300px;
    }
    50% {
        opacity: 1;
    }
    75% {
        /*move in front of the slot, leave margin-bottom unchanged on -230px, i.e. do not change the space between the cheques */
        /*transform: translate3d(0px, 10px, 0px) rotate3d(0, 1, 0, 180deg) scale(0.8);*/
        transform: translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 180deg) scale(1, 0.3);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
        margin-bottom: -360px;
    }
    100% {
        /*move into the slot, let the cheques come together by changing margin-bottom */
        transform: translate3d(0px, -20px, 0px) rotate3d(0, 1, 0, 180deg) scale(0.75, 0);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
        margin-bottom: -360px;
    }
}

@keyframes insertChequesShortSideFirstTray3DCodeLeft {
    0% {
        opacity: 0;
        transform: translate3d(0px, 340px, 0px);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
    }
    50% {
        opacity: 1;
    }
    75% {
        /*move in front of the slot, leave margin-bottom unchanged on -230px, i.e. do not change the space between the cheques */
        /*transform: translate3d(0px, 10px, 0px) rotate3d(0, 1, 0, 180deg) scale(0.8);*/
        transform: translate3d(0px, 0px, 0px) scale(1, 0.3);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
        margin-bottom: -360px;
    }
    100% {
        /*move into the slot, let the cheques come together by changing margin-bottom */
        transform: translate3d(0px, -20px, 0px) scale(0.75, 0);
        transform-origin: 50% 10%; /*der y-Wert muss wegen der Perspektive von itemLane angepasst sein (also nicht 50%): Wegen der Prespektive entspricht 50% nicht mehr dem Mittelpunkt */
        margin-bottom: -360px;
    }
}

/*-- Turn notes/cheques tray --*/
.flexItemsSlotIn #turnNotesAnimationArea .note {
    /*do this when animations are set off!*/
    transform: translate3d(0, 20%, 0) rotate(10deg);
    animation: removeAndTurnItemsTray 7s infinite ease-out;
}

@keyframes removeAndTurnItemsTray {
    0% {
        transform: translateY(20%) rotate(90deg) scale(0.8);
        opacity: 1;
    }
    20% {
        transform: translateY(-120%) rotate(90deg) scale(1);
        opacity: 1;
    }
    30% {
        transform: translateY(-120%);
        opacity: 1;
    }
    55% {
        transform: translateY(-120%);
        opacity: 1;
    }
    70% {
        transform: translateY(60%) scale(0.8);
        opacity: 1;
    }
    85% {
        transform: translateY(60%) scale(0.8);
        opacity: 0;
    }
    86% {
        transform: translateY(60%) scale(0.7);
        opacity: 0;
    }
    100% {
        transform: translateY(60%) scale(0.7);
        opacity: 0;
    }
}

/*-- Turn notes, cheques short side first tray --*/
.flexItemsSlotIn #turnNotesShortSideFirstAnimationArea .note {
    /*do this when animations are set off!*/
    transform: translate3d(-10%, 20%, 0) rotate(75deg);
    animation: removeAndTurnNotesShortSideFirstTray 7s infinite ease-out;
}

@keyframes removeAndTurnNotesShortSideFirstTray {
    0% {
        transform: translateY(50%) scale(0.8);
        opacity: 1;
    }
    15% {
        transform: translateY(0%) scale(1.2);
        opacity: 1;
    }
    30% {
        transform: translateY(-150%) rotate(90deg);
        opacity: 1;
    }
    55% {
        transform: translateY(-150%) rotate(90deg);
        opacity: 1;
    }
    70% {
        transform: translate(-5%, 20%) rotate(90deg) scale(0.9);
        opacity: 1;
    }
    85% {
        transform: translate(-5%, 20%) rotate(90deg) scale(0.9);
        opacity: 0;
    }
    86% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*-- Turn cheques slot OUT --*/
#turnChequesLongSideFirstAnimationArea3D {
    /*do this when animations are set off!*/
    transform: translate3d(0, 50px, 0) rotate(20deg);
    animation: removeAndTurnNotesLongSideFirstSlotOut 5s infinite ease-in-out;
}

@keyframes removeAndTurnNotesLongSideFirstSlotOut {
    /*
    This is the same animation as removeAndTurnNotesShortSideFirstSlotOut (short!), but with an additional rotate(90deg)
    */
    0% {
        transform: translate3d(0, 0, 0) rotate(90deg);
        transform-origin: 50% 70%;
    }
    30% {
        transform: translate3d(0, 340px, 0) rotate(90deg);
        transform-origin: 50% 70%;
    }
    55% {
        transform: translate3d(0, 340px, 0) rotate(90deg) rotate(-90deg);
        transform-origin: 50% 100%;
    }
    95% {
        transform: translate3d(0, 30px, 0) rotate(90deg) rotate(-90deg);
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 30px, 0) rotate(90deg) rotate(-90deg);
        transform-origin: 50% 100%;
        opacity: 0;
    }
}

/*-- Turn cheques short side first slot OUT --*/
#turnChequesShortSideFirstAnimationArea3D {
    /*do this when animations are set off!*/
    transform: translate3d(0, 40px, 0) rotate(-100deg);
    animation: removeAndTurnNotesShortSideFirstSlotOut 5s infinite ease-in-out;
}

@keyframes removeAndTurnNotesShortSideFirstSlotOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, 340px, 0);
    }
    55% {
        transform: translate3d(0, 340px, 0) rotate(-90deg);
    }
    95% {
        transform: translate3d(0, 30px, 0) rotate(-90deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 30px, 0) rotate(-90deg);
    }
}

/*-- Turn cheques short side first slot OUT (code left) --*/
#turnChequesShortSideFirstAnimationArea3DCodeLeft {
    /*do this when animations are set off!*/
    transform: translate3d(0, 50px, 0) rotate(75deg);
    animation: removeAndTurnNotesShortSideFirstCodeLeftSlotOut 5s infinite ease-in-out;
}

@keyframes removeAndTurnNotesShortSideFirstCodeLeftSlotOut {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, 340px, 0);
    }
    55% {
        transform: translate3d(0, 340px, 0)  rotate(90deg);
    }
    95% {
        transform: translate3d(0, 30px, 0)  rotate(90deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 30px, 0)  rotate(90deg);
    }
}

/*-- Metal detection --*/
/* Warning metal tray */
.flexMetalSlotIn .warningIcon {
    animation: removeItemsTray 3.5s infinite ease-out;
}

@keyframes removeItemsTray {
    0% {
        transform: translateY(190%) scale(0.75) rotate(45deg);
        opacity: 0;
    }
    30% {
        transform: translateY(190%) scale(0.75);
        opacity: 1;
    }
    50% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    89% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Red circle tray */
.flexMetalSlotIn .redCircle {
    animation: showRedCircle 3.5s infinite ease-out;
}

@keyframes showRedCircle {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        transform: translateY(-260%);
        opacity: 1;
    }
    75% {
        transform: translateY(-100%) scale(1);
        opacity: 1;
    }
    89% {
        transform: translateY(-100%) scale(1);
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*-- withdrawalanimations --*/

/*-- Notes eject/insert for slot --*/
#noteEject3D .note3D,
#voucherEject3D .voucher3D {
    animation: moveNotes3D 4s infinite ease-out;
}

@keyframes moveNotes3D {
    0% {
        transform: scale(0.1) rotate3d(1, 0, 0, 90deg);
        margin-bottom: -10px;
        opacity: 0;
    }
    20% {
        transform: rotate3d(1, 0, 0, 90deg);
        margin-bottom: -115px;
        opacity: 1;
    }
    60% {
        transform: translate3d(0px, 20px, 0px);
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0px, 350px, 0px);
        opacity: 0;
    }
}

/*-- Coins eject slot out (withdrawal) --*/
#coinsEject .coin {
    animation: moveCoinsEject 1.5s infinite ease-in-out;
    animation-direction: reverse;
    margin-bottom: -100px;
}

#coinsEject #coin0 {
    animation: moveCoinsEject 1.5s infinite ease-in;
    animation-direction: reverse;
    margin-bottom: -100px;
}

#coinsEject #coin1 {
    animation: moveCoinsEject1 1.5s infinite ease-out;
    animation-direction: reverse;
    margin-bottom: -100px;
}

@keyframes moveCoinsEject {
    0% {
        transform: translate(-30px, 300%);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}

@keyframes moveCoinsEject1 {
    0% {
        transform: translate(30px, 300%);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
}

/* coins insert/eject tray animation */
#coinsInsertSlotIn .coin, #coinsEjectSlotIn .coin {
    /*do this when animations are set off!*/
    margin-top: 70px;
    margin-bottom: -100%;
    transform: translate(0, -100%);
    animation: moveCoinsInsert 1.5s infinite ease-out;
    animation-delay: -4s;
}

#coinsEjectSlotIn .coin {
    animation-direction: reverse;
}

@keyframes moveCoinsInsert {
    0% {
        margin-top: 70px;
        margin-bottom: -100%;
        transform: translate(-10%, -250%) scale(1.2) rotate(-90deg);
    }
    80% {
        margin-top: 70px;
        margin-bottom: -100%;
        transform: translate(0, -70%) scale(0.9) rotate(90deg);
        opacity: 0;
    }
    100% {
        margin-top: 70px;
        margin-bottom: -100%;
        transform: translate(50%, 0%) scale(0.9);
        opacity: 0;
    }
}

/*-- Bill splitting --*/
.addNote {
    animation: billSplitPush 0.8s ease-out;
}

.removeNote {
    animation: billSplitPop 0.6s ease-in;
}

@keyframes billSplitPush {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes billSplitPop {
    0% {
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.billSplitGrouping {
    animation: billSplitGroupingAnim 2.5s ease-in forwards;
}

@keyframes billSplitGroupingAnim {
    50% {
        transform: scale(1.3) translate(0, 0);
    }
    75% {
        transform: scale(2) translate(0, 100%);
        margin-bottom: -13%;
    }

    100% {
        transform: scale(2) translate(-100%, 100%);
        margin-bottom: -13%;
    }
}

/*-- accountselection --*/
@keyframes accountSelectionDetails {
    0% {
        transform: translateX(-500px);
    }
    50% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0);
    }
}

/*-- Pinentry view --*/
#pin {
    transform: rotate(90deg);
}

#pin:after {
    transform: rotate(45deg);
}

.pinDigitFieldEntered {
    animation: fadeIn 0.5s;
}

/*-- spinner --*/
.circle.one {
    animation: rotateSpinner 0.85s linear infinite;
}

.circle.two {
    animation: rotateSpinner 1.05s linear infinite;
}

.circle.three {
    animation: rotateSpinner 1.25s linear infinite;
}

/*spinner 2*/
.spinner2 {
    animation: rotationSpinner2 .6s infinite linear;
}

@keyframes rotateSpinner {
    /* rotate on 3d transform for best perf, it ensures GPU accelerated animation */
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

@keyframes rotationSpinner2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/*-- Pleasewait loader - Points loader --*/
#waitLine>div:nth-child(1) {
    animation: move 2s infinite cubic-bezier(.2, .64, .81, .23);
}

#waitLine>div:nth-child(2) {
    animation: move 2s 155ms infinite cubic-bezier(.2, .64, .81, .23);
}

#waitLine>div:nth-child(3) {
    animation: move 2s 310ms infinite cubic-bezier(.2, .64, .81, .23);
}

#waitLine>div:nth-child(4) {
    animation: move 2s 465ms infinite cubic-bezier(.2, .64, .81, .23);
}

@keyframes move {
    0% {
        visibility: visible;
        left: 100%;
        transform: translate3d(0, 0, 0);
    }
    100% {
        left: 0;
    }
}

/*-- Pleasewait loader - Wave spinner --*/
#spinnerWave>div {
    animation: wave 1.2s infinite ease-in-out;
}

#spinnerWave>div:nth-child(2) {
    animation-delay: -1.1s;
}

#spinnerWave>div:nth-child(3) {
    animation-delay: -1.0s;
}

#spinnerWave>div:nth-child(4) {
    animation-delay: -0.9s;
}

#spinnerWave>div:nth-child(5) {
    animation-delay: -0.8s;
}

@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}

/* bounce following spinner */
@keyframes bounce_followingSpinner {
    0% {
        /*left: 0;*/
        transform: translate(0px);
        background-color: rgba(255, 255, 0, 0.8);
    }

    50% {
        /*left: 230px;*/
        transform: translate(230px, 0px); /*update also .followingSpinner class which must be 30px more*/
        background-color: rgba(0, 255, 255, 0.6);
        border: 1px solid rgba(0, 255, 255, 1);
    }

    100% {
        /*left: 0;*/
        transform: translate(0px);
        background-color: rgba(255, 255, 0, 0.8);
    }
}


/*-- View: depositenvelopeanimations --*/
#envelopeEjectAnimation3D {
    animation: envelopeEjectMove3D 7s infinite ease-in-out;
}

@keyframes envelopeEjectMove3D {
    0% {
        opacity: 0;
        transform: translate3d(0, -75%, 0);
    }
    3% {
        opacity: 1;
    }
    22% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    35% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    40% {
        opacity: 1;
        transform: translate3d(0, 100%, 0) rotate(-90deg);
    }
    52% {
        opacity: 0;
        transform: translate3d(0, 100%, 0) rotate(-90deg);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 0) rotate(-90deg);
    }
}

#envelopeOpenAnimation3D {
    animation: envelopeOpenMove3D 7s infinite ease-in-out;
}

@keyframes envelopeOpenMove3D {
    0% {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    50% {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    55% {
        opacity: 1;
        transform: translate3d(0, -30%, 0);
    }
    95% {
        opacity: 1;
        transform: translate3d(0, -30%, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
}

#envelopeCloseAnimation3D {
    animation: envelopeCloseMove3D 7s infinite ease-in-out;
}

@keyframes envelopeCloseMove3D {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    10% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    35% {
        opacity: 1;
        transform: translate3d(0, 100%, 0);
    }
    36% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

#envelopeInsertAnimation3D {
    animation: envelopeInsertMove3D 7s infinite ease-in-out;
}

@keyframes envelopeInsertMove3D {

    0% {
        opacity: 0;
        transform: translate3d(0, -20%, 0) rotate(-90deg);
    }
    30% {
        opacity: 0;
        transform: translate3d(0, -20%, 0) rotate(-90deg);
    }

    36% {
        opacity: 1;
        transform: translate3d(0, -20%, 0) rotate(-90deg);
    }
    45% {
        opacity: 1;
        transform: translate3d(0, -20%, 0) rotate(-90deg);

    }
    55% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20%, 0);
    }
    95% {
        opacity: 1;
        transform: translate3d(0, -200%, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -200%, 0);
    }
}

/*-- View: scancodeanimations.html --*/
#barcodeRedLight {
    /*do this when animations are set off!*/
    transform: rotateX(30deg);
    background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    transform-origin: 0 0;
    animation: moveRedLightBarcode 3s infinite ease-in-out;
}

@keyframes moveRedLightBarcode {
    0% {
        opacity: 0;
    }
    19%{
        opacity: 0;
    }
    20% {
        opacity: 1;
        transform:  rotateX(38deg);
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    }
    80% {
        opacity: 1;
        transform:  rotateX(27deg);
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#qrcodeRedLight {
    /*do this when animations are set off!*/
    transform: rotateX(30deg);
    background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    transform-origin: 0 0;
    animation: moveRedLightQrcode 3s infinite ease-in-out;
}

@keyframes moveRedLightQrcode {
    0% {
        opacity: 0;
    }
    19%{
        opacity: 0;
    }
    20% {
        opacity: 1;
        transform:  rotateX(40deg);
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    }
    80% {
        opacity: 1;
        transform:  rotateX(15deg);
        background: rgba(255, 255, 255, 0.5) linear-gradient(90deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.4) 25%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0.4) 75%, rgba(255, 0, 0, 0.1) 100%);
    }
    81% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#eReceiptSendAnimation {
    animation: eReceiptSend 2s infinite ease-in-out;
}

@keyframes eReceiptSend {
    0% {
        opacity: 0;
        transform:  scale(1.4) ;
    }
    50% {
        opacity: 1;
        transform:  scale(1.0);
    }
    100%
    {
        opacity: 0;
        transform: translate(300%, 0) ;
    }
}

/*-- View: selectionpopup.component.html --*/
@keyframes waveUpStart {
    50% {
        transform: perspective(1000px) rotate3d(1, 0, 0, -51deg) translateY(-50%) scaleY(1.4) scaleX(1);
        opacity: 1;
    }
    100% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 0deg) translateY(-100%) scaleY(1.4) scaleX(1.1);
        opacity: 1;
    }
}

@keyframes waveUpEnd {
    50% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 51deg) translateY(-50%) scaleY(1);
    }
    100% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 0deg) translateY(-100%) scaleY(1);
        opacity: 0;
    }
}

@keyframes waveDownStart {
    50% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 51deg) translateY(50%) scaleY(1.4) scaleX(1);
    }
    100% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 0deg) translateY(100%) scaleY(1.4) scaleX(1.1);
        opacity: 1;
    }
}

@keyframes waveDownEnd {
    50% {
        transform: perspective(1000px) rotate3d(-1, 0, 0, 51deg) translateY(50%) scaleY(1);
    }
    100% {
        transform: perspective(1000px) rotate3d(-1, 0, 0, 0deg) translateY(100%) scaleY(1);
        opacity: 0;
    }
}
