@charset "utf-8";
/*//////////////////////////////////////////////////////////////////////////////	
	CSS Document for layout
//////////////////////////////////////////////////////////////////////////////*/

body {
    background: black;
    filter: contrast(228%) saturate(400%);
}
