@charset "utf-8";
/*!
 Copyright (c) 2001-2017 by Wincor Nixdorf International GmbH,
 Heinz-Nixdorf-Ring 1, 33106 Paderborn, Germany

 This software is the confidential and proprietary information
 of Wincor Nixdorf.
 You shall not disclose such Confidential Information and shall
 use it only in accordance with the terms of the license agreement
 you entered into with Wincor Nixdorf.


*/

/*
 * CSS document for resolution-independent information
 */

/*-- Fonts --*/
@font-face {
    font-family: "Ubuntu";
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-style: normal;

    font-smooth: never;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf);
    font-weight: lighter;
    /**/
    /*font-smooth: never;*/
}

@font-face {
    font-family: "Ubuntu";
    src: url(../../fonts/Ubuntu/Ubuntu-Bold.ttf);
    font-weight: bold;
    /**/
    /*font-smooth: never;*/
}

svg {
    font-family: "Ubuntu", Arial, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%;
}

.font02 {
    font-size: 19px;
    line-height: 24px;
}

.font04 {
    font-size: 40px;
    line-height: 50px;
}

/*-- Logo --*/
.logoWN {
    fill: white;
}

/*-- Shadows --*/
.shadowGroup1 {
    opacity: 0.1;
}

.shadowGroup2 {
    opacity: 0.2;
}

.shadowGroup3 {
    opacity: 0.6;
}

/*-- Slots --*/
.stopColor01 {
    stop-color: rgba(0, 255, 255, 1);
}

/*-- Colors --*/
.color01 {
    fill: rgba(0, 255, 255, 1);
}

.strokeColor {
    stroke: #00FFFF;
    fill: none;
}

.fillColor {
    fill: #00FFFF;
    stroke: none;
}

.color02 {
    fill: rgba(255, 255, 0, 1);
}

.strokeColor02 {
    stroke: rgba(255, 255, 0, 1);
    fill: none;
}

.fillColor02 {
    fill: rgba(255, 255, 0, 1);
    stroke: none;
}

.color03 {
    fill: rgba(255, 255, 255, 1);
}

.strokeColor03 {
    stroke: rgba(255, 255, 255, 1);
    fill: none;
}

.fillColor03 {
    fill: rgba(255, 255, 255, 1);
    stroke: none;
}

.color04 {
    fill: rgba(0, 0, 0, 1);
}

.strokeColor04 {
    stroke: rgba(0, 0, 0, 1);
    fill: none;
}

.fillColor04 {
    fill: rgba(0, 0, 0, 1);
    stroke: none;
}

.color05 {
    fill: rgba(41, 40, 44, 1);
}

.strokeColor05 {
    stroke: rgba(41, 40, 44, 1);
    fill: none;
}

.fillColor05 {
    fill: rgba(41, 40, 44, 1);
    stroke: none;
}

.color06 {
    fill: rgba(0, 255, 0, 1);
}

.strokeColor06 {
    stroke: rgba(0, 255, 0, 1);
    fill: none;
}

.fillColor06 {
    fill: rgba(0, 255, 0, 1);
    stroke: none;
}

.color07 {
    fill: rgba(255, 0, 0, 1);
}

.strokeColor07 {
    stroke: rgba(255, 0, 0, 1);
    fill: none;
}

.fillColor07 {
    fill: rgba(255, 0, 0, 1);
    stroke: none;
}

.color08 {
    fill: rgba(0, 255, 0, 1);
}

.strokeColor08 {
    stroke: rgba(0, 255, 0, 1);
    fill: none;
}

.fillColor08 {
    fill: rgba(0, 255, 0, 1);
    stroke: none;
}

.color09 {
    fill: rgba(255, 0, 0, 1);
}

.strokeColor09 {
    stroke: rgba(255, 0, 0, 1);
    fill: none;
}

.fillColor09 {
    fill: rgba(255, 0, 0, 1);
    stroke: none;
}

/* EURO notes */
.euroNote_5 {
    fill: #99aa88;
}

.euroNoteStripe_5 {
    fill: #556655;
}

.euroNote_10 {
    fill: #BB5577;
}

.euroNoteStripe_10 {
    fill: #883355;
}

.euroNote_20 {
    fill: #5577FF;
}

.euroNoteStripe_20 {
    fill: #2244BB;
}

.euroNote_50 {
    fill: #FFAA44;
}

.euroNoteStripe_50 {
    fill: #AA5500;
}

.euroNote_100 {
    fill: #337733;
}

.euroNoteStripe_100 {
    fill: #114411;
}

.euroNote_200 {
    fill: #EEEE00;
}

.euroNoteStripe_200 {
    fill: #AAAA00;
}

.euroNote_500 {
    fill: #FF77FF;
}

.euroNoteStripe_500 {
    fill: #AA55AA;
}

.euroNote_neutral {
    fill: #676769;
}

.euroNoteStripe_neutral {
    fill: #3f3f41;
}

/* Note general text/ euro flag */
#noteCurrencyName {
    fill: #646464;
    font-size: 8px;
}

#noteValueLeft {
    fill: #646464;
    font-size: 20px;
}

#noteValueRight {
    fill: #646464;
    font-size: 35px;
    text-anchor: end;
}

.euroFlag {
    fill: #436EB3;
}

/* Coins basic colors */
.colorBronze {
    fill: #ba4a19;
}

.colorSilver {
    fill: #d8d7dd;
}

.colorGold {
    fill: #ddc973;
}

#coinValue {
    fill: #29282C;
    font-size: 30px;
    text-anchor: middle;
}

#coinCurrencyName {
    fill: #29282C;
    font-size: 10px;
}

/* GENERIC notes */
.genNoteMain {
    fill: #C8E8CC;
}

.genNote_5 {
    fill: #337733;
}

.genNoteStripe_5 {
    fill: #114411;
}

.genNote_10 {
    fill: #377756;
}

.genNoteStripe_10 {
    fill: #1f3f2e;
}

.genNote_20 {
    fill: #3f4c28;
}

.genNoteStripe_20 {
    fill: #192311;
}

.genNote_50 {
    fill: #375041;
}

.genNoteStripe_50 {
    fill: #122416;
}

.genNote_100 {
    fill: #3e7713;
}

.genNoteStripe_100 {
    fill: #1c390f;
}

.genNote_200 {
    fill: #29770a;
}

.genNoteStripe_200 {
    fill: #1b3e0a;
}

.genNote_500 {
    fill: #1f3e2f;
}

.genNoteStripe_500 {
    fill: #0f1f12;
}

