/*Place your changes here*/


/*-- Header --*/

#flexHeaderTop {
    padding-left: 30px;
}


/*-- Additional header info --*/

#flexAdditionalHeaderInfo {
    min-width: 10%;
    margin-left: 60px;
}


/*-- Date/Time --*/

#flexTime {
    min-width: 191px;
    padding: 42px 0 0 0;
    margin-left: 0;
}

#time {
    padding-bottom: 3px;
}

#timeMeridiem {
    margin-left: 15px;
}


/*-- Help --*/

#flexHelp {
    margin-right: 0;
}


/*-- Headline/Instruction --*/

#flexHeaderBottom {
    padding: 0 30px 0 30px;
}

#flexMessageContainerHeader {
    margin-top: 340px;
}


/*-- Article --*/

#flexArticle,
#flexArticlePopup {
    padding-left: 30px;
    height: 740px;
}


/*-- Aside --*/

#flexAside,
#flexAsidePopup {
    padding-right: 30px;
}


/*-- Footer --*/

#flexFooter {
    padding: 0 30px 0 30px;
}


/* menu button (article) */

.menuButton {
    width: 312px;
    height: 197px;
}

.menuButton.prominentItem {
    width: 312px;
    height: 406px;
}


/* dialog/dialogSmall button (aside: confirm) */

.dialogButton {
    width: 208px;
    height: 168px;
}

.dialogSmallButton {
    width: 208px;
    height: 118px;
}


/* footer button (footer: cancel) */

.footerButton {
    width: 208px;
    height: 63px;
}


/* field button (article: input field) */

.fieldButton {
    width: 178px;
}


/* keyboard button (VK) */

.keyboardButton,
.fnKey,
.spaceKey,
.enterKey,
.arrowKeys {
    width: 75px;
    height: 85px;
}


/*
 * Each button stays within a single button zone, one or more button zone may stay in a buttonsZone (plural)
 * A view may have more than one buttons zones, that's why it is a class instead of an id.
 */

.buttonZone:not(:last-child) .menuButton {
    margin: 0 10px 10px 0;
}

.buttonZone:not(:last-child) .dialogButton,
.buttonZone:not(:last-child) .dialogSmallButton {
    margin-bottom: 10px;
}

.buttonsZone .buttonZone:not(:last-child) .dialogButton,
.buttonsZone .buttonZone:not(:last-child) .dialogSmallButton,
.buttonsZone .buttonZone:not(:last-child) .footerButton {
    margin-right: 20px;
}


/*-- View: welcome --*/


/*
div[data-view-id="welcome-view"] #flexMain {
    margin: -17px 0 0 0;
}
*/

#welcomeMessage1 {
    margin-top: 120px;
}


/*-- Virtual Keyboard --*/

#virtualKeyboardContainer {
    height: 800px;
}

#virtualKeyboardArea {
    padding: 0 5px 0 0;
}

#virtualKeyboardArea #keyArea {
    flex-basis: 1000px;
}

.keyboardButton {
    margin: 6px 0 0 6px;
}

.keyboardButton>.secondKeyCode {
    padding-right: 5px;
}

#popupKeysArea {
    padding: 0 5px 5px 0;
}

#popupKeysArea .keyboardButton {
    flex-basis: auto;
    width: auto;
    margin: 5px 0 0 5px;
    min-width: 65px;
    max-height: 65px;
}

#placedummy00 {
    width: 0;
}

#placedummy01 {
    width: 0;
}

#placedummy02 {
    width: 108px;
}

#placedummy03 {
    width: 14px;
}

#keyboardButtonBACKSPACE {
    width: 100px;
}

#keyboardButtonCLEAR {
    width: 95px;
}

#enterKey {
    width: 194px;
}

#fnKey {
    width: 156px;
}

#spaceKey {
    width: 561px;
}

#generalVKInput {
    width: 100%;
    height: 70px;
    padding: 20px 0 0 26px;
}

#generalVKInputLabel {
    position: fixed;
    margin-left: 30px;
}


/*-- Views: message, question --*/

#flexMessageContainerArticle {
    margin: 0 -10px 0 -10px;
}

div[data-view-id="message"] .messageArea,
div[data-view-id="question"] .messageArea,
div[data-view-id="questionerror"] .messageArea,
div[data-view-id="questionrecive"] .messageArea,
div[data-view-id="questionaccountbalance"] .messageArea,
div[data-view-key="HostItemQuestionChargedFassil"] .messageArea,
div[data-view-id="questionsuccessfulltransaction"] .messageArea {
    height: 670px;
}


/*-- Views: amountentry, numericentry, formentry --*/

div[data-view-id="amountentry"] #buttonCorrect var,
div[data-view-id="numericentry"] #buttonCorrect var,
div[data-view-id="formentry"] #buttonCorrect var,
#buttonCorrectPopup var {
    padding: 0;
}

#buttonCorrectFront {
    width: 45px;
    height: 45px;
    margin-left: -23px;
    clip-path: polygon(50% 50%, 100% 100%, 0 100%, 0 0);
}

#buttonCorrect[disabled] #buttonCorrectFront,
#buttonCorrectPopup[disabled] #buttonCorrectFront {
    clip-path: polygon(50% 50%, 100% 100%, 0 100%, 0 0);
}


/*-- Popups: - Popup overlay and window --*/

.popupWindow,
#popupWindowAmountEntry {
    height: 660px;
    margin: 320px 90px 0 90px;
}

#flexMainPopup {
    height: 330px;
}

#flexMessageContainerPopup {
    margin-top: 20px;
    width: 785px;
    padding: 0;
}

#popupWindowHelp {
    margin-top: 320px;
}


/*-- Views: formentry --*/

div[data-view-id="formentry"] #flexArticle {
    padding: 0 30px 0 30px;
}

.flexInputFormArea {
    width: 460px;
    margin-right: 44px;
}


/*-- View: accountselection / billpaymentselection --*/

div[data-view-id="accountselection"] #flexArticle,
div[data-view-id="billpaymentselection"] #flexArticle {
    margin-left: 10px;
}

div[data-view-id="accountselection"] .scrollbar-horizontal,
div[data-view-id="billpaymentselection"] .scrollbar-horizontal {
    margin-top: -50px;
}


/*-- View: amountselection / emvapplicationselection / prepaidproviderselection / selection --*/

div[data-view-id="selection"] .scrollbar-horizontal,
div[data-view-id="amountselection"] .scrollbar-horizontal,
div[data-view-id="emvapplicationselection"] .scrollbar-horizontal,
div[data-view-id="prepaidproviderselection"] .scrollbar-horizontal {
    margin-top: -65px;
}

div[data-view-id="amountselection"] div[data-amount-button="true"] var {
    font-size: var(--font-size04);
}


/*-- View: checkboxes --*/

div[data-view-id="checkboxes"] .scrollbar-horizontal {
    margin-top: -85px;
}


/*-- View: billsplitting --*/

div[data-view-id="billsplitting"] #flexAside {
    margin-top: 85px;
    height: 860px;
}

#amountHead {
    margin-right: -250px;
    padding-right: 270px;
}

.flexDistributionRow {
    padding-bottom: 10px;
}

.flexDistributionRow .note:not(:first-child) {
    margin-left: -230px;
}

.flexDistributionRow .coin:not(:first-child) {
    margin-left: -235px;
}


/*-- View: billselection --*/

div[data-view-id="billselection"] .scrollbar-vertical {
    margin-left: -33px;
}

div[data-view-id="billselection"] #flexArticle {
    padding: 0 0 0 30px;
}

div[data-view-id="billselection"] #flexAside {
    margin-top: 106px;
    height: 100%;
}

div[data-view-id="billselection"] #amountHead {
    margin-right: -212px;
    padding-right: 252px;
}

div[data-view-id="billselection"] .flexDistributionRow {
    padding-right: 40px;
}

div[data-view-id="billselection"] .flexDistributionRow .note:not(:first-child) {
    margin-left: -210px;
}


/*== View: item animations views ==*/

#flexAnimations {
    max-height: 530px;
    padding-bottom: 100px;
}


/*-- View: depositanimations / depositchequesanimations --*/

div[data-view-id="depositanimations"] #flexArticle {
    padding-left: 20px;
}

div[data-view-id="depositanimations"] figure,
div[data-view-id="depositchequesanimations"] figure {
    margin-top: 100px;
}


/*-- List container/rows and shadows top/bottom --*/

#listContainer {
    height: 600px;
}


/*-- View: depositresult --*/

div[data-view-id="depositresult"] #flexArticle {
    margin-left: -10px;
    margin-right: 50px;
}

div[data-view-id="depositresult"] .scrollbar-vertical {
    margin-left: 5px;
}

#firstRowAmountSumCaptionArea,
#secondRowAmountSumCaptionArea {
    flex-basis: 273px;
}

.flexDepositResultDetailsRow {
    padding-left: 120px;
}


/*-- View: depositchequesresult --*/

div[data-view-id="depositchequesresult"] #flexArticle {
    height: 550px;
    margin-left: -10px;
}

div[data-view-id="depositchequesresult"] #flexAside {
    margin-bottom: 110px;
}

div[data-view-id="depositchequesresult"] #scrollbar-horizontal {
    margin-top: -90px;
}

#chqControl {
    min-width: 965px;
    max-height: 400px;
}

#chqControl .buttonsZone {
    margin: 20px 0 20px 20px;
}

#chqInfoArea {
    padding-bottom: 0;
}

#chqInfoArea .iconButton {
    top: 160px;
}

#chqInfoArea .iconSwipeVerticalToTurn {
    margin-top: 10px;
}

#chqInfoArea .iconDoubleTap {
    margin-top: 50px;
}

#chqInfoArea #chqInfo {
    width: 500px;
    max-height: 180px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#chqInfoArea #chqInfo var {
    margin-top: -41px;
}

#chqInfoArea img {
    height: 250px;
    min-width: 500px;
    max-width: 500px;
}

#chqInfoArea .chequeImageContainer {
    margin-bottom: 15px;
}

#chqInfoArea .chequeImageContainer,
#chqInfoArea .frontImage,
#chqInfoArea .backImage {
    height: 250px;
}


/*-- View: outofservice / offlinespa --*/

.outOfServicePattern {
    height: 130px;
}

#outOfServiceMessage {
    min-height: 100px;
    padding: 156px 0 156px 0;
}


/*-- genericimage --*/

.genericImage {
    width: 250px;
}


/*-- View: accountinformation --*/

div[data-view-id="accountinformation"] #flexArticle {
    padding: 14px 0px 0px 20px;
}

div[data-view-id="accountinformation"] #flexAside {
    padding: 0 30px 0 0;
}

#flexAccountDetailsArea {
    height: 85px;
}


/*- AINStd, AINIfx, AINPcemov -*/

#flexAccountAINStdAINIfxAINPcemov {
    height: 90px;
}

#balanceArea {
    width: 290px;
    height: 85px;
}


/* Transaction area */

#flexTransactionsArea {
    height: 650px;
}

#flexTransactionsDataArea {
    height: 780px;
}

#flexTransactionsHeader {
    margin-top: 15px;
}

#flexTransactionsHeaderAINStdAINIfxAINPcemov {
    height: 80px;
}


/* Transaction */

.transaction {
    height: 80px;
}


/*- AINPcemov -*/

#AINPcemovTable #balanceArea {
    width: 330px;
}


/*- AINPcebal -*/

#flexAccountDetailsAINPcebal {
    height: 80px;
}

#flexTransactionsHeaderAINPcebal {
    height: 80px;
}


/*-- View: pinentry --*/

#pinDigitsArea {
    margin-top: 120px;
}

.pinDigitContainer {
    width: 60px;
    /*plus 2x1px border*/
    height: 108px;
    /*plus 2x1px border*/
}

.pinDigitContainer:not(:last-child) {
    margin-right: 14px;
}

.pinDigitContainer .front {
    width: 62px;
    height: 110px;
}

div.frontCurrent>var {
    line-height: 1.7em;
}

div.back {
    width: 62px;
    height: 110px;
}

div.back>var {
    line-height: 2.0em;
}


/*low=PIN len <= 12, high=PIN len>12*/

#pinDigitsArea[data-pin-range="high"] .pinDigitContainer {
    width: 46px;
}

#pinDigitsArea[data-pin-range="high"] .pinDigitContainer:not(:last-child) {
    margin-right: 13px;
}

#pinDigitsArea[data-pin-range="high"] .pinDigitContainer .front {
    width: 48px;
}

#pinDigitsArea[data-pin-range="high"] .pinDigitContainer div.back {
    width: 48px;
}


/*-- View: pinentryets --*/

div[data-view-id="pinentryets"] #flexArticle {
    /*outline: 1px solid red;*/
    padding: 0;
}

#flexEtsContainerArea {
    width: 603px;
    height: 371px;
}


/* PIN digit area */

div[data-view-id="pinentryets"] #pinDigitsArea {
    height: 74px;
    margin: 0 0 0 -3px;
    padding: 0;
}

div[data-view-id="pinentryets"] .pinDigitContainer {
    width: 29px;
    /*plus 2x1px border*/
    height: 68px;
    /*plus 2x1px border*/
    perspective: 1500px;
}

div[data-view-id="pinentryets"] .pinDigitContainer:not(:last-child) {
    margin-right: 4px;
}

div[data-view-id="pinentryets"] .pinDigitContainer .front {
    width: 30px;
    height: 70px;
}

div[data-view-id="pinentryets"] div.back {
    width: 30px;
    height: 70px;
}

div[data-view-id="pinentryets"] div.frontCurrent>var {
    font-size: 2.5em;
    line-height: 1.9em;
}

div[data-view-id="pinentryets"] div.back>var {
    font-size: 2.8em;
    line-height: 2em;
}


/* PIN pad area */

div[data-view-id="pinentryets"] #pinPadButtons>.buttonZone {
    padding: 0 4px 4px 0;
}

div[data-view-id="pinentryets"] .fieldButton {
    width: 128px;
    height: 68px;
}

div[data-view-id="pinentryets"] #pinPadButtons>.buttonZone:nth-child(3),
div[data-view-id="pinentryets"] #pinPadButtons>.buttonZone:nth-child(6),
div[data-view-id="pinentryets"] #pinPadButtons>.buttonZone:nth-child(9),
div[data-view-id="pinentryets"] #pinPadButtons>.buttonZone:nth-child(10) {
    padding-right: 0;
}


/* function button area */

div[data-view-id="pinentryets"] #functionButtons {
    margin-left: 4px;
}

div[data-view-id="pinentryets"] #functionButtons .fieldButton {
    width: 198px;
    margin-bottom: 4px;
}


/*-- View: pleasewait --*/

div[data-view-id="pleasewait"] #flexArticle {
    margin-top: 30px;
}


/*-- View: receipt.html --*/

div[data-view-id="receipt"] .messageArea {
    height: 500px;
    margin-left: 64px;
    padding: 20px;
}

div[data-view-id="receipt"] .messageArea>var {
    height: 460px;
    padding: 20px;
}


/*-- View: scannedimageviewer --*/

div[data-view-id="scannedimageviewer"] #chqControl {
    height: 478px;
    max-height: 478px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"] {
    height: 600px;
    max-height: 600px;
}

div[data-view-id="scannedimageviewer"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqImgCarrier2 {
    width: 488px;
    height: 325px;
    margin: 53px 0 0 9px;
}

div[data-view-id="scannedimageviewer"] #idScanImage {
    left: 280px;
}

div[data-view-id="scannedimageviewer"] #chequeScanRedLight {
    height: 317px;
    margin-top: 122px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"] #chequeScanRedLight {
    height: 444px;
    margin-top: 118px;
}

div[data-view-id="scannedimageviewer"] #chqInfoArea #chqInfo {
    height: 70px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #imgViewer {
    position: absolute;
    top: 0;
    left: 0;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"] #chqImgCarrier2 {
    width: 346px;
    height: 443px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier2 {
    margin-top: 300px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier2 {
    width: 1000px;
    height: 600px;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"][data-document-zoom="in"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqControl[data-document-type="Document"][data-document-zoom="in"] #chqImgCarrier2 {
    width: 660px;
    height: 989px;
    margin-top: 100px;
}


/*-- View: signaturepad.html --*/

#signatureArea {
    width: 960px;
    height: 478px;
}


/*-- View: videoassistance.html --*/

.videoImage {
    height: 445px;
}

div[data-view-id="videoassistance"] .checkBoxItem {
    min-width: 120px;
}


/*-- View: outofserviceadditionalinfos.html */

div[data-view-id="outofserviceadditionalinfos"] #flexArticle {
    grid-template-columns: 80.5% 20%;
}

#atmInfosHeadline {
    min-height: 84px;
    margin-bottom: 4px;
}

div[data-view-id="outofserviceadditionalinfos"] #listContainer {
    height: 620px;
    max-height: 620px;
}

#atmInfosHeadline,
.flexAtmInfosDetailsRow {
    grid-template-columns: 62% 13% 15% 10%;
}

#flexAtmInfosDetails {
    max-height: 536px;
}

.flexAtmInfosDetailsRow {
    padding: 15px 0 15px 20px;
}

.flexAtmInfosDetailsRow .atmAddress {
    grid-template-rows: 1.4fr 1.1fr;
}


/* -- View: dualchoiceselection.html --*/

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalLeft {
    left: 30px;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalRight {
    right: 30px;
}