@charset "utf-8";

/*!
 Copyright (c) 2001-2017 by Wincor Nixdorf International GmbH,
 Heinz-Nixdorf-Ring 1, 33106 Paderborn, Germany

 This software is the confidential and proprietary information
 of Wincor Nixdorf.
 You shall not disclose such Confidential Information and shall
 use it only in accordance with the terms of the license agreement
 you entered into with Wincor Nixdorf.


*/


/*
 * CSS document for resolution-independent information
 */

:root {
    /* basic colors*/
    --color01: rgba(10, 35, 100, 1);
    --color02: rgba(0, 88, 173, 1);
    --color03: rgb(90, 90, 90);
    --color04: rgba(0, 0, 0, 1);
    --color05: rgba(160, 165, 170, 1);
    --color06: rgba(30, 140, 40, 1);
    --color07: rgba(198, 58, 51, 1);
    --color08: rgba(245, 100, 55, 1);
    --color09: rgba(255, 255, 255, 1);
    --color10: rgba(250, 225, 95, 1);
    /* alpha variants */
    --color01-alpha-0: rgba(10, 35, 100, 0);
    --color01-alpha-2: rgba(10, 35, 100, 0.02);
    --color01-alpha-5: rgba(10, 35, 100, 0.05);
    --color01-alpha-7: rgba(10, 35, 100, 0.07);
    --color01-alpha-9: rgba(10, 35, 100, 0.09);
    --color01-alpha-10: rgba(10, 35, 100, 0.10);
    --color01-alpha-15: rgba(10, 35, 100, 0.15);
    --color01-alpha-25: rgba(10, 35, 100, 0.25);
    --color01-alpha-30: rgba(10, 35, 100, 0.3);
    --color01-alpha-40: rgba(10, 35, 100, 0.4);
    --color01-alpha-50: rgba(10, 35, 100, 0.5);
    --color01-alpha-60: rgba(10, 35, 100, 0.6);
    --color01-alpha-70: rgba(10, 35, 100, 0.7);
    --color01-alpha-80: rgba(10, 35, 100, 0.8);
    --color02-alpha-0: rgba(0, 88, 173, 0);
    --color02-alpha-15: rgba(0, 88, 173, 0.15);
    --color02-alpha-25: rgba(0, 88, 173, 0.25);
    --color02-alpha-30: rgba(0, 88, 173, 0.3);
    --color02-alpha-40: rgba(0, 88, 173, 0.4);
    --color02-alpha-50: rgba(0, 88, 173, 0.5);
    --color02-alpha-60: rgba(0, 88, 173, 0.6);
    --color02-alpha-70: rgba(0, 88, 173, 0.7);
    --color02-alpha-80: rgba(0, 88, 173, 0.8);
    --color03-alpha-0: rgba(90, 90, 90, 0);
    --color03-alpha-1: rgba(90, 90, 90, 0.01);
    --color03-alpha-2: rgba(90, 90, 90, 0.02);
    --color03-alpha-5: rgba(90, 90, 90, 0.05);
    --color03-alpha-10: rgba(90, 90, 90, 0.1);
    --color03-alpha-15: rgba(90, 90, 90, 0.15);
    --color03-alpha-20: rgba(90, 90, 90, 0.2);
    --color03-alpha-25: rgba(90, 90, 90, 0.25);
    --color03-alpha-30: rgba(90, 90, 90, 0.3);
    --color03-alpha-40: rgba(90, 90, 90, 0.4);
    --color03-alpha-50: rgba(90, 90, 90, 0.5);
    --color03-alpha-60: rgba(90, 90, 90, 0.6);
    --color03-alpha-70: rgba(90, 90, 90, 0.7);
    --color03-alpha-80: rgba(90, 90, 90, 0.8);
    --color04-alpha-0: rgba(0, 0, 0, 0);
    --color04-alpha-20: rgba(0, 0, 0, 0.2);
    --color04-alpha-30: rgba(0, 0, 0, 0.3);
    --color04-alpha-40: rgba(0, 0, 0, 0.4);
    --color04-alpha-50: rgba(0, 0, 0, 0.5);
    --color04-alpha-60: rgba(0, 0, 0, 0.6);
    --color04-alpha-70: rgba(0, 0, 0, 0.7);
    --color04-alpha-80: rgba(0, 0, 0, 0.8);
    --color06-alpha-0: rgba(30, 140, 40, 0);
    --color06-alpha-25: rgba(30, 140, 40, 0.25);
    --color06-alpha-30: rgba(30, 140, 40, 0.3);
    --color06-alpha-40: rgba(30, 140, 40, 0.4);
    --color06-alpha-60: rgba(30, 140, 40, 0.6);
    --color06-alpha-70: rgba(30, 140, 40, 0.7);
    --color06-alpha-80: rgba(30, 140, 40, 0.8);
    --color06-scale-9: rgba(0, 198, 58, 0);
    --color06-scale-alpha-20: rgba(0, 198, 58, 0.2);
    --color06-scale-1: rgba(0, 198, 58, 1);
    --color07-alpha-0: rgba(198, 58, 51, 0);
    --color07-alpha-15: rgba(198, 58, 51, 0.15);
    --color07-alpha-25: rgba(198, 58, 51, 0.25);
    --color07-alpha-30: rgba(8, 41, 87, 0.84);
    --color07-alpha-50: rgba(198, 58, 51, 0.5);
    --color07-alpha-60: rgba(198, 58, 51, 0.6);
    --color07-alpha-80: rgba(198, 58, 51, 0.8);
    --color09-alpha-0: rgba(255, 255, 255, 0);
    --color09-alpha-1: rgba(255, 255, 255, 0.01);
    --color09-alpha-2: rgba(255, 255, 255, 0.02);
    --color09-alpha-5: rgba(255, 255, 255, 0.05);
    --color09-alpha-10: rgba(255, 255, 255, 0.1);
    --color09-alpha-15: rgba(255, 255, 255, 0.15);
    --color09-alpha-20: rgba(255, 255, 255, 0.2);
    --color09-alpha-25: rgba(255, 255, 255, 0.25);
    --color09-alpha-30: rgba(255, 255, 255, 0.3);
    --color09-alpha-35: rgba(255, 255, 255, 0.35);
    --color09-alpha-40: rgba(255, 255, 255, 0.4);
    --color09-alpha-50: rgba(255, 255, 255, 0.5);
    --color09-alpha-55: rgba(255, 255, 255, 0.55);
    --color09-alpha-60: rgba(255, 255, 255, 0.6);
    --color09-alpha-70: rgba(255, 255, 255, 0.7);
    --color09-alpha-80: rgba(255, 255, 255, 0.8);
    --color09-alpha-90: rgba(255, 255, 255, 0.9);
    --color09-scale-1: rgb(235, 236, 240);
    --color10-alpha-0: rgba(250, 225, 95, 0);
    --color10-alpha-15: rgba(250, 225, 95, 0.15);
    --color10-alpha-25: rgba(250, 225, 95, 0.25);
    --color10-alpha-30: rgba(250, 225, 95, 0.3);
    --color10-alpha-40: rgba(250, 225, 95, 0.4);
    --color10-alpha-50: rgba(250, 225, 95, 0.5);
    --color10-alpha-60: rgba(250, 225, 95, 0.6);
    --color10-alpha-70: rgba(250, 225, 95, 0.7);
    --color10-alpha-80: rgba(250, 225, 95, 0.8);
    /* special colors*/
    --color01-sliding-checkbox-label: var(--color09-scale-1);
    --color03-generalinputback-popup: rgb(205, 205, 205);
    --color04-generalinputback: linear-gradient(180deg, rgb(194, 197, 202) 0%, rgb(189, 193, 198) 100%);
    --color04-generalinputback-txnbkg: var(--color04-generalinputback);
    --color07-error: rgb(227, 160, 156);
    --color10-warning: rgb(245, 248, 151);
    --colorSignatureBackground: var(--color09-scale-1);
    background: linear-gradient(180deg, rgba(220, 223, 228, 1) 0%, rgba(160, 165, 170, 1) 100%);
}

canvas {
    color: var(--color09-scale-1);
}


/*
 * General layouts, colors and fonts
 */


/*-- Text --*/

label,
p,
var,
span,
.subMenuItem::after {
    text-shadow: none;
}


/*-- Logo --*/

#flexLogo>:first-child {
    /*  For Chrome 'content: url(...)' will also work, but not for Firefox.
        Therefore we have to use 'background:  ', which is commonly recommended for all browsers*/
    background: url('../../../default/images/dn_logo_v_pms.svg') no-repeat;
}


/*-- Buttons --*/

.button,
#buttonCancel,
#buttonConfirm,
.buttonConfirm,
#buttonCorrect,
#buttonCancelPopup,
#buttonConfirmPopup,
#buttonCorrectPopup {
    box-shadow: none;
    outline: none;
}

.button {
    background: var(--color09-scale-1);
    border: 1px solid var(--color09-scale-1);
}

#buttonCancel,
#buttonCancelPopup {
    background: var(--color07);
}

#buttonConfirm,
.buttonConfirm,
#buttonConfirmPopup {
    background: var(--color06-scale-1);
    border: 1px solid var(--color06-scale-1);
}

#buttonCorrect,
#buttonCorrectPopup,
#buttonCorrectFront,
body[data-browser-notation="Firefox"] #buttonCorrectFront {
    background: var(--color10);
}

.button.activeUpperLeft,
.button.activeLowerLeft,
.button.activeUpperRight,
.button.activeLowerRight,
.button.activeUpper,
.button.activeLower,
.button.activeLowerRight,
.button.activeLeft,
.button.activeRight,
.button.activeCenter,
.pressed {
    box-shadow: none;
}

.button[disabled],
.disabled {
    background: var(--color03-alpha-10);
    border: 1px solid var(--color03-alpha-0);
}

.button[disabled] var,
.disabled var,
.button[disabled] span,
.disabled span {
    color: var(--color04-alpha-20);
    text-shadow: none;
}

.button var,
.button span {
    text-shadow: 1px 1px 3px var(--color09);
}

#buttonCancel var,
#buttonCancel span,
#buttonConfirm var,
#buttonConfirm span,
.buttonConfirm var,
.buttonConfirm span,
#buttonCancelPopup var,
#buttonCancelPopup span,
#buttonConfirmPopup var,
#buttonConfirmPopup span {
    text-shadow: none;
}


/*-- Selection bread crumbs --*/

.breadCrumb {
    background: var(--color09-alpha-50);
    box-shadow: none;
}

.breadCrumb::after {
    /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
    box-shadow: 2px -2px 0 1px var(--color09-alpha-90);
}


/*-- Input fields --*/

input,
textarea {
    border: transparent;
}

input:disabled,
textarea:disabled {
    opacity: 0.5;
}


/*-- Checkboxes --*/

.slidingCheckBox {
    border: 1px solid var(--color01);
    box-shadow: none;
}

.slidingCheckBox::after,
.slidingCheckBox::before {
    text-shadow: none;
}

.slidingCheckBox::after {
    color: var(--color07);
}

.slidingCheckBox label {
    background: var(--color09-scale-1);
    box-shadow: none;
}


/*-- Radiobuttons --*/

.radioButton {
    box-shadow: none;
}

.radioButton label {
    background: var(--color01);
    box-shadow: none;
}


/*-- Wait spinner --*/

.spinner2 {
    border: 15px solid var(--color01-alpha-15);
    border-top: 15px solid var(--color01-alpha-80);
}


/* bounce following spinner */

#waitSpinner .followingSpinnerShape {
    background-color: var(--color01-alpha-60);
    border: 1px solid var(--color02);
}


/* rotate plane spinner */

.rotatePlaneSpinner {
    background-color: var(--color01-alpha-60);
    border: 1px solid var(--color02);
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px);
    }
    50% {
        transform: perspective(120px) rotateY(180deg);
        background-color: var(--color03-alpha-60);
        border: 1px solid var(--color03);
    }
    100% {
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}


/* stretch play spinner */

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    50% {
        background-color: var(--color09-alpha-55);
        border: 1px solid var(--color09-scale-1);
    }
    20% {
        transform: scaleY(1.0);
    }
}


/* cube grid spinner */

.sk-cube-grid .sk-cube {
    border: 1px solid var(--color02);
}


/*-- In transaction background --*/

#txnBackground {
    border-top: none;
    background: transparent;
    /*because the contrasts are too weak if we drive a third layer which is lighter than the normal background*/
}


/*-- OK-ZOOM --*/

.ok-loupe {
    /*to overwrite script values from 'okzoom' plugin*/
    box-shadow: none !important;
}


/*
 * View specific
 */


/*-- View: welcome --*/


/*-- Views: idlepresentation --*/

#idlepresentation .mercuryPrecision,
#idlelooppresentationfassil .mercuryPrecision,
#welcome .mercuryPrecision {
    display: none;
}


/*-- View: pinentry --*/

div.back {
    background-color: var(--color01);
    border: none;
}


/*-- Components - Popup overlay and window --*/

.modalOverlay,
.modalOverlayPopup {
    background-color: var(--color03-alpha-70);
}

#waitSpinnerModalOverlay.modalOverlay {
    background-color: var(--color03-alpha-40);
}

.popupWindow {
    border: none;
    box-shadow: none;
}

#popupWindowContent {
    background: var(--color09);
}

#popupWindowAmountEntry #popupWindowContent,
#popupWindowSelection #popupWindowContent {
    background: var(--color09-alpha-80);
}

#popupWindowContent .fieldButton {
    background: var(--color09);
}


/* pop up hints */

.popupHint,
.popupHint[data-content-style$="InfoBox"] {
    background: var(--color09-scale-1);
    color: var(--color03);
    border: 1px solid var(--color01);
}

.popupHint[data-content-style$="WarningBox"] {
    border: 1px solid var(--color10-warning);
}

.popupHint[data-content-style$="ErrorBox"] {
    border: 1px solid var(--color07-error);
}

.popupHint[data-content-style$="WarningBox"]::before {
    color: var(--color10-warning);
}

.popupHint[data-content-style$="ErrorBox"]::before {
    color: var(--color07-error);
}


/*-- List rows and shadows top/bottom --*/


/* top shadow */

.listRow[data-list-up-active]:first-child:nth-of-type(odd) {
    background: var(--color09-alpha-10);
}


/* bottom shadow - depending on even or odd row */

.listRow[data-list-down-active]:last-child:nth-of-type(odd) {
    background: var(--color09-alpha-10);
}

.listRow[data-list-down-active]:last-child:nth-of-type(even) {
    background: var(--color09-alpha-20);
}


/*-- Virtual Keyboard --*/

#vkModalOverlay.modalOverlay {
    background-color: var(--color03-alpha-60);
}

#virtualKeyboardContainer,
#virtualKeyboardArea,
#popupKeysArea {
    background-color: var(--color03);
}

.keyboardButton:active,
#shiftKey.pressed,
#popupKeysArea .keyboardButton.highlighted {
    background-color: var(--color09-alpha-55);
}


/*-- General message / escalation in  message and question view --*/

.messageArea,
.messageArea[data-content-style$="InfoBox"] {
    box-shadow: none;
    background: var(--color09-alpha-80);
    border: 1px solid var(--color09-alpha-80);
}

.messageArea[data-content-style$="WarningBox"] {
    background: var(--color10-warning);
    border: 1px solid var(--color10-warning);
}

.messageArea[data-content-style$="ErrorBox"] {
    background: var(--color07-error);
    border: 1px solid var(--color07-error);
}


/*-- View: question --*/

div[data-view-id="question"] .buttonZone div,
div[data-view-id="questionerror"] .buttonZone div,
div[data-view-id="questionrecibe"] .buttonZone div,
div[data-view-id="questionwarning"] .buttonZone div,
div[data-view-id="questionaccountbalance"] .buttonZone div,
div[data-view-key="HostItemQuestionChargedFassil"] .buttonZone div,
div[data-view-id="questionsuccessfulltransaction"] .buttonZone div {
    background: var(--color09);
    border: 1px solid var(--color09);
}


/*-- View: accountselection / billpaymentselection --*/

div[data-view-id="accountselection"] #flexArticle .button,
div[data-view-id="billpaymentselection"] #flexArticle .button {
    box-shadow: none;
}

div[data-view-id="accountselection"] .additional,
div[data-view-id="billpaymentselection"] .additional {
    background: var(--color09-alpha-20);
    border: 1px solid var(--color09-scale-1);
}


/*-- View: outofservice / offlinespa --*/

div[data-view-id="outofservice"],
div[data-view-id="offlinespa"] {
    background: none;
}


/*-- View: billsplitting --*/

#amountHead {
    background: var(--color09-scale-1);
    box-shadow: none;
}


/*-- View: depositresult --*/

#flexDepositResultTotalAmount {
    background: var(--color09-scale-1);
}

.flexDepositResultDetailsRow[data-row-l2="true"] {
    background: var(--color07-alpha-30);
}

.flexDepositResultDetailsRow[data-row-l2="true"] .note {
    border: 1px solid var(--color07);
    background: var(--color07-alpha-80);
}


/*-- View: accountinformation --*/

#flexAccountDetailsAINPcebal {
    background: var(--color09);
}


/*-- View: depositchequesresult --*/

#chqInfo[data-cheque-state="declined"] {
    background: var(--color07);
}

#chqInfo[data-cheque-state="declined"]>var {
    color: var(--color09);
}


/*-- View: menupreferences --*/

div[data-view-id="menupreferences"] .currentPreferencesButton {
    border: 1px solid var(--color09-alpha-40);
}

div[data-view-id="menupreferences"] .currentPreferencesButton>object {
    -webkit-filter: brightness(0%) invert(0%);
    filter: brightness(0%) invert(0%);
}

div[data-view-id="menupreferences"] .currentPreferencesButton.prominentItem .preferencesMinMaxButton::before {
    color: var(--color01);
    text-shadow: none;
    box-shadow: none;
    border-top: 2px outset var(--color01);
    border-right: 2px inset var(--color01);
}

div[data-view-id="menupreferences"] .currentPreferencesButton .preferencesMinMaxButton::before {
    color: var(--color01);
    text-shadow: none;
    box-shadow: none;
    border-bottom: 2px inset var(--color01);
    border-left: 2px outset var(--color01);
}


/*-- View: receipt.html --*/

div[data-view-id="receipt"] .messageArea::before,
div[data-view-id="receipt"] .messageArea::after {
    color: #BDC1C6;
}

.scrollbar-horizontal {
    background: var(--color03);
}