<main id="flexMain">
    <nav id="flexNav"></nav>
    <article id="flexArticle">
        <div id="flexMessageContainerArticle" class="flexMessageContainer">
            <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
            <div class="messageArea" data-view-key="" data-content-style="InfoBox" data-bind="attr: { 'data-content-style': messageLevel }">
                <var class="color03 font03" data-bind="command: {id: 'MESSAGE', adaType: ADA_TYPE.MESSAGE, action: null, state: CMDSTATE.NONE,
                                                                label: {html: getLabel('GUI_[#VIEW_KEY#]_Message', 'Tutorial info message...This text is a default text, which has a special font size.Tutorial info message...This text is a default text, which has a special font size.Tutorial info message...This text is a default text, which has a special font size.'), inplace: true} }">
                </var>
            </div>
        </div>
    </article>
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <div id="buttonConfirm" class="button footerButton"
                    data-bind="command: {id: 'CONFIRM', adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
