<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav">
        <!-- ko template: { foreach: dataList.itemsLeft, afterRender: notify.bind($root) } -->
            <div data-bind="attr: {id: 'flexNavSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button button04 skLeft iconButton" data-bind="
                        attr: { class: 'button button04 skLeft iconButton ' + $data.prominent},
                        command: {id: $data.result, adaType: $root.ADA_TYPE.SELECTION_KEY, adaText: $data.adaText, adaTextPost: $data.adaPost, adakey: ($index() + 1), state: $data.state, eppkey: 'F' + (8 - $index())}">
                    <!-- Amount items: If a currency symbol is given the caption + the icon object is set, else the caption + the iso code as plain text is set (icon is skipped).
                         Normal items: Set the icon and let the text font01 (normal font size)
                    -->
                    <var class="color03 font04" data-bind="
                        html: $root.bankingContext.currencyData.symbol ? $data.captions[0] : $data.captions[0]() + ($data.captions[0]().match(/\d+/g) ? '&nbsp;<span class=color02>' + $root.bankingContext.currencyData.iso + '</span>' : ''),
                        attr: {class: $data.captions[0]().match(/\d+/g) ? 'color03 font04' : 'color03 font01' }"></var>
                    <!-- ko  if: $data.captions[0]().match(/\d+/g) && $root.bankingContext.currencyData.symbol || !$data.captions[0]().match(/\d+/g) -->
                        <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="attr: { id: 'iconLeft_' + $index() }, svgobject: { svgname: $data.icon }"></object>
                    <!-- /ko -->
                </div>
            </div>
        <!-- /ko -->
        <div id="flexNavSK03">
            <div class="button button02 skLeft iconButton"
                    data-bind="command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Previous', 'Previous')}, eppkey: 'F5'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_UP')"></var>
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
            </div>
        </div>
    </nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- slide indicator group -->
        <div id="slideIndicatorGroup" data-bind="foreach: slides, visible: slides().length > 1">
            <div class="slideIndicator"></div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">
        <!-- ko template: { foreach: dataList.itemsRight, afterRender: notify.bind($root)  } -->
            <div data-bind="attr: {id: 'flexAsideSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button button04 skRight iconButton" data-bind="
                        attr: { class: 'button button04 skRight iconButton ' + $data.prominent},
                        command: {id: $data.result, adaType: $root.ADA_TYPE.SELECTION_KEY, adaText: $data.adaText, adaTextPost: $data.adaPost, adakey: $index() + 5, state: $data.state, eppkey: 'F' + ($index() + 1)}">
                    <!-- Amount items: If a currency symbol is given the caption + the icon object is set, else the caption + the iso code as plain text is set (icon is skipped).
                         Normal items: Set the icon and let the text font01 (normal font size)
                     -->
                    <!-- ko  if: $data.captions[0]().match(/\d+/g) && $root.bankingContext.currencyData.symbol || !$data.captions[0]().match(/\d+/g) -->
                        <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="attr: { id: 'iconRight_' + $index() }, svgobject: { svgname: $data.icon }"></object>
                    <!-- /ko -->
                    <var class="color03 font04" data-bind="
                        html: $root.bankingContext.currencyData.symbol ? $data.captions[0] : ($data.captions[0]().match(/\d+/g) ? '<span class=color02>' + $root.bankingContext.currencyData.iso + '&nbsp;</span>' : '') + $data.captions[0](),
                        attr: {class: $data.captions[0]().match(/\d+/g) ? 'color03 font04' : 'color03 font01' }"></var>
                </div>
            </div>
        <!-- /ko -->
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '8', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Next', 'Next')}, eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/arrow_right.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_DOWN')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
