<main id="flexMain">
    <nav id="flexNav">
        <div id="flexNavSK00"></div>
        <div id="flexNavSK01"></div>
        <div id="flexNavSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button01 skLeft iconButton"
                 data-bind="command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, adakey: '3', adaText: getLabel('GUI_[#VIEW_KEY#]_Button_Previous_ADA',''), eppkey: 'F6'}">
                <object type="image/svg+xml" data="style/default/images/arrow_up.svg"></object>
            </div>
        </div>
        <div id="flexNavSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button01 skLeft iconButton"
                 data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', adaText: getLabel('GUI_[#VIEW_KEY#]_Button_Next_ADA',''), eppkey: 'F5'}">
                <object type="image/svg+xml" data="style/default/images/arrow_down.svg"></object>
            </div>
        </div>
    </nav>

    <!-- article -->
    <article id="flexArticle">
        <div id="amountHead">
            <!-- ko  if: mode === 0 -->
            <var class="color01 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Label_RemainingAmountHint', 'Remaining amount:')"></var>
            <!-- /ko -->
            <!-- ko  if: mode === 1 -->
            <var class="color01 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Label_MaxAmountHint', 'Max amount:')"></var>
            <!-- /ko -->
            <var class="color02 font01" data-bind="format: { src: remainingAmount, pattern: '#ATRM0' }"></var>
            <var class="color01 font01" data-bind="html: getLabel('GUI_[#VIEW_KEY#]_Label_TotalAmountHint', 'Total amount:')"></var>
            <var class="color02 font01" data-bind="format: { src: totalAmount, pattern: '#ATRM0' }"></var>
        </div>
        <div id="flexDistributions" data-bind="foreach: { data: distribution, as: 'item' }">
            <div class="flexDistributionRow" data-current-denomination="false"
                 data-bind="attr: { 'data-max-distributions': $parent.distribution().length, 'data-current-denomination': $parent.currentDenom() === $index() },
                            command: {  id: 'DENOM_ROW' + $index(),
                                        adaType: $root.ADA_TYPE.DYNAMIC_VALUE,
                                        state: $root.CMDSTATE.NONE,
                                        action: null,
                                        adaText: $root.getLabel('GUI_[#VIEW_KEY#]_Label_Denomination_Row_ADA', '{#count#} times {#val#} Euro', null, { 'count': item.count, 'val': item.valueAda })
                                     }">
                <div class="itemStack" data-bind="foreach: { data: item.notes, afterRender: $root.viewHelper.getActiveModule().addNote, beforeRemove:$root.viewHelper.getActiveModule().removeNote }">
                    <div class="" data-bind="attr: { class: item.type === 0 ? 'note' : 'coin' }">
                        <!-- ko  if: item.type === 0 -->
                        <object type="image/svg+xml" data-bind="
                            attr: { id: item.value, data: item.currency === 'EUR' ? 'style/default/images/single_bill_euro.svg' : 'style/default/images/single_bill_generic.svg' },
                            style: { opacity: item.count() > 0 ? 1 : 0.5}">
                        </object>
                        <!-- /ko -->
                        <!-- ko  if: item.type === 1 -->
                        <object type="image/svg+xml" data-bind="
                            attr: { id: item.value, data: 'style/default/images/single_coin_generic.svg', 'data-currency-iso': item.currency }">
                        </object>
                        <!-- /ko -->
                    </div>
                </div>
                <var class="color01 font01 crossX" data-bind="text: 'x'"></var>
                <var class="color03 font01" data-bind="text: item.count"></var>
                <var class="color01 font01" data-bind="text: ' = '"></var>
                <var class="color02 font01 result" data-bind="format: { src: item.result, pattern: '#ATRM0' }"></var>
            </div>
        </div>

    </article>

    <aside id="flexAside">
        <div id="flexAsideSK00">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'AUTOFILL', type: CMDTYPE.BUTTON, adaType: ADA_TYPE.SELECTION_KEY, adakey: '5', label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Autofill', 'Autofill')}, eppkey: 'F1'}">
                <object type="image/svg+xml" data="style/default/images/plus.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('AUTOFILL')"></var>
            </div>
        </div>
        <div id="flexAsideSK01">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button button02 skRight iconButton"
                 data-bind="command: {id: 'CONFIRM', args: ['CONFIRM','CONFIRM'], adaType: ADA_TYPE.FUNCTION_KEY, adakey: '6', label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_GetMoney', 'Get money')}, eppkey: ['CONFIRM', 'F2']}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
            <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
            <!--<div class="button button01 skRight iconButton"-->
                 <!--data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '6', adaText: getLabel('GUI_[#VIEW_KEY#]_Button_Next_ADA',''), eppkey: 'F2'}">-->
                <!--<object type="image/svg+xml" data="style/default/images/arrow_down.svg"></object>-->
            <!--</div>-->
        </div>
        <div id="flexAsideSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button01 skRight iconButton"
                 data-bind="command: {id: 'INC', adaType: ADA_TYPE.SELECTION_KEY, adakey: '7', eppkey: 'F3'}">
                <object type="image/svg+xml" data="style/default/images/plus.svg"></object>
            </div>
        </div>
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button01 skRight iconButton"
                 data-bind="command: {id: 'DEC', adaType: ADA_TYPE.SELECTION_KEY, adakey: '8', eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/minus.svg"></object>
            </div>
        </div>
    </aside>
</main>

<footer id="flexFooter">
    <div id="flexExtra">
        <!--<div class="buttonZone">-->
            <!--<div id="buttonConfirm" class="button footerButton"-->
                 <!--data-bind="command: {id: 'CONFIRM', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">-->
                <!--<var data-bind="text: cmdRepos.getCmdLabel('CONFIRM')"></var>-->
            <!--</div>-->
        <!--</div>-->
        <div class="buttonZone">
            <div id="buttonCorrect" class="button footerButton"
                 data-bind="command: {id: 'CORRECT', args: ['CORRECT', 'CORRECT'], adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Reset', 'Reset')}, eppkey: ['BACKSPACE', 'CLEAR']}">
                <var data-bind="text: cmdRepos.getCmdLabel('CORRECT')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
