<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">

        <!-- card reader - content key: InsertCard / InsertCardStripeUp / InsertCardNotOperational -->
        <figure id="cardReader" data-bind="visible: viewFlexCardInsert() || viewFlexCardInsertStripeUp() || viewFlexCardNotOperational()" >
            <div id="cardInsert" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div id="cardInsert3D" data-bind="visible: viewFlexCardInsert() || viewFlexCardInsertStripeUp()">
                    <img alt="" class="cardInsertAnimation3D" src=""  data-bind="attr: {src: viewFlexCardInsert() ? 'style/default/images/credit_card_01.svg' : 'style/default/images/credit_card_stripe_up.svg'}">
                </div>
                <div id="cardNotOp" data-bind="visible: viewFlexCardNotOperational">
                    <img alt="" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>
            </div>
            <div class="deviceOutOfService" data-bind="visible: viewFlexCardNotOperational">
                <object type="image/svg+xml" data="style/default/images/deviceoutofservice_01.svg"></object>
            </div>
        </figure>


        <!-- card reader - content key: InsertCardLSF / InsertCardLSFNotOperational -->
        <figure id="cardReaderLSF" data-bind="visible: viewFlexCardInsertLSF() || viewFlexCardLSFNotOperational()" >
            <div id="cardInsertLSF" class="flexItemsSlotLSF">
                <object type="image/svg+xml" data="style/default/images/slotLSF.svg"></object>
                <div id="cardInsert3DLSF" data-bind="visible: viewFlexCardInsertLSF()">
                    <img alt="" class="cardInsertAnimation3DLSF" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>
                <div id="cardLSFNotOp" data-bind="visible: viewFlexCardLSFNotOperational">
                    <img alt="" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>
            </div>
            <div class="deviceOutOfService" data-bind="visible: viewFlexCardLSFNotOperational">
                <object type="image/svg+xml" data="style/default/images/deviceoutofservice_01.svg"></object>
            </div>
        </figure>

        <!-- contactless reader - content key: InsertContactless / ContactlessNotOperational -->
        <figure  id="contactlessReader" data-bind="visible: viewFlexContactlessInsert() || viewFlexContactlessNotOperational()">
            <div id="contactlessReaderArea">
                <div class="contactlessReaderBack">
                    <object class="nfcIconDisabled" data-bind="visible: viewFlexContactlessNotOperational" type="image/svg+xml"
                            data="style/default/images/nfc.svg"></object>
                    <object class="nfcAnimation" data-bind="visible: viewFlexContactlessInsert" type="image/svg+xml" data="style/default/images/nfc.svg"></object>
                </div>

                <div id="cardInsertContactless" class="cardInsertContactlessAnimation" data-bind="visible: viewFlexContactlessInsert">
                    <img alt="" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>

                <div id="cardInsertContactlessNotOp" data-bind="visible: viewFlexContactlessNotOperational">
                    <img alt="" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>
            </div>
            <div class="deviceOutOfService" data-bind="visible: viewFlexContactlessNotOperational">
                <object type="image/svg+xml" data="style/default/images/deviceoutofservice_01.svg"></object>
            </div>
        </figure>

        <!-- card eject - content key: TakeCard / TakeCardStripeUp -->
        <figure  data-bind="visible: viewFlexCardEject() || viewFlexCardEjectStripeUp()" >
            <div id="cardEject" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div id="cardEject3D">
                    <img alt="" class="cardEjectAnimation3D" src=""  data-bind="attr: {src: viewFlexCardEject() ? 'style/default/images/credit_card_01.svg' : 'style/default/images/credit_card_stripe_up.svg'}">
                </div>
            </div>
        </figure>

        <!-- card eject - content key: TakeCardLSF -->
        <figure data-bind="visible: viewFlexCardEjectLSF()" >
            <div id="cardEjectLSF" class="flexItemsSlotLSF">
                <object type="image/svg+xml" data="style/default/images/slotLSF.svg"></object>
                <div id="cardEject3DLSF">
                    <img alt="" class="cardEjectAnimation3DLSF" src=""  data-bind="attr: {src: 'style/default/images/credit_card_01.svg'}">
                </div>
            </div>
        </figure>

    </article>

    <!-- aside -->
    <aside id="flexAside">
        <div id="flexAsideSK00"></div>
        <div id="flexAsideSK01"></div>
        <div id="flexAsideSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'CARDLESS',
                              type: CMDTYPE.BUTTON,
                              state: CMDSTATE.HIDDEN,
                              adaType: ADA_TYPE.SELECTION_KEY,
                              adakey: '7',
                              label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cardless', 'Cardless')},
                              eppkey: 'F3'}">
                <object type="image/svg+xml" data="style/default/images/cardless.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CARDLESS')"></var>
            </div>
        </div>
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'REQUEST_SUPPORT',
                              type: CMDTYPE.BUTTON,
                              state: CMDSTATE.HIDDEN,
                              adaType: ADA_TYPE.SELECTION_KEY,
                              adakey: '8',
                              label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_RequestSupport', 'Assist Me')},
                              eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/24hours.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('REQUEST_SUPPORT')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
