<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav">
        <!-- ko template: { foreach: dataList.itemsLeft, afterRender: notify.bind($root) } -->
            <div data-bind="attr: {id: 'flexNavSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="checkBoxItem checkBoxItemLeft" data-bind="
                    command: {id: 'CHECKBOX_CMD_' + $data.result,
                              state: ko.computed(
                                {
                                    read: function(d) {
                                        if (d.validationState && d.validationState() === 'invalid') {
                                            return $root.CMDSTATE.DISABLED;
                                        }
                                        return d.state();
                                    }.bind(this, $data),
                                    write: function(d, value) {
                                        d.state(value);
                                    }.bind(this, $data)
                                }),
                              type: $root.CMDTYPE.CHECKBOX,
                              adaType: $root.ADA_TYPE.CHECKBOX,
                              adaText: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result + '_ADA', ''),
                              adaTextPost: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result + '_ADA_Clicked', ''),
                              adakey: $index() + 1,
                              eppkey: 'F' + (8 - $index())}">
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <div class="slidingCheckBox">
                        <input id="id_left" type="checkbox" value="None" name="check" data-bind="
                                checked: $data.checked,
                                disable: ($data.state() === 2 || ($data.editable() && $data.validationState() === 'invalid')),
                                attr: { id: $data.result }"/>
                        <label for="id_left" data-bind="attr: { for: $data.result}"></label>
                    </div>
                    <var class="color03 font01" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result, $data.result)"></var>
                </div>

            </div>
        <!-- /ko -->
        <div id="flexNavSK03">
            <div class="button button02 skLeft iconButton"
                    data-bind="command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Previous', 'BACK')}, eppkey: 'F5'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_UP')"></var>
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
            </div>
        </div>
    </nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- slide indicator group -->
        <div id="slideIndicatorGroup" data-bind="foreach: slides, visible: slides().length > 1">
            <div class="slideIndicator"></div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">
        <!-- ko template: { foreach: dataList.itemsRight, afterRender: notify.bind($root) } -->
            <div data-bind="attr: {id: 'flexAsideSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="checkBoxItem checkBoxItemRight" data-bind="
                    command: {id: 'CHECKBOX_CMD_' + $data.result,
                              state: ko.computed(
                                {
                                    read: function(d) {
                                        if (d.validationState && d.validationState() === 'invalid') {
                                            return $root.CMDSTATE.DISABLED;
                                        }
                                        return d.state();
                                    }.bind(this, $data),
                                    write: function(d, value) {
                                        d.state(value);
                                    }.bind(this, $data)
                                }),
                              type: $root.CMDTYPE.CHECKBOX,
                              adaType: $root.ADA_TYPE.CHECKBOX,
                              adaText: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result + '_ADA', ''),
                              adaTextPost: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result + '_ADA_Clicked', ''),
                              adakey: $index() + 5,
                              eppkey: 'F' + ($index() + 1)}">
                    <var class="color03 font01" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_' + $data.result, $data.result)"></var>
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <div class="slidingCheckBox">
                        <input id="id_right" type="checkbox" value="None" name="check" data-bind="
                            checked: $data.checked,
                            disable: ($data.state() === 2 || ($data.editable() && $data.validationState() === 'invalid')),
                            attr: { id: $data.result }"/>
                        <label for="id_right" data-bind="attr: { for: $data.result}"></label>
                    </div>
                </div>
            </div>
        <!-- /ko -->
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                    data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '8', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Next', 'NEXT')}, eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/arrow_right.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_DOWN')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <div id="buttonConfirm" class="button footerButton"
                    data-bind="command: {id: 'CONFIRM', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
