<main id="flexMain">
    <!-- Nav -->
    <nav id="flexNav">
        <!-- Change amount btn -->
        <div id="flexNavSK00">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skLeft iconButton"
                 data-bind="command: {id: 'CHANGE_AMOUNT', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_ChangeAmount', 'Change')}, eppkey: 'F8', adakey: '1'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CHANGE_AMOUNT')"></var>
                <object type="image/svg+xml" data="style/default/images/change_check_amount.svg"></object>
            </div>
        </div>
        <!-- Decline btn -->
        <div id="flexNavSK01">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skLeft iconButton"
                 data-bind="command: {id: 'DECLINE', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Decline', 'Decline')}, eppkey: 'F7', adakey: '2'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('DECLINE')"></var>
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
            </div>
        </div>
        <!-- First btn -->
        <div id="flexNavSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <!--<div class="button button02 skLeft iconButton"-->
                 <!--data-bind="command: {id: 'BTN_FIRST_ITEM', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_First', 'First')}, eppkey: 'F6', adakey: '3'}">-->
                <!--<var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_FIRST_ITEM')"></var>-->
                <!--<object type="image/svg+xml" data="style/default/images/first_entry.svg"></object>-->
            <!--</div>-->
            <div class="button button02 skLeft iconButton"
                 data-bind="command: {id: 'FLIP_IMAGE', adaType: ADA_TYPE.SELECTION_KEY, state: CMDSTATE.DISABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Reverse', 'Reverse')}, eppkey: 'F6', adakey: '3'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('FLIP_IMAGE')"></var>
                <object type="image/svg+xml" data="style/default/images/flip_image.svg"></object>
            </div>
        </div>
        <!-- Previous btn -->
        <div id="flexNavSK03">
            <div class="button button01 skLeft iconButton"
                 data-bind="command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Previous', 'Back')}, eppkey: 'F5', adakey: '4'}">
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
            </div>
        </div>
    </nav>

    <!-- Article -->
    <article id="flexArticle" data-bind="virtualExtend: {amountFormatted: ko.observable(''), chequeStateText: ko.observable('') }">
        <!-- Cheque information -->
        <!-- ko foreach: { data: dataList.items, as: 'item', afterRender: notify.bind($root) } -->
            <div id="chqInfoArea" data-document-zoom="out" data-bind="attr: {class: item.isAccepted() ? 'accepted' : (item.isDeclined() ? 'declined' : ''), 'data-document-zoom': $root.documentZoomState }">
                <!-- Cheque info details -->
                <div id="chqInfoDetails" data-bind="value: item.hasShown(true)"><!-- set cheque has been shown -->
                    <div id="chqInfoDetailsColumn1">
                        <var id="chqInfoDescription" class="font01 color03" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_ChequeNo', 'Cheque')() + '&nbsp;' + (item.index + 1)"></var>
                        <!-- 1. set the virtual chequeStateText dependent from the current cheque (value binding).
                             2. use just set chequeStateText for both html/adaText bindings -->
                        <var id="chqInfoStatus" data-bind="
                                value: $root.chequeStateText(item.isAccepted() ? $root.getLabel('GUI_[#VIEW_KEY#]_Label_Accepted', 'Accepted')() :
                                        (item.isDeclined() ? $root.getLabel('GUI_[#VIEW_KEY#]_Label_Declined', 'Declined')() :
                                            $root.getLabel('GUI_[#VIEW_KEY#]_Label_PleaseAccept', 'Please accept...')())),
                                html: $root.chequeStateText,
                                attr: { class: item.isAccepted() ? 'font01 color06' : (item.isDeclined() ? 'font01 color07' : 'font01 color02') },
                                format: {src: item.amount, target: $root.amountFormatted, pattern: '#M'},
                                command: {id: 'DYNAMIC_ADA_CMD', action: null, adaType: $root.ADA_TYPE.DYNAMIC_VALUE, state: $root.CMDSTATE.NONE,
                                adaText: $root.getLabel('GUI_[#VIEW_KEY#]_DetailsInfo_ADA',
                                                        'The current cheque number is {#chequeNo#}. The cheque amount is {#chequeAmount#}. The current cheque state is {#chequeState#}.',
                                                        {},
                                                        {'chequeNo': (item.index + 1), 'chequeAmount': $root.amountFormatted, 'chequeState': $root.chequeStateText})}">
                        </var>
                    </div>
                    <div id="chqInfoDetailsColumn2">
                        <var id="chqAmountCHCCDMDescr" class="font01 color03" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_ChequeAmount', 'Cheque amount')"></var>
                        <var id="chqAmountCHCCDMValue" class="font01 color03" data-bind="text: $root.amountFormatted()"></var>
                    </div>
                </div>
                <div id="chqArea">
                    <!-- Error message -->
                    <div id="declinedMessage" data-bind="visibility: item.isDeclined">
                        <var class="font02 color03" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_ChequeDetailsHint', 'This cheque was declined and will be returned.')"></var>
                    </div>
                    <!-- Cheque -->
                    <div class="chequeImageContainer" data-bind="attr: {'data-chq-no': $index()}">
                        <div class="frontImage">
                            <img alt="" src="" data-bind="attr: {src: item.frontImagePath}">
                        </div>
                        <div class="backImage">
                            <img alt="" src="" data-bind="attr: {src: item.backImagePath}">
                        </div>
                    </div>
                </div>
                <!-- no. from <> to -->
                <div id="chqNoFromTo">
                    <var class="font01 color03" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_ChequeNo', 'Cheque')"></var>
                    <var class="font01 color01" data-bind="text: item.index + 1"></var>
                    <var class="font01 color03" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_ChequeOf', 'of')"></var>
                    <var class="font01 color03" data-bind="text: $root.maxChequeNo"></var>
                </div>
            </div>
        <!-- /ko -->
    </article>

    <!-- Aside -->
    <aside id="flexAside">
        <!-- Confirm btn -->
        <div id="flexAsideSK00">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button button02 skRight iconButton"
                 data-bind="command: {id: 'CONFIRM', args: ['CONFIRM', 'CONFIRM'], adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm Deposit')}, eppkey: ['CONFIRM', 'F1'], adakey: '5'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
        <!-- Accept btn -->
        <div id="flexAsideSK01">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'ACCEPT', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Accept', 'Accept')}, eppkey: 'F2', adakey: '6'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('ACCEPT')"></var>
            </div>
        </div>
        <!-- Last btn -->
        <div id="flexAsideSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <!--<div class="button button02 skRight iconButton"-->
                 <!--data-bind="command: {id: 'BTN_LAST_ITEM', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Last', 'Last')}, eppkey: 'F3', adakey: '7'}">-->
                <!--<object type="image/svg+xml" data="style/default/images/last_entry.svg"></object>-->
                <!--<var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_LAST_ITEM')"></var>-->
            <!--</div>-->
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'ZOOM_IN_OUT', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_ZoomInOut', 'Zoom +/-')}, eppkey: 'F3', adakey: '7'}">
                <object type="image/svg+xml" data="style/default/images/zoom_in_out.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('ZOOM_IN_OUT')"></var>
            </div>
        </div>
        <!-- Next btn -->
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button01 skRight iconButton"
                 data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Next', 'Next')}, eppkey: 'F4', adakey: '8'}">
                <object type="image/svg+xml" data="style/default/images/arrow_right.svg"></object>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>