﻿<main id="flexMain">

    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">

       <!-- envelope eject -->
        <figure data-bind="visible: viewFlexEnvelopeEject">
            <var class="font01 color02" data-bind="html: animationTextTakeEnvelope"></var>
            <div id="ejectEnvelope" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div id="envelopeEject3D" class="itemLane">
                    <div class="envelopeShortSidePerspective">
                        <object class="envelopeShortSide" type="image/svg+xml" data="style/default/images/envelope_short_side.svg" id="envelopeEjectAnimation3D"></object>
                    </div>
                    <object class="envelopeOpen" type="image/svg+xml" data="style/default/images/envelope_open.svg" id="envelopeOpenAnimation3D"></object>
                </div>
            </div>
        </figure>

        <!-- envelope deposit -->
        <figure data-bind="visible: viewFlexEnvelopeInsert">
            <var class="font01 color02" data-bind="html: animationTextInsertEnvelope"></var>
            <div id="insertEnvelope" class="flexItemsSlot">
                <object type="image/svg+xml" data="style/default/images/slot.svg"></object>
                <div id="envelopeInsert3D" class="itemLane">
                    <object class="envelopeOpen" type="image/svg+xml" data="style/default/images/envelope_filled_open.svg" id="envelopeCloseAnimation3D"></object>
                    <div class="envelopeLongSidePerspective">
                        <object class="envelopeShortSide" type="image/svg+xml" data="style/default/images/envelope_short_side.svg" id="envelopeInsertAnimation3D"></object>
                    </div>
                </div>
            </div>
        </figure>

    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
