<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav" >


        <!-- ko template: { foreach: dataList.itemsLeft, as: 'item',  afterRender: notify.bind($root) } -->
        <div data-bind="attr: {id: 'flexNavSK0' + $index()}">
            <div class="generalInputFieldAreaZone" data-bind="attr: {'data-validation-state': item.validationState, 'data-view-state': item.state}">
                <!-- Input field -->
                <var data-bind="command: {
                         id: 'BTN_'+item.id,
                         state: item.btnState,
                         adaType: $root.ADA_TYPE.SELECTION_KEY,
                         adaText: item.computedAdaText,
                         adaTextPost: item.computedAdaTextPost,
                         eppkey: 'F' + (8 - $index()),
                         adakey: $index() + 1
                    }"></var>
                <label class="generalInputLabel color05 font03" for="generalInputLeft" data-bind="attr: { for: item.id }, html: (item.state() !== 3 ) ? item.computedLabel : ''"></label>
                <input type="text" step="any" id="generalInputLeft" class="font04 generalInput" onfocus="blur();" placeholder="" tabindex="-1"
                       data-bind="
                                  attr: { placeholder: item.formattedPlaceHolder,
                                          id: item.id,
                                          tabindex: ($index() + 1),
                                          'data-validation-state': item.validationState,
                                          'data-visual-state': item.visualState(),
                                          'data-input-type': item.type
                                        },
                                  format: { src: item.value, target: item.formattedValue, placeholder_src: item.placeHolder, placeholder_target: item.formattedPlaceHolder, pattern: item.formatOption },
                                  command: { id: item.id,
                                             state: item.state,
                                             label: {value: item.formattedValue, inplace: true},
                                             adaType: $root.ADA_TYPE.INPUTFIELD,
                                             adaText: item.computedAdaLabel,
                                             adakey: $index() + 1
                                            }"
                />
                <object class="confirm" type="image/svg+xml" data="style/default/images/confirm.svg" data-bind="visible: item.validationState() === 'valid'"></object>
                <object type="image/svg+xml" data="style/default/images/attention.svg" data-bind="visible: item.validationState() === 'invalid'"></object>
            </div>
        </div>
        <!-- /ko -->

        <div id="flexNavSK03">
            <div class="button button02 skLeft iconButton"
                    data-bind="attr: {tabindex: 7}, command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Previous', 'BACK')}, eppkey: 'F5'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_UP')"></var>
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
            </div>
        </div>

    </nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- We claim separately to hear beep sound when ADA is not active, but we dont wanne see any button on the screen here due to softkey layout conventions -->
        <div id="pinPadButtons" style="display: none;">
            <!-- 1. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '1', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_1', '1')},
                                eppkey: '1',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_1_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }
                            }">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('1')"></var>
                </div>
            </div>
            <!-- 2. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '2', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_2', '2')},
                                eppkey: '2',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_2_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('2')"></var>
                </div>
            </div>
            <!-- 3. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '3', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_3', '3')}, eppkey: '3',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_3_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('3')"></var>
                </div>
            </div>
            <!-- 4. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '4', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_4', '4')}, eppkey: '4',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_4_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('4')"></var>
                </div>
            </div>
            <!-- 5. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '5', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_5', '5')}, eppkey: '5',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_5_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('5')"></var>
                </div>
            </div>
            <!-- 6. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '6', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_6', '6')}, eppkey: '6',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_6_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('6')"></var>
                </div>
            </div>
            <!-- 7. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '7', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_7', '7')}, eppkey: '7',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_7_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('7')"></var>
                </div>
            </div>
            <!-- 8. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '8', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_8', '8')}, eppkey: '8',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_8_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('8')"></var>
                </div>
            </div>
            <!-- 9. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '9', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_9', '9')}, eppkey: '9',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_9_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('9')"></var>
                </div>
            </div>
            <!-- 0. btn -->
            <div class="buttonZone">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button fieldButton" data-bind="command: {id: '0', type: CMDTYPE.BUTTON, state: CMDSTATE.ENABLED, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_0', '0')}, eppkey: '0',
                                eppkeyConfig: {
                                    keys: getLabel('GUI_[#VIEW_KEY#]_Button_0_Config'),
                                    targetElement: function(){return $root.activeItem ? $root.activeItem.id : ''}
                                }}">
                    <var class="color03 font01" data-bind="text: cmdRepos.getCmdLabel('0')"></var>
                </div>
            </div>
        </div>
        <!-- slide indicator group -->
        <div id="slideIndicatorGroup" data-bind="foreach: slides, visible: slides().length > 1">
            <div class="slideIndicator"></div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">
        <!-- ko template: { foreach: dataList.itemsRight, as: 'item',  afterRender: notify.bind($root) } -->
        <div data-bind="attr: {id: 'flexAsideSK0' + $index()}">
            <div class="generalInputFieldAreaZone" data-bind="attr: {'data-validation-state': item.validationState, 'data-view-state': item.state}">
                <var data-bind="command: {
                         id: 'BTN_'+item.id,
                         state: item.btnState,
                         adaType: $root.ADA_TYPE.SELECTION_KEY,
                         adaText: item.computedAdaText,
                         adaTextPost: item.computedAdaTextPost,
                         eppkey: 'F' + ($index() + 1),
                         adakey: $index() + 5
                    }"></var>
                <!-- Input field -->
                <label class="generalInputLabel color05 font03" for="generalInputRight" data-bind="attr: { for: item.id }, html: (item.state() !== 3 ) ? item.computedLabel : ''"></label>
                <input type="text" step="any" id="generalInputRight" class="font04 generalInput" onfocus="blur();" placeholder="" tabindex="-1"
                       data-bind="
                                  attr: { placeholder: item.formattedPlaceHolder,
                                          id: item.id,
                                          tabindex: ($index() + 1),
                                          'data-validation-state': item.validationState,
                                          'data-visual-state': item.visualState(),
                                          'data-input-type': item.type
                                        },
                                  format: {  src: item.value, target: item.formattedValue, placeholder_src: item.placeHolder, placeholder_target: item.formattedPlaceHolder, pattern: item.formatOption },
                                  command: { id: item.id,
                                             state: item.state,
                                             label: {value: item.formattedValue, inplace: true},
                                             adaType: $root.ADA_TYPE.INPUTFIELD,
                                             adaText: item.computedAdaLabel,
                                             adakey: $index() + 5
                                            } "
                />
                <object class="confirm" type="image/svg+xml" data="style/default/images/confirm.svg" data-bind="visible: item.validationState() === 'valid'"></object>
                <object type="image/svg+xml" data="style/default/images/attention.svg" data-bind="visible: item.validationState() === 'invalid'"></object>
            </div>
        </div>
        <!-- /ko -->

        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton" 
                    data-bind="attr: {tabindex: 8}, command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '8', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Next', 'NEXT')}, eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/arrow_right.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_DOWN')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <div id="buttonConfirm" class="button footerButton"
                    data-bind="command: {id: 'CONFIRM', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>

        <div class="buttonZone">
            <div id="buttonCorrect" class="button footerButton"
                    data-bind="command: {id: 'CORRECT', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, args: ['CORRECT', 'CORRECT'], eppkey: ['BACKSPACE', 'CLEAR']}">
                <var data-bind="text: cmdRepos.getCmdLabel('CORRECT')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
