<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav">
        <div id="flexNavSK00"></div>
        <div id="flexNavSK01"></div>
        <div id="flexNavSK02">
            <!--Pseudo button to take place to let pindigits area appear at the center-->
            <div class="button button03 skLeft iconButton" style="visibility: hidden;"></div>
        </div>
        <div id="flexNavSK03"></div>
    </nav>

    <!-- article -->
    <article id="flexArticle" data-bind="command: {id: 'PIN', action: designMode ? onButtonPressed : null, state: CMDSTATE.NONE}">
        <div id="pinDigitsArea" data-pin-range="low" data-bind="visibility: activatePinContainer, foreach: pinDigitExpected, attr: {'data-pin-range': maxPinLength <= 12 ? 'low' : 'high'}">
            <div class="pinDigitContainer">
                <div class="pinDigit" data-bind="attr: {class: $data ? 'pinDigit flipped' : 'pinDigit'}">
                    <!-- Using a canvas destroys the 3d animation of the pin digits -->
                    <!--<canvas class="rectangleDrawingCanvas"></canvas>-->
                    <div class="front" data-bind="attr: { class: $parent.currentPinLen() === $index() ? 'frontCurrent' : 'front' }">
                        <var class="color03 font01" data-bind="text: $parent.currentPinLen() === $index() ? '_' : ''"></var>
                    </div>
                    <div class="back">
                        <var class="color02 font01">*</var>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">
        <div id="flexAsideSK00"></div>
        <div id="flexAsideSK01"></div>
        <div id="flexAsideSK02">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button button03 skRight iconButton"
                 data-bind="command: {id: 'CONFIRM', args: ['CONFIRM', 'CONFIRM'], state: CMDSTATE.DISABLED, adaType: ADA_TYPE.FUNCTION_KEY, adakey: '2', label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: ['CONFIRM', 'F3']}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonCancel" class="button button03 skRight iconButton"
                 data-bind="command: {id: 'CANCEL', args: ['CANCEL','CANCEL'], state: CMDSTATE.DISABLED, adaType: ADA_TYPE.FUNCTION_KEY, adakey: '1', label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: ['F4', 'CANCEL']}">
                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>

        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <div id="buttonCorrect" class="button footerButton"
                    data-bind="command: {id: 'CORRECT', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Correct', 'Correct')}, eppkey: 'BACKSPACE'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CORRECT')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel"></div>
</footer>
