<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav"></nav>

    <!-- article -->
    <article id="flexArticle">

        <!-- Points loader -->
        <figure id="waitLine" style="visibility: hidden;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </figure>

         <!-- Wave spinner -->
        <!--<figure id="spinnerWave">-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
            <!--<div></div>-->
        <!--</figure>-->
    </article>

    <!-- aside -->
    <aside id="flexAside"></aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>