<main id="flexMain">
    <!-- Nav -->
    <nav id="flexNav">
        <!-- Scan again btn -->
        <div id="flexNavSK00">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skLeft iconButton"
                 data-bind="command: {id: 'SCAN_AGAIN', adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_ScanAgain', 'Scan again')}, eppkey: 'F8', adakey: '1'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('SCAN_AGAIN')"></var>
                <object type="image/svg+xml" data="style/default/images/change_check_amount.svg"></object>
            </div>
        </div>
        <!-- Accept btn -->
        <div id="flexNavSK01"></div>
        <div id="flexNavSK02"></div>
        <div id="flexNavSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skLeft iconButton"
                 data-bind="command: {id: 'PRINT', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', adaText: getLabel('GUI_[#VIEW_KEY#]_Button_Print_ADA', 'Print'), adaTextPost: getLabel('GUI_[#VIEW_KEY#]_Button_Print_ADA_Clicked', 'Print'), eppkey: 'F5'}">
                <object type="image/svg+xml" data="style/default/images/printer.svg"></object>
            </div>
        </div>
    </nav>

    <!-- Article -->
    <article id="flexArticle">
        <div id="chqInfoArea">
            <div id="chqInfoDetails">
                <div id="chqInfoDetailsColumn1">
                    <var class="font02 color01" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_DocumentType', 'Document')"></var>
                    <var class="font02 color09" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Label_DocumentSide', '')"></var>

                </div>
                <div id="chqInfoDetailsColumn2">
                    <var class="font02 color02" data-bind="html: isAccepted() ? getLabel('GUI_[#VIEW_KEY#]_Label_Accepted', '') : getLabel('GUI_[#VIEW_KEY#]_Label_PleaseAccept', '')"></var>
                </div>
            </div>
            <div id="imgViewer">
                <div id="chqImgCarrier1" class="chqImg"></div>
                <div id="chqImgCarrier2" class="chqImg"></div>
            </div>
            <div id="idScanImage" class="chequeScanningAnimation3D">
                <div id="chequeScanRedLight"></div>
            </div>
        </div>
    </article>

    <!-- Aside -->
    <aside id="flexAside">
        <!-- Accept btn -->
        <div id="flexAsideSK00">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div id="buttonConfirm" class="button button02 skRight iconButton"
                 data-bind="command: {id: 'ACCEPT', args: ['ACCEPT','ACCEPT'], adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Accept', 'Accept')}, eppkey: ['F1','CONFIRM'], adakey: '5'}">
                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('ACCEPT')"></var>
            </div>
        </div>
        <!-- Next image btn -->
        <div id="flexAsideSK01">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'NEXT_IMAGE', state: CMDSTATE.HIDDEN, adaType: ADA_TYPE.SELECTION_KEY, eppkey: 'F2', adakey: '6'}">
                <object type="image/svg+xml" data="style/default/images/flip_image.svg"></object>
                <var class="color03 font01" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Button_NextImage', 'Next image')"></var>
            </div>
        </div>
        <div id="flexAsideSK02"></div>
        <!-- Zoom btn -->
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                 data-bind="command: {id: 'ZOOM_IN_OUT', state: CMDSTATE.HIDDEN, adaType: ADA_TYPE.SELECTION_KEY, eppkey: 'F4', adakey: '8'}">
                <object type="image/svg+xml" data="style/default/images/zoom_in_out.svg"></object>
                <var class="color03 font01" data-bind="html: $root.getLabel('GUI_[#VIEW_KEY#]_Button_Zoom', 'Zoom in/out')"></var>
            </div>

        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra">
        <div class="buttonZone">
            <div class="button footerButton"
                 data-bind="command: {id: 'CONFIRM', state: CMDSTATE.HIDDEN, adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Confirm', 'Confirm')}, eppkey: 'CONFIRM'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CONFIRM')"></var>
            </div>
        </div>
    </div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var data-bind="text: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>