<main id="flexMain">
    <!-- nav -->
    <nav id="flexNav">
        <!-- ko template: { foreach: dataList.itemsLeft, afterRender: notify.bind($root) } -->
            <div data-bind="attr: {id: 'flexNavSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button button04 skLeft iconButton" data-bind="
                        attr: { class: 'button button04 skLeft iconButton ' + $data.prominent},
                        command: {id: $data.result, adaType: $root.ADA_TYPE.SELECTION_KEY, adaText: $data.adaText, adaTextPost: $data.adaPost, adakey: ($index() + 1), state: $data.state, eppkey: 'F' + (8 - $index())}">
                    <var class="color03 font01" data-bind="html: $data.captions[0]"></var>
                    <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                </div>
            </div>
        <!-- /ko -->
        <div id="flexNavSK03">
            <div class="button button02 skLeft iconButton"
                    data-bind="command: {id: 'BTN_SCROLL_UP', adaType: ADA_TYPE.SELECTION_KEY, adakey: '4', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Previous', 'BACK')}, eppkey: 'F5'}">
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_UP')"></var>
                <object type="image/svg+xml" data="style/default/images/arrow_left.svg"></object>
            </div>
        </div>
    </nav>

    <!-- article -->
    <article id="flexArticle">
        <!-- slide indicator group -->
        <div id="slideIndicatorGroup" data-bind="foreach: slides, visible: slides().length > 1">
            <div class="slideIndicator"></div>
        </div>
    </article>

    <!-- aside -->
    <aside id="flexAside">
        <!-- ko template: { foreach: dataList.itemsRight, afterRender: notify.bind($root) } -->
            <div data-bind="attr: {id: 'flexAsideSK0' + $index()}">
                <canvas class="rectangleDrawingCanvas"></canvas>
                <div class="button button04 skRight iconButton" data-bind="
                        attr: { class: 'button button04 skRight iconButton ' + $data.prominent},
                        command: {id: $data.result, adaType: $root.ADA_TYPE.SELECTION_KEY, adaText: $data.adaText, adaTextPost: $data.adaPost, adakey: $index() + 5, state: $data.state, eppkey: 'F' + ($index() + 1)}">
                    <object type="image/svg+xml" data="style/default/images/icon_empty.svg" data-bind="svgobject: { svgname: $data.icon }"></object>
                    <var class="color03 font01" data-bind="html: $data.captions[0]"></var>
                </div>
            </div>
        <!-- /ko -->
        <div id="flexAsideSK03">
            <canvas class="rectangleDrawingCanvas"></canvas>
            <div class="button button02 skRight iconButton"
                    data-bind="command: {id: 'BTN_SCROLL_DOWN', adaType: ADA_TYPE.SELECTION_KEY, adakey: '8', state: CMDSTATE.HIDDEN, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Next', 'NEXT')}, eppkey: 'F4'}">
                <object type="image/svg+xml" data="style/default/images/arrow_right.svg"></object>
                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('BTN_SCROLL_DOWN')"></var>
            </div>
        </div>
    </aside>
</main>

<!-- footer -->
<footer id="flexFooter">
    <div id="flexExtra"></div>
    <div id="flexCancel">
        <div class="buttonZone">
            <div id="buttonCancel" class="button footerButton"
                    data-bind="command: {id: 'CANCEL', adaType: ADA_TYPE.FUNCTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}">
                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL')"></var>
            </div>
        </div>
    </div>
</footer>
