﻿<!-- main -->
<main id="flexMain">
  <!-- <var class="font01 color02" id="welcomeMessage1"></var>
    <var class="font01 color03" id="welcomeMessage2"></var> -->
  <div
    style="
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 900px;
    "
  >
    <div 
    style="border: 1px solid white;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-basis: 1;
    height: 100%;
    margin-bottom: 1em;
    min-height: 300px;
    width: 47%;
    ">
    ?
    </div>    <div 
    style="border: 1px solid white;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-basis: 1;
    height: 100%;
    margin-bottom: 1em;
    min-height: 300px;
    width: 47%;
    ">
    ?
    </div>
  </div>
</main>

<!-- footer -->
<footer id="flexFooter">
  <div id="flexExtra"></div>
  <div id="flexCancel"></div>
</footer>
