/*Place your changes here*/
.fassil_style_div_01 {
    display: flex;
    width: 90%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: white;
  }

  .fassil_style_div_02 {
    color: white;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 50px;
    width: 400px;
  }

  .fassil_style_div_03 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
  }

  .fassil_style_i_01 {
    padding: 7px;
    color: #03AFAF;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
  }