@charset "utf-8";

/*!
 Copyright (c) 2001-2017 by Wincor Nixdorf International GmbH,
 Heinz-Nixdorf-Ring 1, 33106 Paderborn, Germany

 This software is the confidential and proprietary information
 of Wincor Nixdorf.
 You shall not disclose such Confidential Information and shall
 use it only in accordance with the terms of the license agreement
 you entered into with Wincor Nixdorf.


*/


/*
 * CSS document for resolution-independent information
 */


/*---- Comments guidelines: ----*/


/*
 * Headline
 */


/*---- Sub headline: ----*/


/*-- Element specific --*/


/* Attribute specific */


/*---- General order of attributes: ----*/


/*
element, #id, .class {
    display: none / flex / block / inline;
    visibility: hidden;
    opacity: <number>; (between 0 and 1)
    flex-direction: column / row;
    order: <number>;
    flex-grow: 0 / 1;
    flex-shrink: 0 / 1;
    align-self: flex-start / center / flex-end;
    align-items: flex-start / center / flex-end;
    justify-content: flex-start / center / flex-end;
    flex-flow: wrap / column wrap / row wrap;
    z-index: <number>;
    overflow, overflow-x, overflow-y: auto / hidden;
    content: <string>;
    background-color: <string> / <hex>;
    color: <string> / <hex>;
    font-family: <string>;
    font-weight: bold;
    text-align: left / center / right;
    font-style: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: <string> <string> / <hex>;
    box-shadow: <numberx <numberx <numberx <color> <form>; (no influence on sizes and positions)
    outline: none;
    cursor: text / not-allowed;
    pointer-events: none;
    -webkit-text-size-adjust: <number>%;
    -webkit-user-select: none;
    -webkit-appearance: none;
    -webkit-text-stroke-color: <string> / <hex>;
    appearance: none;
}
*/

:root {
    /* basic colors*/
    --color01: #1a9790;
    --color02: #fff;
    --color03: #fff;
    --color04: rgba(0, 0, 0, 1);
    --color05: rgba(41, 40, 44, 1);
    --color06: rgba(0, 255, 0, 1);
    --color07: #09046A;
    --color08: rgba(255, 100, 0, 1);
    --color09: rgba(3, 62, 119, 0.5);
    ;
    --color10: rgba(255, 255, 0, 1);
    --color11: #09046A;
    /* alpha variants */
    --color01-alpha-0: rgba(0, 255, 255, 0);
    --color01-alpha-2: rgba(0, 255, 255, 0.02);
    --color01-alpha-5: rgba(0, 255, 255, 0.05);
    --color01-alpha-7: rgba(0, 255, 255, 0.07);
    --color01-alpha-9: rgba(0, 255, 255, 0.09);
    --color01-alpha-10: rgba(0, 255, 255, 0.10);
    --color01-alpha-15: rgba(0, 255, 255, 0.15);
    --color01-alpha-25: rgba(25, 38, 188, 0.23);
    --color01-alpha-30: rgba(37, 72, 111, 0.69);
    --color01-alpha-40: rgba(0, 255, 255, 0.4);
    --color01-alpha-50: rgba(0, 255, 255, 0.5);
    --color01-alpha-60: rgba(8, 41, 87, 0.94);
    --color01-alpha-70: rgba(8, 41, 87, 0.82);
    --color01-alpha-80: rgba(0, 255, 255, 0.8);
    --color02-alpha-0: rgba(255, 255, 0, 0);
    --color02-alpha-15: rgba(255, 255, 0, 0.15);
    --color02-alpha-25: rgba(255, 255, 0, 0.25);
    --color02-alpha-30: rgba(255, 255, 0, 0.3);
    --color02-alpha-40: rgba(255, 255, 0, 0.4);
    --color02-alpha-50: rgba(255, 255, 0, 0.5);
    --color02-alpha-60: rgba(255, 255, 0, 0.6);
    --color02-alpha-70: rgba(255, 255, 0, 0.7);
    --color02-alpha-80: rgba(255, 255, 0, 0.8);
    --color03-alpha-0: rgba(255, 255, 255, 0);
    --color03-alpha-1: rgba(255, 255, 255, 0.01);
    --color03-alpha-2: rgba(255, 255, 255, 0.02);
    --color03-alpha-5: rgba(255, 255, 255, 0.05);
    --color03-alpha-10: rgba(255, 255, 255, 0.1);
    --color03-alpha-15: rgba(255, 255, 255, 0.15);
    --color03-alpha-20: rgba(255, 255, 255, 0.2);
    --color03-alpha-25: rgba(255, 255, 255, 0.25);
    --color03-alpha-30: rgba(255, 255, 255, 0.3);
    --color03-alpha-40: rgba(255, 255, 255, 0.4);
    --color03-alpha-50: rgb(215 224 234 / 79%);
    --color03-alpha-60: rgba(255, 255, 255, 0.6);
    --color03-alpha-70: rgba(255, 255, 255, 0.7);
    --color03-alpha-80: rgba(255, 255, 255, 0.8);
    --color04-alpha-0: rgba(0, 0, 0, 0);
    --color04-alpha-20: rgba(0, 0, 0, 0.2);
    --color04-alpha-30: rgba(0, 0, 0, 0.3);
    --color04-alpha-40: rgba(0, 0, 0, 0.4);
    --color04-alpha-50: rgba(0, 0, 0, 0.5);
    --color04-alpha-60: rgba(0, 0, 0, 0.6);
    --color04-alpha-70: rgba(0, 0, 0, 0.7);
    --color04-alpha-80: rgba(0, 0, 0, 0.8);
    --color06-alpha-0: rgba(0, 255, 0, 0);
    --color06-alpha-25: rgba(0, 255, 0, 0.25);
    --color06-alpha-30: rgba(0, 255, 0, 0.3);
    --color06-alpha-40: rgba(0, 255, 0, 0.4);
    --color06-alpha-60: rgba(0, 255, 0, 0.6);
    --color06-alpha-70: rgba(0, 255, 0, 0.7);
    --color06-alpha-80: rgba(0, 255, 0, 0.8);
    --color07-alpha-0: rgba(255, 0, 0, 0);
    --color07-alpha-15: rgba(255, 0, 0, 0.15);
    --color07-alpha-25: rgba(255, 0, 0, 0.25);
    --color07-alpha-30: rgba(8, 41, 87, 0.84);
    --color07-alpha-50: rgba(255, 0, 0, 0.5);
    --color07-alpha-60: #082957;
    --color07-alpha-80: rgba(255, 0, 0, 0.8);
    --color09-alpha-0: var(--color03-alpha-0);
    --color09-alpha-1: var(--color03-alpha-1);
    --color09-alpha-2: var(--color03-alpha-2);
    --color09-alpha-5: var(--color03-alpha-5);
    --color09-alpha-10: var(--color03-alpha-10);
    --color09-alpha-15: var(--color03-alpha-15);
    --color09-alpha-20: var(--color03-alpha-20);
    --color09-alpha-25: var(--color03-alpha-25);
    --color09-alpha-30: var(--color03-alpha-30);
    --color09-alpha-40: var(--color03-alpha-40);
    --color09-alpha-50: var(--color03-alpha-50);
    --color09-alpha-60: var(--color03-alpha-60);
    --color10-alpha-0: var(--color02-alpha-0);
    --color10-alpha-15: var(--color02-alpha-15);
    --color10-alpha-25: var(--color02-alpha-25);
    --color10-alpha-30: var(--color02-alpha-30);
    --color10-alpha-40: var(--color02-alpha-40);
    --color10-alpha-50: var(--color02-alpha-50);
    --color10-alpha-60: var(--color02-alpha-60);
    --color10-alpha-70: var(--color02-alpha-70);
    --color10-alpha-80: var(--color02-alpha-80);
    /* special colors*/
    --color01-sliding-checkbox-label: rgb(0, 139, 139);
    --color03-generalinputback-popup: rgb(66, 65, 70);
    --color04-generalinputback: rgb(40, 40, 40);
    --color04-generalinputback-txnbkg: rgb(40, 45, 48);
    --colorSignatureBackground: var(--color05);
    /* buttons */
    --command-automation-duration: 0.15s;
    /* general */
    background: var(--color05);
}


/*---- Normalization of elements ----*/

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    /* Avoid scroll bars */
    user-select: none;
    /* Touch specific */
    -webkit-user-select: none;
    /* Touch specific */
    -moz-user-select: none;
    /* Touch specific */
    background: rgb(0, 43, 88);
    background: radial-gradient(circle, rgba(0, 43, 88, 1) 20%, rgba(19, 17, 50, 1) 100%);
}

img,
object {
    pointer-events: none;
}

table {
    border-collapse: collapse;
}

canvas {
    color: var(--color01);
}


/*
 * General layouts, colors and fonts
 */


/*-- Colors --*/

.color01 {
    color: var(--color01);
}

.color02 {
    color: var(--color02);
}

.color03 {
    color: var(--color03);
}

.color04,
button:disabled>var,
.disabled>var {
    color: var(--color04);
}

.color05 {
    color: var(--color05);
}

.color06 {
    color: var(--color06);
}

.color07 {
    color: var(--color07);
}

.color08 {
    color: var(--color08);
}

.color09 {
    color: var(--color09);
}

.color10 {
    color: var(--color10);
}


/*-- Fonts --*/

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../../fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-style: normal;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../../fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../../fonts/Quivira/Quivira.otf) format('opentype');
    font-weight: normal;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
    ;
}


/*-- Text --*/

label,
p,
var,
span,
.subMenuItem::after {
    color: var(--color01);
    font-style: normal;
    text-align: start;
    word-wrap: break-word;
    cursor: inherit;
}

@keyframes textEmphasize {
    50% {
        text-shadow: 0 0 30px var(--color09);
        transform: scaleX(0.9);
    }
}

.textAnimationIn {
    animation: slideInLeft 0.6s ease-in;
}

.textEmphasize {
    animation: textEmphasize 1.5s 3 ease-in-out;
    transform-origin: 0;
}


/*-- Design Time Runner --*/

#activator_icon {
    pointer-events: none;
}

.dtr_menu_activator {
    display: none;
    pointer-events: all;
    opacity: 0.8;
    z-index: 99991;
}

.dtr_menu_activator:active {
    pointer-events: all;
}

.dtr_menu {
    display: none;
    background: var(--color04-alpha-20);
    overflow-y: auto;
    z-index: 99990;
    box-shadow: 3px 3px 3px var(--color04);
    border-top: 1px groove var(--color04);
    border-right: 1px groove var(--color04);
    border-bottom: 1px groove var(--color04);
}

#dtr_menu .generalInput {
    text-align: left;
}

#dtr_menu_items .dtr_menu_item,
#dtr_more_items .dtr_menu_item {
    display: inline-flex;
    pointer-events: auto;
    text-transform: lowercase;
}

#dtr_menu_items .dtr_menu_item_ext>var {
    text-transform: none;
}

.dtr_menu_item:hover,
.dtr_menu_item:focus {
    background-color: var(--color02);
    color: var(--color04);
}

.dtr_menu_item.tooltip {
    display: inline;
    position: relative;
}

.dtr_menu_item.tooltip:hover::after {
    background: var(--color09-alpha-1);
    background: var(--color04-alpha-80);
    color: var(--color09);
    content: attr(data-item-name);
}


/*---- Grid layout of screen ----*/

#flexHeader,
#flexMain,
#flexMainPopup,
#flexFooter,
#flexNav,
#flexNavPopup,
#flexArticle,
#flexArticlePopup,
#flexAside,
#flexAsidePopup {
    display: flex;
}


/* Select child after applicationHost */

body>:first-child>:first-child {
    display: flex;
    flex-direction: column;
    /* because sometimes the footer is rendered in the middle of the view before the article comes in and push the footer down*/
    justify-content: space-between;
}


/* Switch off all figures until ko activates them */

figure {
    display: none;
    transform: translatez(0);
}


/*-- Header --*/

#flexHeader {
    order: 1;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: visible;
}

#flexHeaderTop,
#flexHeaderBottom,
#flexAdditionalHeaderInfo,
#flexTime,
#flexHelp {
    display: flex;
}


/*-- Header-top --*/

#flexHeaderTop {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Ubuntu Light", Quivira, Arial, Verdana, sans-serif;
}

#flexLogo {
    order: 1;
}

#flexLogo>:first-child {
    /*  For Chrome 'content: url(...)' will also work, but not for Firefox.
        Therefore we have to use 'background:  ', which is commonly recommended for all browsers*/
    background: url('../../../default/images/fassil_logo.svg') no-repeat;
}


/*-- Additional header info --*/

#flexAdditionalHeaderInfo {
    order: 2;
    justify-content: center;
    align-items: center;
}


/*-- Help --*/

#flexHelp {
    order: 3;
    /*use flex-end to display the globe, question mark, etc. at the bottom of the line*/
    align-items: flex-end;
}

#flexHelp>div {
    background: none;
    border: none;
    box-shadow: none;
}


/*-- Date/Time --*/

#flexTime {
    order: 4;
    flex-direction: column;
    justify-content: flex-end;
    /*this way, 'time' and 'date' are displayed at the bottom of the column and we do not have to set a pixel padding onto the top direction*/
}

#flexHeader[data-message-visible="true"] time {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}


/*-- Header-bottom --*/

#flexHeaderBottom {
    order: 2;
    flex-direction: column;
    /*For smooth toggle when header message disappears*/
    opacity: 1;
    transition: opacity 0.5s;
}

#flexHeader[data-message-visible="true"]:not([data-view-id="message"]):not([data-view-id="question"]):not([data-view-id="questionerror"]):not([data-view-id="questionsuccessfulltransaction"]):not([data-view-id="questionaccountbalance"]):not([data-view-id="questionwarning"]):not([data-view-id="questionrecibe"]):not([data-view-id="receipt"]) #flexHeaderBottom {
    opacity: 0;
    /*For smooth toggle when header message appears*/
    transition: opacity 0.5s;
}

#flexHeader[data-message-visible="true"] #flexAdditionalHeaderInfo {
    opacity: 0.15;
    /*For smooth toggle when header message appears*/
    transition: opacity 0.5s;
}

div[data-popup-active="true"] #headline,
div[data-popup-active="true"] #instruction,
div[data-popup-active="true"] #flexTime,
div[data-popup-active="true"] #flexAdditionalHeaderInfo,
div[data-popup-active="true"] #flexNav,
div[data-popup-active="true"] #flexArticle,
div[data-popup-active="true"] #flexAside {
    opacity: 0.15;
}


/*-- Main --*/

#flexMain,
#flexMainPopup {
    order: 2;
    flex-direction: row;
    overflow: visible;
    flex-grow: 1;
    z-index: 2;
}

#flexMain.hideFlexMainOnActiveVK {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}


/*-- Nav --*/

#flexNav,
#flexNavPopup {
    order: 1;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: visible;
    z-index: 1;
}


/*-- Article --*/

#flexArticle,
#flexArticlePopup {
    flex-direction: row;
    order: 2;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    overflow: visible;
    z-index: -1;
}


/*-- Aside --*/

#flexAside,
#flexAsidePopup {
    order: 3;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: visible;
    z-index: 1;
}


/*-- Footer --*/

#flexFooter {
    order: 3;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 5;
}

div[data-popup-active="true"] #flexFooter {
    opacity: 0.15;
}

#flexExtra,
#flexCancel {
    align-items: flex-end;
}

#flexExtra .button,
#flexCancel .button {
    align-items: flex-start;
}

#flexExtra {
    order: 2;
    flex-grow: 2;
}

#flexCancel {
    order: 1;
    flex-grow: 44;
}

#flexCancel object,
#flexExtra #buttonConfirm object,
#flexExtra .buttonConfirm object,
#flexExtra #buttonCorrect object {
    /*switch off icon*/
    display: none;
}


/*
 * Element specific
 */


/*-- General alignment of figures --*/

article figure {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-end;
    overflow: visible;
}


/*-- Buttons --*/


/*
   To profit from flex box model div element is styled as a button with class .button
   Please keep in mind that not everything is working in the same way for div and button and
   vice versa, in particular the flex box model for button.
*/

button *,
object {
    pointer-events: none;
}

button {
    /*needs an explicit setting to ensure cursor is hidden when 'hideCursor' param is true*/
    cursor: inherit;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translatez(0);
}

.button.dialogButton {
    justify-content: space-around;
}

.button.footerButton {
    flex-direction: row;
    justify-content: space-around;
}

#flexFooter #buttonCorrect {
    /*usually the left border is none of correct, but we want one because we use it as a reset button*/
    border-left: 1px solid var(--color10);
}

.button,
#buttonCancel,
#buttonConfirm,
.buttonConfirm,
#buttonCorrect,
#buttonCancelPopup,
#buttonConfirmPopup,
#buttonCorrectPopup {
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 17%);
    outline: none;
}

.button {
    background: linear-gradient(to bottom, #00194C, rgba(0, 51, 154, 0.43) 92.54%), #000C35;
    border: 1px solid var(--color01);
    transition: border 0.15s;
}

#buttonCancel,
#buttonCancelPopup {
    background: var(--color03);
    border: 1px solid rgba(3, 62, 119, 0.5);
    border-radius: 28px;
}

#buttonConfirm,
.buttonConfirm,
#buttonConfirmPopup {
    background: linear-gradient(270deg, #68EAFE 0%, rgba(255, 255, 255, 0) 74.48%), #00C1DF;
    transition: border 0.15s;
}

#buttonCorrect,
#buttonCorrectPopup {
    background: linear-gradient(180deg, var(--color10-alpha-60) 0%, var(--color10-alpha-30) 100%);
    border: 1px solid var(--color10);
    border-left: none;
    transition: border 0.15s;
}

.button.pressed {
    transform: scale(0.92);
}

.button.activeCenter {
    animation: activeCenterAnim var(--command-automation-duration) ease-out;
}

.button.activeUpper {
    box-shadow: 0 10px 5px 0 var(--color04);
    animation: activeUpperAnim var(--command-automation-duration) ease-out;
}

.button.activeLower {
    box-shadow: 0 -10px 5px 0 var(--color04);
    animation: activeLowerAnim var(--command-automation-duration) ease-out;
}

.button.activeLeft {
    box-shadow: 10px 0 5px 0 var(--color04);
    animation: activeLeftAnim var(--command-automation-duration) ease-out;
}

.button.activeRight {
    box-shadow: -10px 0 5px 0 var(--color04);
    animation: activeRightAnim var(--command-automation-duration) ease-out;
}

.button.activeUpperLeft {
    box-shadow: 10px 10px 17px 0 var(--color04);
    animation: activeUpperLeftAnim var(--command-automation-duration) ease-out;
}

.button.activeLowerLeft {
    box-shadow: 10px -10px 17px 0 var(--color04);
    animation: activeLowerLeftAnim var(--command-automation-duration) ease-out;
}

.button.activeUpperRight {
    box-shadow: -10px 10px 17px 0 var(--color04);
    animation: activeUpperRightAnim var(--command-automation-duration) ease-out;
}

.button.activeLowerRight {
    box-shadow: -10px -10px 17px 0 var(--color04);
    animation: activeLowerRightAnim var(--command-automation-duration) ease-out;
}

.button[disabled],
.disabled,
#buttonConfirm[disabled],
.buttonConfirm[disabled],
#buttonConfirmPopup[disabled],
#buttonCancel[disabled],
#buttonCancelPopup[disabled],
#buttonCorrect[disabled],
#buttonCorrectPopup[disabled] {
    box-shadow: none;
    pointer-events: none;
}

.button[disabled],
.disabled {
    background: var(--color01-alpha-25);
    border: 1px solid var(--color01-alpha-0);
    transition: background 0.25s;
}

#buttonCancel[disabled],
#buttonCancelPopup[disabled] {
    background: var(--color07-alpha-25);
    border: 1px solid var(--color07-alpha-0);
    transition: background 0.25s;
}

#buttonConfirm[disabled],
.buttonConfirm[disabled],
#buttonConfirmPopup[disabled] {
    background: var(--color06-alpha-25);
    border: 1px solid var(--color06-alpha-0);
    transition: background 0.25s;
}

#buttonCorrect[disabled],
#buttonCorrectPopup[disabled],
#flexFooter #buttonCorrect[disabled] {
    background: var(--color10-alpha-25);
    border: 1px solid var(--color10-alpha-0);
    border-left: none;
    transition: background 0.25s;
}

.button[disabled]>var,
.disabled>var,
.button[disabled] span,
.disabled span {
    color: var(--color04-alpha-50);
    text-shadow: none;
    transition: background 0.25s;
}

.checkBoxItem[disabled],
.radioButtonItem[disabled],
.radioButton[disabled] {
    opacity: 0.25;
}

.checkBoxItem[disabled] .slidingCheckBox,
.radioButtonItem[disabled] .radioButton {
    opacity: 0.7;
}

.button[disabled]>img,
.disabled>img,
.button[disabled]>object,
.disabled>object,
.checkBoxItem[disabled]>object,
.radioButtonItem[disabled]>object {
    opacity: 0.2;
    transition: opacity 0.25s;
}

.button var,
.button span {
    display: inherit;
    align-items: center;
    text-align: center;
    text-transform: none;
    /* text-shadow: 1px 1px 1px var(--color04); */
}

.subMenuItem[disabled]::after {
    color: var(--color03-alpha-25);
}

.subMenuItem::after {
    position: absolute;
    content: '\22ee';
    color: var(--color03);
}


/*
 * Each button stays within a single button zone, one or more button zone may stay in a buttonsZone (plural)
 * A view may have more than one buttons zones, that's why it is a class instead of an id.
 */

.buttonsZone {
    display: flex;
}


/*
 * Component specific
 */

.disabledElement {
    opacity: 0.25;
}

.borderLineDrawingColor {
    color: var(--color01);
}


/*-- Selection bread crumbs --*/

.breadCrumb {
    position: relative;
    color: var(--color02);
    background: var(--color01-alpha-50);
}

.breadCrumb:last-child {
    color: var(--color03);
}

.breadCrumb:first-child {
    color: var(--color02);
}

.breadCrumb:active:not(:last-child) {
    color: var(--color03);
}

.breadCrumb::after {
    /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
    position: absolute;
    content: '';
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 1px var(--color04-alpha-60), 3px -3px 0 2px var(--color09-alpha-15);
}

.breadCrumb:last-child::after {
    /*we don't need an arrow after the last link*/
    content: none;
}

.breadCrumb::before {
    /*we will use the :before element to show numbers*/
    position: absolute;
    content: attr(data-number);
    text-align: center;
    alignment: center;
    color: var(--color03);
}


/*-- Inputs and textareas --*/

input,
textarea {
    cursor: inherit;
    outline: none;
}


/* Set explicit for textarea, because there seems to be no inheritance from html */

textarea {
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="text"]:enabled,
input[type="number"]:enabled,
input[type="email"]:enabled,
input[type="search"]:enabled,
input[type="tel"]:enabled,
input[type="url"]:enabled,
textarea:enabled {
    background: var(--color09);
    border: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: var(--color09);
    border: none;
}

input:disabled,
textarea:disabled {
    opacity: 0.7;
    background-color: var(--color09-alpha-30);
    border: 1px solid var(--color09-alpha-30);
}

div[data-view-id="formentry"] input:disabled {
    background-color: var(--color09-alpha-40);
    border: 2px solid var(--color09-alpha-0);
}

.generalInputLabel {
    text-shadow: none;
    color: var(--color05);
    z-index: 100;
}


/* enabled but not the active input field */

input[data-visual-state="0"] {
    opacity: 1;
}


/* pressed = active input field */

input[data-visual-state="1"] {
    opacity: 1;
    border: 2px solid var(--color01);
}


/* Use a different style for inputs which are disabled, but should much as visible as other elements are */

input:disabled:required,
textarea:disabled:valid {
    opacity: 1;
}


/* Disable Webkit spin-buttons for inputs with type="number" */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* validation state: empty: no value or disabled */

input[data-validation-state="empty"]:not([id="generalVKInput"]) {
    border: 2px solid var(--color09);
}


/* validation state: valid */

input[data-validation-state="valid"]:not([id="generalVKInput"]) {
    border: 2px solid var(--color06);
}


/* validation state: wrong */

input[data-validation-state="invalid"]:not([id="generalVKInput"]) {
    border: 2px solid var(--color07);
}


/* validation state: empty: no value or disabled */

var[data-validation-state="empty"] {
    /* no additional style */
}


/* validation state: valid */

var[data-validation-state="valid"] {
    color: var(--color06);
}


/* validation state: wrong */

var[data-validation-state="invalid"] {
    color: var(--color07);
}


/* Style for the HTML5 placeholder attribute within input or form fields */

input::placeholder {
    color: var(--color04);
    opacity: 0.3;
}


/*-- Scrollbar --*/

::-webkit-scrollbar-track {
    border: solid var(--color01);
}

::-webkit-scrollbar-thumb {
    background: var(--color01-alpha-40);
}

.scrollbar-vertical {
    background-color: var(--color03-alpha-50);
    z-index: 2;
}

.scrollbar-horizontal {
    background: #979AA6;
    z-index: 2;
}

.generalInput,
#generalInputFieldArea,
.generalInputFieldAreaZone,
#numberInput,
#charInput,
#emailInput {
    z-index: 1;
}

.generalInput {
    text-align: right;
}

.generalInputCaption {
    z-index: 2;
    text-align: right;
}


/*-- Checkboxes --*/

.slidingCheckBox {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--color01);
    box-shadow: 2px 2px 8px 0 var(--color04-alpha-80);
}

.slidingCheckBox::after,
.slidingCheckBox::before {
    position: absolute;
    z-index: 0;
    text-shadow: 2px 2px 0 var(--color04-alpha-80);
}

.slidingCheckBox::after {
    color: var(--color07-alpha-80);
    content: 'O';
}

.slidingCheckBox::before {
    color: var(--color06);
    content: 'I';
}

.slidingCheckBox label {
    display: block;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, var(--color01) 20%, var(--color01-sliding-checkbox-label) 100%);
    box-shadow: 0 2px 2px 0 var(--color04-alpha-70);
    transition: left 0.3s ease-out;
}

.slidingCheckBox input[type=checkbox] {
    /*necessary to activate slider even when user click left or right beside the label*/
    display: block;
    opacity: 0;
    z-index: 1;
}

.slidingCheckBox[disabled],
.slidingCheckBox .disabled {
    opacity: 0.25;
}


/*-- Radiobuttons --*/

.radioButton {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--color01);
    box-shadow: 2px 2px 8px 0 var(--color04-alpha-80);
}

.radioButton label {
    display: block;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, var(--color01) 20%, var(--color01-sliding-checkbox-label) 100%);
    box-shadow: 2px 2px 2px 0 var(--color04-alpha-70);
}

@keyframes radioActive {
    0% {
        transform: scale(0.5);
        box-shadow: 0 0 11px 0 var(--color01-alpha-10), 0 0 11px 0 var(--color01-alpha-30);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 11px 11px var(--color01-alpha-10), 0 0 11px 11px var(--color01-alpha-30);
    }
}

.radioButton input[type=radio]:checked+label {
    animation: radioActive 0.2s ease-out;
}

.radioButton input[type=radio] {
    display: block;
    opacity: 0;
    z-index: 1;
}

.radioButtonItem {
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
}

.radioButtonItem>var {
    align-self: center;
}


/*-- Wait spinner --*/

#waitSpinner .point {
    background-color: var(--color09-alpha-1);
}

.spinner {
    z-index: 9999;
}

#waitSpinner .circle {
    border: solid transparent;
    /* Can't be optimized since top must be separated from other border sides */
    border-top: solid var(--color09-alpha-1);
}

.spinner2 {
    border: 15px solid var(--color02-alpha-15);
    border-top: 15px solid var(--color02-alpha-80);
}


/* bounce following spinner */

#waitSpinner .followingSpinnerShape {
    background-color: var(--color02-alpha-60);
    border: 1px solid var(--color02);
    animation-name: bounce_followingSpinner;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    /*animation-timing-function: ease-in-out;*/
}

#followingSpinner_1 {
    animation-delay: 0s;
}

#followingSpinner_2 {
    animation-delay: 0.21s;
}

#followingSpinner_3 {
    animation-delay: 0.42s;
}

#followingSpinner_4 {
    animation-delay: 0.63s;
}


/* rotate plane spinner */

.rotatePlaneSpinner {
    background-color: var(--color02-alpha-60);
    border: 1px solid var(--color02);
    animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px);
    }
    50% {
        transform: perspective(120px) rotateY(180deg);
        background-color: var(--color01-alpha-60);
        border: 1px solid var(--color01);
    }
    100% {
        transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}


/* stretch play spinner */

.stretchPlaySpinner>div {
    background-color: var(--color02-alpha-60);
    border: 1px solid var(--color02);
    display: inline-block;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.stretchPlaySpinner .rect2 {
    animation-delay: -1.1s;
}

.stretchPlaySpinner .rect3 {
    animation-delay: -1.0s;
}

.stretchPlaySpinner .rect4 {
    animation-delay: -0.9s;
}

.stretchPlaySpinner .rect5 {
    animation-delay: -0.8s;
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
    }
    50% {
        background-color: var(--color01-alpha-60);
        border: 1px solid var(--color01);
    }
    20% {
        transform: scaleY(1.0);
    }
}


/* cube grid spinner */

.sk-cube-grid {
    width: 80px;
    height: 80px;
}

.sk-cube-grid .sk-cube {
    width: 30%;
    height: 30%;
    float: left;
    background-color: var(--color01-alpha-60);
    border: 1px solid var(--color01);
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        transform: scale3D(1, 1, 1);
    }
    35% {
        transform: scale3D(0, 0, 1);
    }
}


/* cube move spinner */

.cube-move {
    width: 56px;
    height: 56px;
}

.cube1,
.cube2 {
    background-color: var(--color01);
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    /*do this when animations are set off!*/
    transform: translate3d(20px, 0px, 0) rotate3d(0, 0, 1, 50deg);
    animation: sk-cubemove 0.6s infinite ease-out;
}

.cube2 {
    background-color: var(--color02);
}

.cube2 {
    animation-delay: -0.3s;
}

@keyframes sk-cubemove {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
        transform: translate3d(42px, 0, 0);
    }
    50% {
        transform: translate3d(42px, 42px, 0);
    }
    75% {
        transform: translate3d(0, 42px, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}


/* follow balls spinner */

.follow-balls {
    width: 77px;
    text-align: center;
}

.follow-balls>div {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-color: var(--color01);
    /*border-radius: 100%;*/
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.follow-balls .bounce1 {
    animation-delay: -0.32s;
}

.follow-balls .bounce2 {
    background-color: var(--color02);
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}


/*-- OK-ZOOM --*/

.ok-loupe {
    /*to overwrite script values from 'okzoom' plugin*/
    border: 2px solid var(--color09) !important;
    box-shadow: 2px 2px 5px var(--color04) !important;
}


/*-- Components - Popup overlay and window --*/

.modalOverlay,
.modalOverlayPopup {
    background-color: var(--color04-alpha-60);
    z-index: 1000;
}

#waitSpinnerModalOverlay.modalOverlay {
    background-color: var(--color04-alpha-30);
}

.modalOverlayUndarken {
    background-color: transparent;
}

.popupWindow {
    display: flex;
    flex-direction: column;
    background-color: var(--color04);
    border: 1px solid var(--color09);
    box-shadow: 2px 2px 8px var(--color04-alpha-80);
    word-wrap: break-word;
    animation: fadeIn 0.35s ease-in;
}

#flexMainPopup {
    order: 2;
    flex-direction: column;
    overflow: visible;
}

#popupWindowContent {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #004388 linear-gradient(180deg, var(--color09-alpha-15) 0%, var(--color07-alpha-0) 100%);
}

#popupWindowContent>main {
    overflow: visible;
    justify-content: space-between;
}

#popupWindowContent .buttonsZone {
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}


/*PopupAmountEntry*/

#flexArticlePopupAmountEntry {
    display: flex;
    flex-direction: column;
}

#popupWindowAmountEntry #flexMainPopup {
    flex-direction: row;
    justify-content: center;
}


/*Popup Help*/

#flexArticlePopupHelp {
    display: flex;
    flex-direction: column;
}

#popupWindowHelp #flexMainPopup {
    flex-direction: column;
}

#popupWindowHelp #helpContent {
    overflow: hidden;
}


/*Popup Selection*/

#popupWindowSelection #flexMainPopup {
    flex-direction: column;
}

#flexArticlePopupSelection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}


/* pleasewait.component Popup*/

#pleaseWaitPopup #flexArticlePopup {
    flex-direction: column;
    justify-content: flex-start;
}

#pleaseWaitPopup #flexArticlePopup>var {
    align-self: center;
}


/* pop up hints */

.popupHint,
.popupHint[data-content-style$="InfoBox"] {
    display: inline-block;
    background: var(--color05) linear-gradient(180deg, var(--color09-alpha-15) 0%, var(--color07-alpha-0) 100%);
    color: var(--color09);
    border: 1px solid var(--color01);
    box-shadow: 5px 5px 8px var(--color04-alpha-80);
    text-align: center;
    word-wrap: break-word;
    z-index: 1002;
    transform: translatez(0);
}

.popupHint[data-content-style$="WarningBox"] {
    border: 1px solid var(--color02);
}

.popupHint[data-content-style$="ErrorBox"] {
    border: 1px solid var(--color07);
}

.popupHint::before,
.popupHint[data-content-style$="InfoBox"]::before {
    color: var(--color01);
    content: "\25c4";
}

.popupHint[data-content-style$="WarningBox"]::before {
    color: var(--color02);
}

.popupHint[data-content-style$="ErrorBox"]::before {
    color: var(--color07);
}


/*-- List container/rows and shadows top/bottom --*/

#listContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.listRow:nth-of-type(odd) {
    background: var(--color09-alpha-10);
}

.listRow:nth-of-type(even) {
    background: var(--color09-alpha-20);
}


/* top shadow */

.listRow[data-list-up-active]:first-child:nth-of-type(odd) {
    background: linear-gradient(180deg, var(--color04-alpha-30) 0%, var(--color09-alpha-15) 20%, var(--color09-alpha-10) 100%);
}


/* bottom shadow - depending on even or odd row */

.listRow[data-list-down-active]:last-child:nth-of-type(odd) {
    background: linear-gradient(180deg, var(--color09-alpha-10) 0%, var(--color09-alpha-10) 85%, var(--color04-alpha-30) 100%);
}

.listRow[data-list-down-active]:last-child:nth-of-type(even) {
    background: linear-gradient(180deg, var(--color09-alpha-20) 0%, var(--color09-alpha-20) 85%, var(--color04-alpha-30) 100%);
}


/*-- General message / escalation in  message and question view --*/

div[data-view-id="message"] #flexArticle,
div[data-view-id="question"] #flexArticle,
div[data-view-id="questionerror"] #flexArticle,
div[data-view-id="questionrecibe"] #flexArticle,
div[data-view-id="questionwarning"] #flexArticle,
div[data-view-id="questionaccountbalance"] #flexArticle,
div[data-view-key="HostItemQuestionChargedFassil"] #flexArticle,
div[data-view-id="questionsuccessfulltransaction"] #flexArticle,
div[data-view-id="receipt"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
}

.flexMessageContainer {
    display: flex;
    flex-direction: column;
    order: 2;
    z-index: 5;
    flex-grow: 1;
}

#flexMessageContainerHeader {
    justify-content: flex-end;
    overflow: visible;
    /* position=absolute:
    this will exclude the flexMessageContainerHeader from the surrounding flexbox handling.
    Moving it around (with margin etc.) will then not move the other elements 'flexHeaderTop' and 'flexHeaderBottom' */
    position: absolute;
}

div[data-popup-active="true"] #flexMessageContainerHeader {
    opacity: 0;
}

.messageArea {
    display: flex;
    align-items: flex-start;
    word-break: keep-all;
    /*do not use break-all, since this would break words at the end of the container and left words be broken*/
    word-wrap: normal;
    overflow: hidden;
}

#flexMessageContainerHeader .messageArea {
    animation: escalationMoveIn 0.8s ease-in;
}

#flexMessageContainerHeader .disappear {
    animation: escalationMoveOut 0.5s ease-out;
}

#flexMessageContainerArticle {
    animation: fadeIn 0.25s ease-in;
    /*zoom/scale effects may disturb UIMovements for content scrolling purpose*/
}

#flexMessageContainerArticle .messageArea {
    align-items: inherit;
    /*to let word-break take effect*/
}

.messageArea,
.messageArea[data-content-style$="InfoBox"] {
    box-shadow: 2px 2px 8px var(--color04-alpha-80);
    background: var(--color05) linear-gradient(180deg, var(--color09-alpha-15) 0%, var(--color07-alpha-0) 100%);
    border: 1px solid var(--color09);
}

.messageArea[data-content-style$="WarningBox"] {
    background: var(--color05) linear-gradient(180deg, var(--color02-alpha-15) 0%, var(--color07-alpha-0) 100%);
    border: 1px solid var(--color02);
}

.messageArea[data-content-style$="ErrorBox"] {
    background: var(--color05) linear-gradient(180deg, var(--color07-alpha-15) 0%, var(--color07-alpha-0) 100%);
    border: 1px solid var(--color07);
}

.messageIcon {
    display: inline-flex;
}


/*-- Virtual Keyboard --*/

#vkModalOverlay.modalOverlay {
    background-color: var(--color04-alpha-60);
}

#virtualKeyboardContainer {
    background-color: var(--color05);
    z-index: 1001;
}

#virtualKeyboardArea,
#popupKeysArea {
    display: flex;
    justify-content: center;
    background-color: var(--color05);
}

#virtualKeyboardArea #keyArea,
#keyAreaNumPad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardButton {
    flex-direction: row;
    flex-wrap: wrap;
}

.keyboardButton>var {
    text-transform: none;
    justify-content: center;
}

.keyboardButton>.secondKeyCode {
    justify-content: flex-end;
}

.keyboardButton:active,
#shiftKey.pressed {
    background-color: var(--color01);
}

#shiftKey.pressed {
    transform: perspective(600px) rotate3d(1, 0, 0, 24deg);
}

#popupKeysArea .keyboardButton.highlighted {
    background-color: var(--color01);
}

#popupKeysArea .keyboardButton {
    flex-grow: 1;
    flex-wrap: nowrap;
}

.popupHint[data-virtualkeyboard-hint="true"]::before {
    content: '';
}

#placedummy00,
#placedummy01,
#placedummy02,
#placedummy03 {
    visibility: hidden;
}

#generalVKInput {
    text-align: left;
}

#generalVKInputLabel {
    text-shadow: none;
}


/* special styling for the input field of the Virtual keyboard */


/* validation state: empty: no value or disabled */

input[data-validation-state="empty"][id="generalVKInput"] {
    border: 2px solid var(--color09);
}


/* validation state: valid */

input[data-validation-state="valid"][id="generalVKInput"] {
    border: 2px solid var(--color06);
}


/* validation state: wrong */

input[data-validation-state="invalid"][id="generalVKInput"] {
    border: 2px solid var(--color07);
}


/*-- In transaction background --*/

@keyframes borderTop {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        filter: saturate(400%);
        -webkit-filter: saturate(400%);
    }
}

#txnBackground {
    border-top: 1px solid var(--color01-alpha-40);
    animation: borderTop 2s ease-in-out;
    background: linear-gradient(180deg, var(--color01-alpha-7) 0%, var(--color01-alpha-2) 10%, var(--color01-alpha-9) 100%);
    z-index: -1000;
    pointer-events: none;
}


/*-- Timeout progress bar --*/

.timeoutProgressBar {
    display: none;
    overflow: hidden;
    background-color: var(--color09);
}


/*
 * View specific
 */


/*-- Views: idlepresentation and cardanimations --*/

.contactlessReaderBack {
    background: linear-gradient(180deg, var(--color09-alpha-30) 0%, var(--color09-alpha-20) 100%);
    border: 1px solid var(--color01);
    border-radius: 10px;
    z-index: 1;
}

#cardInsertContactless,
#cardInsertContactlessNotOp {
    z-index: 100;
}

#contactlessReader>.deviceOutOfService {
    z-index: 300;
}

.nfcIconDisabled {
    opacity: 0.3;
}

#idlepresentation .mercuryPrecision,
#welcome .mercuryPrecision {
    position: absolute;
    color: var(--color03);
    line-height: 0;
    opacity: 0;
    transform: scale(0.3);
    animation: mercuryPrecision 5s ease-in-out infinite;
}

@keyframes mercuryPrecision {
    0% {
        opacity: 0.1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }
    100% {
        opacity: 0.1;
    }
}


/*-- View: pinentry --*/

#pinDigitsArea {
    display: flex;
    transform-style: preserve-3d;
    animation: fadeIn 0.15s;
}

.pinDigit {
    text-align: center;
    transform-style: preserve-3d;
}

.pinDigit.flipped {
    transform: rotateY(180deg);
    animation: flip-Y-180 0.6s ease-out;
}

.pinDigit>div {
    backface-visibility: hidden;
}

div.front {
    background-color: var(--color09-alpha-30);
}

div.frontCurrent {
    background-color: var(--color09-alpha-30);
    border: 1px solid var(--color01);
}

div.frontCurrent>var {
    animation: blink 1s ease-out infinite;
}

div.back {
    background-color: var(--color01-alpha-70);
    border: none;
    transform: rotateY(180deg);
}


/*-- View: pinentryets --*/

div[data-view-id="pinentryets"] #txnBackground {
    /*Set important, because txnBackground will be activated programmatically in code-behind modules*/
    display: none !important;
}

div[data-view-id="pinentryets"] #instruction,
div[data-view-id="pinentryets"] #headline {
    opacity: 0;
}

#flexEtsContainerArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--color03-alpha-10);
    /*background: var(--color05) linear-gradient(180deg, var(--color01-alpha-5) 0%, var(--color01-alpha-10) 100%);*/
}

#flexEtsContainerArea #pinContainerArea {
    display: flex;
    flex-direction: column;
}

div[data-view-id="pinentryets"] div.frontCurrent {
    border: 1px solid var(--color02);
}

div[data-view-id="pinentryets"] div.back {
    background-color: var(--color02-alpha-60);
    border: none;
    transform: rotateY(180deg);
}

#flexEtsContainerArea #buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div[data-view-id="pinentryets"] #pinDigitsArea {
    justify-content: center;
}

div[data-view-id="pinentryets"] #functionButtons .fieldButton {
    flex-direction: row;
}

div[data-view-id="pinentryets"] #buttonCorrect {
    /*usually the left border is none of correct, but we want one because we use it as a reset button*/
    border-left: 1px solid var(--color10);
}

div[data-view-id="pinentryets"] #buttonCorrect[disabled] {
    /*usually the left border is none of correct, but we want one because we use it as a reset button*/
    border-left: 1px solid var(--color10-alpha-0);
}


/*-- Views: message, question --*/

div[data-view-id="message"] #flexMessageContainerHeader,
div[data-view-id="question"] #flexMessageContainerHeader,
div[data-view-id="questionrecibe"] #flexMessageContainerHeader,
div[data-view-id="questionwarning"] #flexMessageContainerHeader,
div[data-view-id="questionerror"] #flexMessageContainerHeader,
div[data-view-id="questionsuccessfulltransaction"] #flexMessageContainerHeader,
div[data-view-id="questionaccountbalance"] #flexMessageContainerHeader,
div[data-view-key="HostItemQuestionChargedFassil"] #flexMessageContainerHeader,
div[data-view-id="receipt"] #flexMessageContainerHeader {
    /*suppress message via header*/
    display: none;
}

div[data-view-id="message"] #flexTime,
div[data-view-id="question"] #flexTime,
div[data-view-id="questionerror"] #flexTime,
div[data-view-id="questionrecibe"] #flexTime,
div[data-view-id="questionwarning"] #flexTime,
div[data-view-key="HostItemQuestionChargedFassil"] #flexTime,
div[data-view-id="questionaccountbalance"] #flexTime,
div[data-view-id="questionsuccessfulltransaction"] #flexTime,
div[data-view-id="receipt"] #flexTime {
    -webkit-filter: none;
    filter: none;
}

div[data-view-id="message"] .messageArea,
div[data-view-id="questionerror"] .messageArea,
div[data-view-id="questionrecibe"] .messageArea,
div[data-view-id="questionwarning"] .messageArea,
div[data-view-id="questionaccountbalance"] .messageArea,
div[data-view-key="HostItemQuestionChargedFassil"] .messageArea,
div[data-view-id="questionsuccessfulltransaction"] .messageArea,
div[data-view-id="question"] .messageArea {
    flex-direction: column;
    justify-content: space-between;
}

div[data-view-id="message"] .buttonsZone,
div[data-view-id="questionerror"] .buttonsZone,
div[data-view-id="questionrecibe"] .buttonsZone,
div[data-view-id="questionwarning"] .buttonsZone,
div[data-view-id="questionaccountbalance"] .buttonsZone,
div[data-view-key="HostItemQuestionChargedFassil"] .buttonsZone,
div[data-view-id="questionsuccessfulltransaction"] .buttonsZone,
div[data-view-id="question"] .buttonsZone {
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
}


/*-- Views: selection --*/

div[data-view-id="selection"] #flexArticle,
div[data-view-id="emvapplicationselection"] #flexArticle,
div[data-view-id="prepaidproviderselection"] #flexArticle,
div[data-view-id="accountselection"] #flexArticle,
div[data-view-id="billpaymentselection"] #flexArticle,
div[data-view-id="amountselection"] #flexArticle,
div[data-view-id="menupreferences"] #flexArticle,
div[data-view-id="checkboxes"] #flexArticle,
div[data-view-id="formentry"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


/*-- View: accountselection / billpaymentselection --*/

div[data-view-id="accountselection"] #flexArticle .buttonZone,
div[data-view-id="billpaymentselection"] #flexArticle .buttonZone {
    display: flex;
    flex-direction: row;
}

div[data-view-id="accountselection"] #flexArticle .button,
div[data-view-id="billpaymentselection"] #flexArticle .button {
    box-shadow: 0 3px 5px 0 var(--color04);
}

div[data-view-id="accountselection"] .additional,
div[data-view-id="billpaymentselection"] .additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color09);
    border: 1px solid var(--color09-alpha-0);
    z-index: -1;
    animation: accountSelectionDetails 0.6s ease-in;
}


/*-- View: amountselection --*/

div[data-view-id="amountselection"] .button.iconButton {
    justify-content: flex-end;
}


/*-- View: outofservice / offlinespa --*/

div[data-view-id="outofservice"] #flexArticle,
div[data-view-id="offlinespa"] #flexArticle {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.outOfServicePattern {
    background: url('../../../default/images/pattern.svg') repeat;
}

#outOfServiceMessage {
    text-align: center;
    white-space: nowrap;
}


/*-- View: welcome --*/


/*
div[data-view-id="welcome-view"] #flexMain
{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}*/


/*-- View: pleasewait --*/

div[data-view-id="pleasewait"] #flexArticle {
    align-items: center;
}


/* Points loader */

#waitLine>div {
    background-color: var(--color01-alpha-60);
    border: 1px solid var(--color01);
}


/* Wave spinner */

#spinnerWave>div {
    display: inline-block;
    background-color: var(--color01-alpha-60);
    border: 1px solid var(--color01);
    color: var(--color01-alpha-80);
}


/*-- View: billsplitting --*/

div[data-view-id="billsplitting"] #flexArticle,
div[data-view-id="billselection"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
}

div[data-view-id="billsplitting"] #flexAside,
div[data-view-id="billselection"] #flexAside {
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
}

div[data-view-id="billsplitting"] #flexFooter,
div[data-view-id="billselection"] #flexFooter {
    z-index: 1;
}

div[data-view-id="billsplitting"] #flexMain[data-message-visible="true"] #flexAside>:first-child {
    opacity: 0.1;
    transition: opacity 0.5s;
}

div[data-view-id="billsplitting"] #buttonCorrect,
div[data-view-id="billselection"] #buttonCorrect {
    /*usually the left border is none of correct, but we want one because we use it as a reset button*/
    border-left: 1px solid var(--color10);
}

div[data-view-id="billsplitting"] #buttonCorrect[disabled],
div[data-view-id="billselection"] #buttonCorrect[disabled] {
    /*usually the left border is none of correct, but we want one because we use it as a reset button*/
    border-left: 1px solid var(--color10-alpha-0);
}

#amountHead {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    background: linear-gradient(180deg, var(--color09-alpha-50) 0%, var(--color09-alpha-50) 94%, var(--color09-alpha-0) 95%, var(--color09-alpha-1) 100%);
    box-shadow: 0 10px 16px 0 var(--color04-alpha-60);
    z-index: 1;
}

.flexDistributionRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flexDistributionRow .itemStack {
    display: flex;
    justify-content: space-around;
}


/*-- View: billselection --*/

div[data-view-id="billselection"] .itemCount {
    background-color: var(--color03-alpha-80);
    text-shadow: none;
    font-weight: bold;
    text-align: center;
}


/*-- View: amountentry, numericentry, formentry --*/

div[data-view-id="amountentry"] #flexArticle,
div[data-view-id="numericentry"] #flexArticle {
    justify-content: flex-end;
}

div[data-view-id="formentry"] #flexArticle {
    justify-content: flex-start;
    align-content: flex-start;
}

div[data-view-id="formentry"] .generalInput {
    text-align: left;
}

#flexInputArea {
    display: flex;
    flex-direction: column;
}

.flexInputFormArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#generalInputFieldArea,
.generalInputFieldAreaZone {
    display: flex;
    flex-direction: column;
}

.generalInputFieldAreaZone object {
    position: fixed;
    z-index: 1;
    align-self: flex-end;
}

.generalInputFieldAreaZone[data-view-state="2"] object {
    opacity: 0.2;
}

#generalInputBack {
    background: var(--color04-generalinputback);
}

div[data-txn-background="true"] #generalInputBack {
    background: var(--color04-generalinputback-txnbkg);
}

#flexArticlePopupAmountEntry #generalInputBack {
    background: var(--color03-generalinputback-popup);
}

#buttonCorrectFront {
    background: linear-gradient(180deg, var(--color10-alpha-60) 0%, var(--color10-alpha-30) 100%);
    border: 1px solid var(--color10);
    border-top: none;
    border-right: none;
    transform: rotateZ(45deg);
}

#buttonCorrect[disabled] #buttonCorrectFront,
#buttonCorrectPopup[disabled] #buttonCorrectFront {
    background: var(--color10-alpha-25);
    border: 1px solid var(--color10-alpha-0);
    box-shadow: none;
}

div[data-view-id="amountentry"] #buttonCorrect,
div[data-view-id="numericentry"] #buttonCorrect,
#buttonCorrectPopup {
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: none;
}

#pinPadButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*-- View: depositresult --*/

div[data-view-id="depositresult"] #flexHeader .messageArea>var {
    /*contains an icon*/
    display: inherit;
}

div[data-view-id="depositresult"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
}

div[data-view-id="depositresult"] #flexNav {
    overflow: visible;
}

div[data-view-id="depositresult"] #flexFooter {
    z-index: 0;
}

.l2Sign>object {
    display: inline-flex;
    background-image: url('../../../default/images/l2_notes.svg');
}

#flexDepositResultTotalAmount {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(180deg, var(--color09-alpha-50) 0%, var(--color09-alpha-50) 94%, var(--color09-alpha-0) 95%, var(--color09-alpha-1) 100%);
    z-index: 2;
}

#flexDepositResultTotalAmountRow1,
#flexDepositResultTotalAmountRow2 {
    display: flex;
    flex-direction: row;
}

#firstRowAmountCaptionArea,
#secondRowAmountCaptionArea {
    text-align: right;
}

#firstRowAmountCurrencyArea,
#secondRowAmountCurrencyArea {
    text-align: left;
}

#firstRowAmountSumCaptionArea,
#secondRowAmountSumCaptionArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#flexDepositResultDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexDepositResultDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flexDepositResultDetailsRow[data-row-l2="true"] {
    background: var(--color07-alpha-30);
}

.flexDepositResultDetailsRow[data-row-l2="true"] .note {
    border: 1px solid var(--color07);
    background: var(--color07-alpha-80);
}

.flexDepositResultDetailsRow[data-row-l2="true"] .note>object {
    opacity: 0.7;
}

.flexDepositResultDetailsRow .crossX,
.flexDepositResultDetailsRow .equals {
    text-align: center;
}

.flexDepositResultDetailsRow .count,
.flexDepositResultDetailsRow .result {
    text-align: right;
}


/*== View: common item animations views ==*/


/*-- Items slots --*/

.flexItemsSlot,
.flexItemsSlotIn,
.flexMetalSlotIn,
.itemLane,
.itemLaneMetal,
.flexMetalWarningArea,
.flexItemsSlotLSF {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    justify-content: flex-start;
}

#flexAnimations {
    display: flex;
    order: 2;
    flex-grow: 1;
}

#takeMetalItems {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#takeMetalAnimationArea,
#takeCoinAnimationArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flexAdditionalTexts,
#flexAdditionalIcons {
    display: flex;
    flex-grow: 1;
}

#flexAdditionalTexts {
    flex-direction: column;
}

#flexAdditionalIcons {
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.warningIcon:before {
    content: "";
    background: url('../../../default/images/deposit_warning_red_circle.svg') no-repeat;
}


/*-- View: depositanimations (CIN/COUT), depositchequesanimations --*/

div[data-view-id="depositanimations"] #flexArticle,
div[data-view-id="depositchequesanimations"] #flexArticle {
    flex-direction: column;
    justify-content: space-between;
}

div[data-view-id="depositanimations"] #flexArticle figure:not([class="shortSideFirst"]) {
    align-self: flex-end;
    align-content: flex-end;
}

div[data-view-id="depositanimations"] #flexAside,
div[data-view-id="depositchequesanimations"] #flexAside {
    flex-grow: 0;
}


/* cheque scanning animation */

#chequesScanningTexts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chequeBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chequeScanRedLight {
    z-index: 1;
}


/*-- View: accountinformation --*/

div[data-view-id="accountinformation"] #flexArticle {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

div[data-view-id="accountinformation"] #flexFooter {
    z-index: 1;
}

#AINPcebal,
#AINPcemov,
#AINIfx,
#AINPcebalTable {
    display: flex;
    flex-direction: column;
}

#flexAccountDetailsArea {
    display: flex;
    flex-direction: row;
    overflow: visible;
    z-index: 1;
}


/*- AINStd, AINIfx, AINPcemov -*/

#flexAccountAINStdAINIfxAINPcemov {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: visible;
    z-index: 1;
    background: var(--color09-alpha-10);
}

#flexAccountDetailsColumn1,
#flexAccountDetailsColumn2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: visible;
    z-index: 1;
}

#flexAccountDetailsColumn2 {
    flex-direction: row;
}

#accountNumberArea,
#accountHolderArea,
#balanceArea,
#accountTypeArea {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

#balanceArea {
    flex-direction: column;
    border-left: 1px solid var(--color04);
}

#accountNumberLabel,
#accountNumberValue,
#accountHolderLabel,
#accountHolderValue,
#balanceLabel,
#balanceValue,
#accountTypeLabel,
#accountTypeValue {
    display: flex;
    align-items: center;
}


/* Transaction area */

#flexTransactionsArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#flexTransactionsHeader {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--color09-alpha-50);
}

#flexTransactionsHeaderAINStdAINIfxAINPcemov {
    display: flex;
    flex-direction: column;
}

#row1TransactionsHeader,
#row2TransactionsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#transHeadExpirationDateLabel,
#transHeadEffectiveDateLabel {
    flex-grow: 1;
    flex-shrink: 0;
}

#transHeadAmountLabel {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}


/* Transaction */

#flexTransactionsDataArea {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.row1TransData,
.row2TransData {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.row1TransData {
    flex-direction: row;
    align-items: flex-end;
}

.row2TransData {
    flex-direction: row;
}

.expirationDateValue,
.effectiveDateValue {
    flex-grow: 1;
    flex-shrink: 0;
}

.amountValue,
.currencyValue {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}

.column1purposeValue,
.column2purposeValue {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
}

.purposeValue {
    display: flex;
}


/*-- AINPcebal --*/

#flexAccountDetailsAINPcebal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    overflow: visible;
    z-index: 1;
    background: var(--color09-alpha-10);
}

#flexTransactionsHeaderAINPcebal,
#flexTransactionsDataAINPcebal .transaction {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#transHeadAccountTypeLabel,
#transHeadAccountNumberLabel,
#transHeadAccountBalanceLabel,
#transHeadAvailableAmountLabel {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.transaction {
    animation: moveInTop 0.3s;
}

.accountTypeValue,
.accountNumberValue,
.accountBalanceValue,
.availableAmountValue {
    flex-grow: 1;
    flex-shrink: 0;
}


/*- Visibility: AINStd, AINIfx, AINPcemov, AINPcebal -*/


/* AINStdTable */

#AINStdTable #flexAccountDetailsAINPcebal,
#AINStdTable #flexTransactionsHeaderAINPcebal,
#AINStdTable #flexTransactionsDataAINPcebal,
#AINStdTable #accountTypeArea {
    display: none;
}


/* AINIfxTable */

#AINIfxTable #flexAccountDetailsAINPcebal,
#AINIfxTable #flexTransactionsHeaderAINPcebal,
#AINIfxTable #flexTransactionsDataAINPcebal,
#AINIfxTable #accountHolderArea {
    display: none;
}

#AINIfxTable #balanceArea,
#AINPcebalTable #balanceArea {
    visibility: hidden;
}


/* AINPcebalTable */

#AINPcebalTable #flexAccountAINStdAINIfxAINPcemov,
#AINPcebalTable #flexTransactionsHeaderAINStdAINIfxAINPcemov,
#AINPcebalTable #flexTransactionsDataAINStdAINIfxAINPcemov {
    display: none;
}


/* AINPcemovTable */

#AINPcemovTable #flexAccountDetailsAINPcebal,
#AINPcemovTable #flexTransactionsHeaderAINPcebal,
#AINPcemovTable #flexTransactionsDataAINPcebal,
#AINPcemovTable #accountNumberArea,
#AINPcemovTable #accountTypeArea {
    display: none;
}

#AINPcemovTable #flexAccountDetailsRow2 {
    order: 1;
}

#AINPcemovTable #flexAccountDetailsRow1 {
    order: 2;
}

#AINPcemovTable #balanceArea {
    flex-direction: row;
    border-left: none;
}


/*-- View: depositchequesresult --*/

div[data-view-id="depositchequesresult"] #flexMain {
    flex-direction: column;
    justify-content: flex-start;
}

div[data-view-id="depositchequesresult"] #flexArticle {
    justify-content: flex-start;
}

div[data-view-id="depositchequesresult"] #flexAside {
    align-self: flex-end;
    justify-content: flex-end;
}

#chqControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--color09-alpha-25);
    border: 1px solid var(--color04-alpha-0);
}

#chqControl .buttonsZone {
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

#chqControl.accepted {
    border: 1px solid var(--color06);
}

#chqControl.declined {
    border: 1px solid var(--color07);
}

#chqInfoDetails {
    display: flex;
    flex-direction: column;
}

#chqInfoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    text-align: center;
}

#chqInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chqInfo[data-cheque-state="declined"] {
    background: var(--color07-alpha-50);
}

#chqInfoArea .iconSwipeVerticalToTurn,
#chqInfoArea .iconDoubleTap {
    position: absolute;
    z-index: 1;
}

#chqInfoArea .iconSwipeVerticalToTurn {
    align-self: flex-start;
}

#chqInfoArea .iconDoubleTap {
    align-self: center;
}

#chqInfoArea .chequeImageContainer {
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#chqInfoArea .frontImage {
    position: absolute;
    backface-visibility: hidden;
}

#chqInfoArea .backImage {
    transform: rotate3d(1, 0, 0, 180deg);
}


/*-- View: scannedimageviewer --*/

div[data-view-id="scannedimageviewer"] #imgViewer {
    display: flex;
    justify-content: center;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #imgViewer {
    background: var(--color04-alpha-80);
    z-index: 1;
}

div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier1,
div[data-view-id="scannedimageviewer"] #chqControl[data-document-zoom="in"] #chqImgCarrier2 {
    border: 2px solid var(--color01);
}


/*-- View: menupreferences --*/

div[data-view-id="menupreferences"] #flexArticle {
    flex-direction: row;
    flex-wrap: nowrap;
}

div[data-view-id="menupreferences"] .wobbling {
    animation-name: pulsatePreferences;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

div[data-view-id="menupreferences"] .preferencesMinMaxButton {
    visibility: hidden;
}

div[data-view-id="menupreferences"] .currentPreferencesButton {
    background: linear-gradient(180deg, var(--color09-alpha-60) 0%, var(--color09-alpha-30) 100%);
    border: 1px solid var(--color09);
    animation-name: transitionPreferencesCurrent;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 300ms !important;
    animation-delay: 0s !important;
    animation-fill-mode: forwards;
}

div[data-view-id="menupreferences"] .buttonZone[data-selected="true"] {
    z-index: 1;
}

div[data-view-id="menupreferences"] .currentPreferencesButton>object {
    -webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
}

div[data-view-id="menupreferences"] .currentPreferencesButton {
    justify-content: space-around;
}

div[data-view-id="menupreferences"] .currentPreferencesButton .preferencesMinMaxButton {
    align-self: flex-start;
    visibility: visible;
}

div[data-view-id="menupreferences"] .currentPreferencesButton.prominentItem .preferencesMinMaxButton::before {
    content: '\2197';
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--color04);
    border-top: 2px outset var(--color09);
    border-right: 2px inset var(--color09);
    border-bottom-width: 0;
    border-left-width: 0;
    animation: iconSizeBoxSmaller 1.5s steps(5, start) infinite;
}

div[data-view-id="menupreferences"] .currentPreferencesButton .preferencesMinMaxButton::before {
    content: '\2199';
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--color04);
    border-bottom: 2px inset var(--color09);
    border-left: 2px outset var(--color09);
    animation: iconSizeBoxLarger 1.5s steps(5, start) infinite;
}


/*-- View: genericimage --*/

#cardAnimationSingleArea {
    display: flex;
    justify-content: center;
}


/*-- View: envelopeanimations --*/

#envelopeEject3D,
#envelopeInsert3D {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* -- View: scancodeanimations.html --*/

.scanBackground {
    background-color: var(--color09-alpha-20);
}

#barcodeSlot,
#qrcodeSlot {
    background-color: var(--color09-alpha-30);
    border: solid 1px var(--color09-alpha-60);
}

#barcodeScanArea,
#qrcodeScanArea,
#barcodeBack,
#qrcodeBack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#barcodeRedLight,
#qrcodeRedLight {
    z-index: 100;
}

.barcode,
.qrcode {
    z-index: -1;
}


/* -- View: checkboxes.html --*/

.checkBoxItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}

.checkBoxItem>div:nth-child(2) {
    display: flex;
    flex-direction: row;
}


/*-- View: chiptransactions.html --*/

div[data-view-id="chiptransactions"] #flexArticle {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
}

div[data-view-id="chiptransactions"] #flexFooter {
    z-index: 1;
}


/* Transaction area */

#flexChipTransactionsArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#flexChipTransactionsHeader {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    background: var(--color09-alpha-50);
}

#rowChipTransactionsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#transHeadChipDateLabel,
#transHeadChipTimeLabel {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
}

#transHeadChipAmountLabel,
#transHeadChipBalanceLabel,
#transHeadChipStateLabel {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}


/* Transaction */

.rowChipTransData {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.chipDateValue,
.chipTimeValue {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
}

.chipAmountValue,
.chipBalanceValue,
.chipStateValue {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 0;
}

.chipTransaction {
    display: flex;
    align-items: center;
    animation: moveInTop 0.3s;
}


/*-- View: receipt.html --*/

div[data-view-id="receipt"] #flexMessageContainerArticle {
    align-items: center;
}

div[data-view-id="receipt"] .messageArea {
    position: relative;
    /*because of pseudo elements before/after to keep responsivity*/
    justify-content: center;
    border: none;
    box-shadow: none;
    background: transparent;
    background: linear-gradient(-135deg, var(--color09) 8px, transparent 0) 0 8px, linear-gradient(135deg, var(--color09) 8px, var(--color05) 0) 0 8px;
    background-color: var(--color09);
    background-position: left bottom;
    background-repeat: repeat-x;
}

div[data-view-id="receipt"] .messageArea::before,
div[data-view-id="receipt"] .messageArea::after {
    position: absolute;
    content: '\25D7';
    color: var(--color05);
}

div[data-view-id="receipt"] .messageArea::after {
    content: '\25D6';
}

div[data-view-id="receipt"] .messageArea>var {
    font-family: Courier, sans-serif;
    text-shadow: none;
    word-break: break-all;
}


/*-- View: mobiletransaction.html --*/

#mobilePhone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mobilePhoneDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobilePhoneBack {
    background: var(--color03-alpha-60);
    border: 1px solid var(--color01);
    border-radius: 10px;
    z-index: 1;
}

.mobilePhoneDisplayBack {
    background: var(--color04-alpha-40);
    z-index: 1;
}


/*-- View: signaturepad.html --*/

div[data-view-id="signaturepad"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
}

#signatureArea {
    background-color: var(--color09-alpha-20);
    color: var(--color03);
    border: 1px solid var(--color09-alpha-60);
    z-index: 1;
}


/*-- View: videoassistance.html --*/

div[data-view-id="videoassistance"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
}

div[data-view-id="videoassistance"] #flexAside {
    align-items: flex-end;
}

#videoImageArea {
    display: flex;
    align-items: flex-start;
}


/*-- View: outofserviceadditionalinfos.html --*/

div[data-view-id="outofserviceadditionalinfos"] #flexArticle {
    display: grid;
}

#atmInfosHeadline,
.flexAtmInfosDetailsRow {
    display: grid;
    z-index: 2;
}

#atmInfosHeadline {
    background: linear-gradient(180deg, var(--color09-alpha-50) 0%, var(--color09-alpha-50) 94%, var(--color09-alpha-0) 95%, var(--color09-alpha-1) 100%);
    align-items: flex-start;
}

#atmInfosHeadlineDistance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#atmInfosHeadline>var:nth-child(3) {
    text-align: center;
}

.atmDistance {
    align-self: center;
    text-align: right;
}

.atmMapLocation {
    justify-self: center;
    align-self: center;
    text-align: center;
}

.atmState {
    text-align: center;
    align-self: center;
}

.flexAtmInfosDetailsRow .atmAddress {
    display: grid;
}

div[data-view-id="outofserviceadditionalinfos"] .qrcode {
    transform: none;
}

#atmQRCodes {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#mapLocationContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--color05);
}

#mapLocationContainer #mapLocationContainerClose {
    position: absolute;
    align-self: flex-end;
    border: none;
    font-weight: bold;
    z-index: 1;
    /*cause of a high value of the map itself*/
    background-color: rgba(0, 60, 136, .5);
    color: var(--color09);
}

#mapLocationContainer #mapLocationContainerClose:focus,
#mapLocationContainer #mapLocationContainerClose:hover {
    text-decoration: none;
    background-color: rgba(0, 60, 136, .7)
}

#mapLocationContainer #popup-content {
    word-break: keep-all;
}


/* -- View: dualchoiceselection.html --*/

.radioButtonItem {
    display: flex;
    align-items: flex-start;
    text-transform: uppercase;
}

.radioButtonItem>var {
    align-self: center;
}

div[data-view-id="dualchoiceselection"] #flexArticle {
    flex-direction: column;
    justify-content: flex-start;
}

div[data-view-id="dualchoiceselection"] #columnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div[data-view-id="dualchoiceselection"] #leftColumn,
div[data-view-id="dualchoiceselection"] #rightColumn {
    display: flex;
    flex-direction: column;
}

div[data-view-id="dualchoiceselection"] #leftColumnText {
    animation: fadeInRight 0.75s ease-in;
}

div[data-view-id="dualchoiceselection"] #rightColumnText {
    animation: fadeInLeft 0.75s ease-in;
}

div[data-view-id="dualchoiceselection"] #leftColumnText[data-validation-state=true],
div[data-view-id="dualchoiceselection"] #rightColumnText[data-validation-state=true] {
    color: var(--color06);
    transition: color 0.6s ease-in;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalLeft,
div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalRight,
div[data-view-id="dualchoiceselection"] #flexArticle #separatorVertical {
    position: absolute;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalLeft {
    align-self: flex-end;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalRight {
    align-self: flex-start;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalLeft,
div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalRight {
    border-top: 1px dashed var(--color09);
    animation: zoomIn 0.6s ease-in;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorVertical {
    align-self: center;
    border-left: 1px dashed var(--color09);
    animation: zoomIn 0.6s ease-in;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorVertical[data-validation-state=true] {
    border-left: 1px solid var(--color06);
    transition: border-left 0.6s ease-in;
}

div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalLeft[data-validation-state=true],
div[data-view-id="dualchoiceselection"] #flexArticle #separatorHorizontalRight[data-validation-state=true] {
    border-top: 1px solid var(--color06);
    transition: border-top 0.6s ease-in;
}