    /*Place your changes here*/
    
     :root {
        --font-size07: 18px;
        --color01-text: rgba(3, 62, 119, 0.5);
        --color-buttons: linear-gradient(to bottom, #00194C, rgba(0, 51, 154, 0.43) 92.54%), #000C35;
        --color-background: linear-gradient(to bottom, #00194C, rgba(0, 51, 154, 0.43) 92.54%), #000C35;
        --color02-text: var(--color07);
        ;
    }
    
    div[data-view-id="amountentry"] .change-style[disabled]>object,
    div[data-view-id="amountentry"] .disabled {
        background-image: url('../../../default/images/error_icon.svg');
    }
    
    div[data-view-id="amountentry"] .change-style>object {
        width: 58px;
        height: 58px;
        background-image: url('../../../default/images/arrow_good.svg');
    }
    
    .firts-Icon>object {
        width: 58px;
        height: 58px;
        background-image: url('')
    }
    
    div[data-view-id="amountentry"] .enabled-input {
        text-align: left;
        background: rgba(71, 222, 245, 0.2);
        border-radius: 4px;
        height: 62px;
        padding-right: 35px;
        padding-left: 10px;
    }
    
    div[data-view-id="amountentry"] .disabled-input {
        text-align: left;
        background: #F6F6F6;
        border-radius: 4px;
        height: 62px;
        padding-right: 35px;
        padding-left: 10px;
    }
    
    div[data-view-id="amountentry"] .error-input {
        text-align: left;
        background: #FDE5EE;
        border: 0.1px solid #E5E7EB;
        box-sizing: border-box;
        box-shadow: 8px 20px 30px rgba(229, 231, 235, 0.5);
        border-radius: 4px;
        color: #EF0045;
        height: 62px;
        padding-right: 35px;
        padding-left: 10px;
    }
    
    div[data-view-id="amountentry"] #generalInputBack {
        z-index: 1;
        margin-left: 485px;
        margin-top: -59px;
        transform: rotateZ(0deg);
        border-radius: 28px;
        background: transparent;
    }
    
    #flexFooter {
        height: 111px;
        min-height: 69px;
        padding: 0 62px 0 38px;
    }
    
    .color01-text {
        color: var(--color09);
    }
    
    .font09 {
        font-size: var(--font-size07);
        line-height: 15px;
    }
    
    .font09 {
        font-size: var(--font-size07);
        line-height: 15px;
    }
    
    .var-object {
        position: absolute;
        padding-top: 34px;
        width: inherit;
    }
    
    div[data-view-id="fassilmenupreferences"] .color01,
    div[data-view-id="fassilmenupreferences"] .color01 {
        color: var(--color-background);
        text-align: center;
    }
    
    div[data-view-id="idlepresentation"] .font02,
    div[data-view-id="idlelooppresentationfassil"] .font02,
    div[data-view-id="welcome"] .font02 {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
    }
    
    div[data-view-id="fassilmenupreferences"] .font02 {
        font-size: 21px;
        line-height: 28px;
    }
    
    div[data-view-id="idlepresentation"] .color01,
    div[data-view-id="idlelooppresentationfassil"] .color01,
    div[data-view-id="welcome"] .color01 {
        color: var(--color02-text);
        margin-top: 49px;
        padding-left: 62px;
        padding-right: 62px;
        margin-bottom: 35px;
    }
    
    div[data-view-id="fassilmenupreferences"] .color01 {
        color: var(--color-background);
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 22px;
        padding-left: 84px;
    }
    
    html * {
        font-family: "Open Sans";
    }
    
    div[data-view-id="fassilmenupreferences"] .color01 {
        color: #1a9790;
    }
    
    div[data-view-id="fassilmenupreferences"] #flexHeaderBottom>:first-child {
        margin-bottom: -18px;
        margin-top: 11px;
        text-align: center;
        color: var(--color-background);
        padding-left: 65px;
    }
    
    div[data-view-id="fassilmenupreferences"] label,
    p,
    var,
    span,
    .subMenuItem::after {
        color: var(--color01);
        font-style: normal;
        text-align: start;
        word-wrap: break-word;
        cursor: inherit;
    }
    
    div[data-view-id="idlepresentation"] #flexArticle,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle,
    div[data-view-id="welcome"] #flexArticle,
    div[data-view-id="checkboxes"] #flexArticle,
    div[data-view-id="formentry"] #flexArticle,
    div[data-view-id="fassilmenupreferences"] #flexArticle,
    div[data-view-id="selection"] #flexArticle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    div[data-view-id="idlepresentation"] .var-object,
    div[data-view-id="idlelooppresentationfassil"] .var-object,
    div[data-view-id="welcome"] .var-object {
        position: absolute;
        padding-top: 0px;
        width: auto;
        text-align: initial;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
    }
    
    div[data-view-id="idlepresentation"] #flexArticle .menuButton,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle .menuButton,
    div[data-view-id="welcome"] #flexArticle .menuButton {
        width: 294px;
        height: 106px;
        font-weight: 525;
    }
    
    div[data-view-id="fassilmenupreferences"] #flexArticle .menuButton {
        width: 294px;
        height: 200px;
    }
    
    div[data-view-id="idlepresentation"] #flexHeaderBottom,
    div[data-view-id="idlelooppresentationfassil"] #flexHeaderBottom,
    div[data-view-id="welcome"] #flexHeaderBottom {
        flex-basis: 78px;
        padding: 0 0px 0 0px;
    }
    
    div[data-view-id="idlepresentation"] #flexMain,
    div[data-view-id="idlelooppresentationfassil"] #flexMain,
    div[data-view-id="welcome"] #flexMain,
    #flexMainPopup {
        padding-top: 0px;
    }
    
    div[data-view-id="idlepresentation"] .buttonZone:not(:last-child) .menuButton,
    div[data-view-id="idlelooppresentationfassil"] .buttonZone:not(:last-child) .menuButton,
    div[data-view-id="welcome"] .buttonZone:not(:last-child) .menuButton {
        margin: 5px 3px 7px 0;
    }
    
    div[data-view-id="fassilmenupreferences"] .buttonZone:not(:last-child) .menuButton {
        margin: 0 15px 100px 0;
    }
    
    div[data-view-id="selection"] .buttonZone:not(:last-child) .menuButton {
        margin: 0 41px 21px 0
    }
    
    div[data-view-id="idlelooppresentationfassil"] #flexArticle,
    div[data-view-id="idlepresentation"] #flexArticle,
    div[data-view-id="welcome"] #flexArticle,
    #flexArticlePopup {
        flex-basis: 100%;
        height: 660px;
    }
    
    div[data-view-id="idlepresentation"] #flexHeaderBottom>:first-child,
    div[data-view-id="idlelooppresentationfassil"] #flexHeaderBottom>:first-child,
    div[data-view-id="welcome"] #flexHeaderBottom>:first-child {
        margin-top: -8px;
    }
    
    div[data-view-id="fassilmenupreferences"] label,
    p,
    var,
    span,
    .subMenuItem::after {
        color: var(--color02-text);
        text-shadow: none;
        font-style: normal;
        text-align: center;
        word-wrap: break-word;
        cursor: inherit;
        font-size: 16px;
    }
    
    div[data-view-id="idlepresentation"] #flexArticle,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle,
    div[data-view-id="welcome"] #flexArticle,
    #flexArticlePopup {
        padding-left: 208px;
        margin-top: 30px;
    }
    
    div[data-view-id="accountselection"] #flexArticle,
    #flexArticlePopup {
        flex-basis: 100%;
        padding-left: 166px;
        height: 312px;
    }
    
    div[data-view-id="accountselection"] #buttonCancel {
        display: none;
    }
    
    div[data-view-id="fassilmenupreferences"] #flexArticle,
    div[data-view-id="selection"] #flexArticle,
    #flexArticlePopup #flexArticlePopup {
        flex-basis: 100%;
        margin-top: 124px;
        height: 600px;
        margin-left: 114px;
    }
    
    div[data-view-id="idlepresentation"] .footerButton,
    div[data-view-id="idlelooppresentationfassil"] .footerButton,
    div[data-view-id="welcome"] .footerButton,
    div[data-view-id="fassilmenupreferences"] .footerButton {
        background: var(--color02);
        transition: border 0.15s;
        border-radius: 25px;
        margin-bottom: 15px;
        align-items: flex-end !important;
        width: 170px;
        height: 34px;
    }
    
    div[data-view-id="idlepresentation"] .button>var,
    div[data-view-id="idlelooppresentationfassil"] .button>var,
    div[data-view-id="welcome"] .button>var {
        padding: 1px 5px 0 5px;
    }
    
    #buttonCancel {
        background: #df0000;
        border: 1px solid rgb(146, 2, 2);
        transition: border 0.15s;
        border-radius: 25px;
        margin-bottom: 15px;
        align-items: flex-end !important;
    }
    
    div[data-view-id="selection"] #buttonCancel {
        display: none;
    }
    
    #buttonCancel>var {
        padding-bottom: 10px;
    }
    
    div[data-view-id="idlepresentation"] .button var .button span,
    div[data-view-id="idlelooppresentationfassil"] .button var .button span,
    div[data-view-id="welcome"] .button var .button span {
        text-transform: none;
    }
    
    div[data-view-id="idlepresentation"] .font01,
    div[data-view-id="idlelooppresentationfassil"] .font01,
    div[data-view-id="welcome"] .font01 {
        font-size: var(--font-size01);
        align-self: center;
    }
    
    #flexLogo>:first-child {
        width: 95%;
        height: 66.28px;
        position: absolute;
        background-position-y: center;
        margin-top: 26px;
        background-position-x: center;
    }
    
    div[data-view-id="idlepresentation"] .menuButton>object,
    div[data-view-id="idlelooppresentationfassil"] .menuButton>object,
    div[data-view-id="welcome"] .menuButton>object {
        width: 35%;
        height: 226px;
    }
    
    div[data-view-id="selection"] .menuButton>object {
        width: 35%;
        height: 137px;
        margin-bottom: -20px;
    }
    
    div[data-view-id="fassilmenupreferences"] .menuButton>object {
        width: 95%;
        height: 242px;
        border-radius: 17px 17px 17px 17px;
        -moz-border-radius: 17px 17px 17px 17px;
        -webkit-border-radius: 17px 17px 17px 17px;
        border: 0px solid #000000;
        -webkit-box-shadow: 10px 10px 29px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 29px -4px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 29px -4px rgba(0, 0, 0, 0.22);
    }
    
    div[data-view-id="selection"] .menuButton.prominentItem>object {
        width: 35%;
        height: 54%;
    }
    
    #flexMain,
    #flexMainPopup {
        padding-top: 34px;
    }
    
    div[data-view-id="selection"] .prominentItem {
        width: 294px;
        height: 200px;
    }
    
    div[data-view-id="selection"] .menuButton {
        background: linear-gradient(193.52deg, #00194C 5.42%, rgba(0, 13, 130, 0.6) 113.03%), #000C35;
        border: 0.2px solid rgba(21, 20, 86, 0.05);
        box-sizing: border-box;
        border-radius: 25px;
    }
    
    .button {
        background: rgb(8 41 87);
        border: 1px solid var(--color09);
        transition: border 0.15s;
    }
    
    #flexAdditionalHeaderInfo {
        display: none
    }
    
    #flexHelp {
        display: none
    }
    
    div[data-view-id="selection"] #flexHeader {
        flex-basis: 312px;
    }
    
    #flexHeader {
        background: var(--color-background);
        flex-basis: 288px;
    }
    
    #flexHeaderBottom {
        background: #FAFAFA;
        padding-top: 3px;
    }
    
    #language {
        display: none
    }
    
    div[data-view-id="idlepresentation"] .scrollbar-horizontal,
    div[data-view-id="idlelooppresentationfassil"] .scrollbar-horizontal,
    div[data-view-id="welcome"] .scrollbar-horizontal,
    div[data-view-id="fassilmenupreferences"] .scrollbar-horizontal {
        background: var(--color-buttons);
        z-index: 2;
    }
    
    .scrollbar-horizontal {
        top: 671px !important;
    }
    
    body {
        background: #FAFAFA;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    
    div[data-view-id="accountselection"] .menuButton {
        background: linear-gradient(193.52deg, #00194C 5.42%, rgba(0, 13, 130, 0.6) 113.03%), #000C35;
        box-shadow: 1px 2px 9px rgba(229, 231, 235, 0.5);
        border-radius: 20px;
        width: 324px;
        height: 87px;
    }
    /*1024*768*/
    
    div[data-view-id="idlepresentation"] #flexArticle .menuButton,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle .menuButton,
    div[data-view-id="welcome"] #flexArticle .menuButton {
        width: 387px !important;
        height: 71px !important;
        margin-right: 53px;
    }
    
    div[data-view-id="idlepresentation"] #flexArticle,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle,
    div[data-view-id="welcome"] #flexArticle,
    #flexArticlePopup {
        height: 460px!important;
    }
    
    div[data-view-id="idlepresentation"] #flexArticle,
    div[data-view-id="idlelooppresentationfassil"] #flexArticle,
    div[data-view-id="welcome"] #flexArticle,
    #flexArticlePopup {
        align-content: center;
        padding-left: 0px !important;
        margin-top: 0px !important;
    }
    
    div[data-view-id="idlepresentation"] #flexHeader,
    div[data-view-id="idlelooppresentationfassil"] #flexHeader,
    div[data-view-id="welcome"] #flexHeader {
        flex-basis: 315px;
    }
    
    div[data-view-id="idlepresentation"] .font01,
    div[data-view-id="idlelooppresentationfassil"] .font01,
    div[data-view-id="welcome"] .font01 {
        font-size: var(--font-size01) !important;
        align-self: center !important;
    }
    
    div[data-view-id="idlepresentation"] .menuButton>object,
    div[data-view-id="idlelooppresentationfassil"] .menuButton>object,
    div[data-view-id="Welcome"] .menuButton>object {
        height: 165px;
    }
    
    #flexExtra {
        flex-basis: 411px;
        position: absolute;
    }
    
    #buttonCancel>var {
        padding-bottom: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        text-align: center;
        text-transform: uppercase;
        /* grey */
        color: rgba(3, 62, 119, 0.5);
    }
    
    #flexHeaderBottom {
        flex-basis: 30px;
        padding: 21px 0px 0 0px;
    }
    
    div[data-view-id="selection"] .menuButton {
        width: 162px;
        height: 218px;
    }
    
    div[data-view-id="fassilmenupreferences"] #flexArticle,
    div[data-view-id="selection"] #flexArticle,
    #flexArticlePopup #flexArticlePopup {
        flex-basis: 100%;
        margin-top: 42px;
        height: 380px;
        margin-left: 28px;
    }
    
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #flexArticle,
    #flexArticlePopup #flexArticlePopup {
        height: 256px;
    }
    
    #flexArticlePopupSelection {
        flex-basis: 100%;
        max-height: 139px !important;
        align-content: center;
    }
    
    #popupWindowContent {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: #ffffff linear-gradient(180deg, var(--color09-alpha-15) 0%, var(--color07-alpha-0) 100%);
    }
    
    .blueButton {
        background: var(--color-background);
        border-radius: 26px;
        width: 199px;
        height: 195px;
        margin: 0 43px 12px 0 !important;
        box-shadow: 1px 2px 9px rgba(229, 231, 235, 0.5);
        border-radius: 20px;
    }
    
    #buttonCancel,
    #buttonCancelPopup {
        background: white;
        border: 1px solid var(--color01-text);
        transition: border 0.15s;
        width: 248px;
        height: 56px;
        border-radius: 28px;
    }
    
    .pinDigitContainer {
        width: 91px;
        height: 91px;
        perspective: 1500px;
    }
    
    .pinDigitContainer .front {
        width: 91px;
        height: 91px;
    }
    
    div.back {
        width: 91px;
        height: 91px;
        background: #D0EEF3;
        border: 0.1px solid #E5E7EB;
        box-sizing: border-box;
        box-shadow: 1px 2px 4px rgba(229, 231, 235, 0.5);
        border-radius: 5px;
    }
    
    div.frontCurrent {
        background: #E5E7EB;
        border: 0.1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 1px 2px 4px rgba(229, 231, 235, 0.5);
        border-radius: 5px;
    }
    
    div.back>var {
        font-weight: 600;
        font-size: 50px;
        line-height: 72px;
        /* or 40% */
        /* Basic 900/button default */
        color: #032F59;
    }
    
    #cardReader,
    #contactlessReader {
        margin-top: 53px;
    }
    
    div[data-view-id="pinentry"] #flexMain,
    #flexMainPopup {
        align-items: center;
    }
    
    div[data-view-id="pinentry"] #instruction {
        position: absolute;
        margin-top: 316px;
        align-self: center;
        color: var(--color07);
    }
    
    div[data-view-id="pleasewait"] #instruction {
        position: absolute;
        margin-top: 204px;
        align-self: center;
        color: var(--color07);
    }
    
    div[data-view-id="cardremove"] #flexHeaderBottom {
        margin-top: 137px;
    }
    
    div[data-view-id="cardremove"] #instruction {
        align-self: center;
        margin-top: 30px;
        font-size: 30px;
        color: #082957;
    }
    
    div[data-view-id="incorrectpin"] #instruction {
        align-self: center;
        margin-top: 10px;
        font-size: 30px;
        color: #082957;
    }
    
    div[data-view-id="incorrectpin"] #flexHeaderBottom {
        margin-top: 137px;
    }
    
    div[data-view-id="accountselection"] #flexArticle .menuButton>:first-child {
        margin-top: -7px;
        margin-bottom: 0;
        font-size: 26px;
        line-height: 36px;
    }
    
    div[data-view-key="AccountSelection"] #flexHeader,
    div[data-view-key="AccountSelectionFassil"] #flexHeader {
        flex-basis: 313px;
    }
    
    div[data-view-key="AccountSelection"] #flexMain,
    #flexMainPopup,
    div[data-view-key="AccountSelectionFassil"] #flexMain,
    #flexMainPopup {
        padding-top: 80px;
    }
    
    div[data-view-key="AccountSelection"] .menuButton,
    div[data-view-key="AccountSelectionFassil"] .menuButton {
        width: 199px;
        height: 195px;
    }
    
    div[data-view-key="AccountSelection"] #flexArticle,
    #flexArticlePopup,
    div[data-view-key="AccountSelectionFassil"] #flexArticle,
    #flexArticlePopup {
        padding-left: 0px;
        align-content: center;
    }
    
    div.frontCurrent>var {
        font-size: 5em !important;
        line-height: 1.0em;
    }
    
    #buttonCorrect,
    #buttonCorrectPopup {
        background: linear-gradient(180deg, rgb(197 197 0 / 60%) 0%, rgb(255 255 0 / 65%) 100%) !important;
        border: 1px solid var(--color10);
        border-left: none;
        transition: border 0.15s;
    }
    
    .wellcome-style {
        background: var(--color-background);
        height: 34px !important;
        width: 34px !important;
        border-radius: 15px;
        margin-right: 20px;
        padding: 11px !important;
        margin-top: 8px;
    }
    
    #flexTransactionsArea {
        height: 352px;
    }
    
    .scrollbar-vertical {
        height: 105.073px !important;
    }
    
    div[data-view-key="ReceiptPresentation"] #buttonConfirm {
        background: linear-gradient(270deg, #68EAFE 0%, rgba(255, 255, 255, 0) 74.48%), #00C1DF;
        border-radius: 28px;
        transition: border 0.15s;
        width: 248px;
        height: 56px;
        color: var(--color03);
        border: none;
    }
    
    div[data-view-key="LanguageSelection"] #flexArticle,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #flexArticle,
    div[data-view-key="ExchangeRate"] #flexArticle,
    div[data-view-key="MenuSelectionTransferOptions"] #flexArticle,
    div[data-view-key="MenuSelectionAccountOverviews"] #flexArticle {
        align-content: center;
        margin-left: -45px;
    }
    
    div[data-view-key="LanguageSelection"] .menuButton,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] .menuButton,
    div[data-view-key="ExchangeRate"] .menuButton,
    div[data-view-key="MenuSelectionTransferOptions"] .menuButton,
    div[data-view-key="MenuSelectionAccountOverviews"] .menuButton {
        width: 199px;
        height: 195px;
    }
    
    div[data-view-id="WithdrawalCurrencySelectionFassil"] #flexHeader,
    div[data-view-id="LanguageSelection"] #flexHeader,
    div[data-view-id="ExchangeRate"] #flexHeader,
    div[data-view-key="MenuSelectionAccountOverviews"] #flexHeader,
    div[data-view-key="MenuSelectionTransferOptions"] #flexHeader,
    div[data-view-key="HostItemSelection"] #flexHeader {
        flex-basis: 289px;
    }
    
    div[data-view-key="ReceiptPresentation"] .button>var {
        padding: 16px 5px 0 5px;
    }
    
    div[data-view-key="ReceiptPresentation"] #flexCancel {
        display: flex;
        position: initial;
        align-items: end;
        margin-right: 59px;
    }
    
    div[data-view-key="ReceiptPresentation"] #flexExtra {
        flex-basis: 411px;
        position: initial;
        margin-left: 37px;
    }
    
    div[data-view-key="ReceiptPresentation"] #flexExtra {
        flex-basis: 411px;
        position: initial;
        align-items: center;
    }
    
    div[data-view-key="MenuSelection"] #TRA_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #TRATHIRDACCOUNTSFASSIL_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #B2BTRA_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #AIN_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #BAL_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #STPM_MenuSelection_generated,
    div[data-view-key="MenuSelection"] #LOANPAY_MenuSelection_generated,
    div[data-view-key="MenuSelectionFee"] #TRA_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #PINCHG_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #TRATHIRDACCOUNTSFASSIL_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #B2BTRA_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #AIN_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #BAL_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #OTHER_OPTIONS_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #TRANSFER_OPTIONS_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #STPM_MenuSelectionFee_generated,
    div[data-view-key="MenuSelectionFee"] #LOANPAY_MenuSelectionFee_generated {
        display: none;
    }
    
    div[data-view-key="MenuSelectionFee"] #flexArticle {
        align-content: center !important;
    }
    
    div[data-view-key="MenuSelectionFee"] div[data-view-key="ReceiptPresentation"] #flexCancel .buttonZone {
        padding-left: 50% !important;
    }
    
    div[data-view-id="billsplitting"] #listContainer {
        height: 403px;
        padding-top: 22px;
    }
    
    .scrollbar-horizontal {
        height: 7px;
        margin-top: -20px;
        border-radius: 25px;
    }
    /*Reading Chip*/
    
    div[data-view-id="chipreading"] #instruction,
    div[data-view-id="chipread"] #instruction,
    div[data-view-id="cardremove"] #instruction,
    div[data-view-id="incorrectpin"] #instruction,
    div[data-view-id="transactionprogress"] #instruction,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #instruction,
    div[data-view-key="LanguageSelection"] #instruction,
    div[data-view-key="MenuSelectionAccountOverviews"] #instruction,
    div[data-view-key="MenuSelectionTransferOptions"] #instruction,
    div[data-view-key="ExchangeRate"] #instruction {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 40px;
        color: var(--color07);
        margin-top: 11px;
    }
    
    div[data-view-key="LanguageSelection"] #flexHeader {
        flex-basis: 330px;
    }
    
    div[data-view-id="chipreading"] #flexHeader {
        flex-basis: 331px;
    }
    
    div[data-view-id="questionwarning"] #flexHeader {
        flex-basis: 322px;
    }
    
    div[data-view-id="transactionprogress"] #flexHeader {
        flex-basis: 279px;
    }
    
    div[data-view-id="chipread"] #flexHeader,
    div[data-view-id="cardremove"] #flexHeader,
    div[data-view-id="incorrectpin"] #flexHeader {
        flex-basis: 282px;
    }
    
    div[data-view-id="ExchangeRate"] #flexHeader,
    div[data-view-id="WithdrawalCurrencySelectionFassil"] #flexHeader {
        flex-basis: 290px;
    }
    
    div[data-view-id="chipreading"] #flexHeaderBottom,
    div[data-view-id="transactionprogress"] #flexHeaderBottom,
    div[data-view-id="chipread"] #flexHeaderBottom,
    div[data-view-id="cardremove"] #flexHeaderBottom,
    div[data-view-id="incorrectpin"] #flexHeaderBottom,
    div[data-view-key="LanguageSelection"] #flexHeaderBottom,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #flexHeaderBottom,
    div[data-view-key="MenuSelectionTransferOptions"] #flexHeaderBottom,
    div[data-view-key="MenuSelectionAccountOverviews"] #flexHeaderBottom,
    div[data-view-key="ExchangeRate"] #flexHeaderBottom {
        padding: 12px 0px 0 0px;
    }
    
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #flexHeader {
        flex-basis: 280px;
    }
    
    #reading-space {
        padding-top: 105px;
    }
    
    div[data-view-key="ExchangeRate"] .menuButton>object,
    div[data-view-key="ExchangeRate"] .menuButton>object,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] .menuButton>object,
    div[data-view-key="LanguageSelection"] .menuButton>object {
        width: 35%;
        height: 77px;
        margin-bottom: -20px;
    }
    
    div[data-view-id="chipreading"] .buttonZone,
    div[data-view-id="transactionprogress"] .buttonZone,
    div[data-view-id="chipread"] .buttonZone,
    div[data-view-id="cardremove"] .buttonZone,
    div[data-view-id="incorrectpin"] .buttonZone {
        display: none;
    }
    
    div[data-view-id="chipreading"] #flexArticle,
    #flexArticlePopup,
    div[data-view-id="transactionprogress"] #flexArticle,
    #flexArticlePopup,
    div[data-view-id="chipread"] #flexArticle,
    div[data-view-id="cardremove"] #flexArticle,
    div[data-view-id="incorrectpin"] #flexArticle #flexArticlePopup {
        flex-basis: 100%;
        padding-left: 62px;
    }
    
    div[data-view-id="transactionprogress"] #instruction {
        position: absolute;
        margin-top: 344px;
        align-self: center;
        color: var(--color07);
    }
    
    div[data-view-key="ReceiptQuestion"] .messageArea,
    div[data-view-key="HostItemQuestionFassil"] .messageArea,
    div[data-view-key="SuccessfullTransaction"] .messageArea,
    div[data-view-key="TransactionCannotMade"] .messageArea,
    div[data-view-key="questionaccountbalance"] .messageArea,
    div[data-view-key="HostItemQuestionChargedFassil"] .messageArea,
    div[data-view-id="questionsuccessfulltransaction"] .messageArea,
    div[data-view-id="questionaccountbalance"] .messageArea,
    div[data-view-id="questionwarning"] .messageArea,
    div[data-view-id="questionrecibe"] .messageArea,
    div[data-view-id="questionerror"] .messageArea {
        background: #fafafa;
        border: none;
        box-shadow: none;
        display: flex !important;
    }
    
    div[data-view-key="HostItemQuestionChargedFassil"] #flexHeaderBottom {
        padding: 6px 0px 0 0px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] #instruction,
    div[data-view-key="ReceiptQuestion"] #MESSAGE,
    div[data-view-key="ReceiptQuestion"] #buttonCancel,
    div[data-view-key="ReceiptQuestion"] #other,
    div[data-view-key="ReceiptQuestion"] #imagen2,
    div[data-view-key="ReceiptQuestion"] #imagen-error,
    div[data-view-key="ReceiptQuestion"] #imagen-success,
    div[data-view-id="questionrecibe"] #MESSAGE,
    div[data-view-id="questionrecibe"] #buttonCancel,
    div[data-view-id="questionrecibe"] #other,
    div[data-view-id="questionrecibe"] #imagen2,
    div[data-view-id="questionrecibe"] #imagen-error,
    div[data-view-id="questionrecibe"] #imagen-success,
    div[data-view-id="questionerror"] #MESSAGE,
    div[data-view-id="questionerror"] #buttonCancel,
    div[data-view-id="questionerror"] #other,
    div[data-view-id="questionerror"] #imagen2,
    div[data-view-id="questionerror"] #imagen,
    div[data-view-id="questionerror"] #imagen-success,
    div[data-view-id="questionsuccessfulltransaction"] #MESSAGE,
    div[data-view-id="questionsuccessfulltransaction"] #buttonCancel,
    div[data-view-id="questionsuccessfulltransaction"] #other,
    div[data-view-id="questionsuccessfulltransaction"] #imagen2,
    div[data-view-id="questionsuccessfulltransaction"] #imagen,
    div[data-view-id="questionsuccessfulltransaction"] #imagen-error,
    div[data-view-id="questionaccountbalance"] #imagen-success,
    div[data-view-id="questionaccountbalance"] #buttonCancel,
    div[data-view-id="questionaccountbalance"] #other,
    div[data-view-id="questionaccountbalance"] #imagen2,
    div[data-view-id="questionaccountbalance"] #imagen,
    div[data-view-id="questionaccountbalance"] #imagen-error,
    div[data-view-key="HostItemQuestionChargedFassil"] #imagen-success,
    div[data-view-key="HostItemQuestionChargedFassil"] #buttonCancel,
    div[data-view-key="HostItemQuestionChargedFassil"] #other,
    div[data-view-key="HostItemQuestionChargedFassil"] #imagen2,
    div[data-view-key="HostItemQuestionChargedFassil"] #imagen,
    div[data-view-key="HostItemQuestionChargedFassil"] #imagen-error,
    div[data-view-key="SuccessfullTransaction"] #MESSAGE,
    div[data-view-key="SuccessfullTransaction"] #buttonCancel,
    div[data-view-key="SuccessfullTransaction"] #other,
    div[data-view-key="SuccessfullTransaction"] #imagen2,
    div[data-view-key="SuccessfullTransaction"] #imagen,
    div[data-view-key="SuccessfullTransaction"] #imagen-error,
    div[data-view-key="TransactionCannotMade"] #MESSAGE,
    div[data-view-key="TransactionCannotMade"] #buttonCancel,
    div[data-view-key="TransactionCannotMade"] #other,
    div[data-view-key="TransactionCannotMade"] #imagen,
    div[data-view-key="TransactionCannotMade"] #imagen2,
    div[data-view-key="TransactionCannotMade"] #imagen-success,
    div[data-view-id="questionwarning"] #MESSAGE,
    div[data-view-id="questionwarning"] #buttonCancel,
    div[data-view-id="questionwarning"] #other,
    div[data-view-id="questionwarning"] #imagen,
    div[data-view-id="questionwarning"] #imagen-success,
    div[data-view-key="HostItemQuestionFassil"] #MESSAGE,
    div[data-view-key="HostItemQuestionFassil"] #buttonCancel,
    div[data-view-key="HostItemQuestionFassil"] #other,
    div[data-view-key="HostItemQuestionFassil"] #instruction,
    div[data-view-key="HostItemQuestionFassil"] #imagen,
    div[data-view-key="HostItemQuestionFassil"] #imagen2,
    div[data-view-key="HostItemQuestionFassil"] #imagen-success,
    div[data-view-key="HostItemQuestionFassil"] #imagen-error {
        display: none;
    }
    
    div[data-view-key="ReceiptQuestion"] #flexFooter,
    div[data-view-id="questionerror"] #flexFooter,
    div[data-view-id="questionrecibe"] #flexFooter,
    div[data-view-id="questionwarning"] #flexFooter,
    div[data-view-id="questionaccountbalance"] #flexFooter,
    div[data-view-key="HostItemQuestionChargedFassil"] #flexFooter,
    div[data-view-id="questionsuccessfulltransaction"] #flexFooter,
    div[data-view-key="SuccessfullTransaction"] #flexFooter,
    div[data-view-key="TransactionCannotMade"] #flexFooter,
    div[data-view-key="HostItemQuestionFassil"] #flexFooter {
        z-index: -55;
    }
    
    div[data-view-key="TransactionCannotMade"] #instruction {
        font-size: 30px;
    }
    
    div[data-view-key="TransactionCannotMade"] .messageArea,
    div[data-view-id="questionerror"] .messageArea,
    div[data-view-id="questionwarning"] .messageArea,
    div[data-view-id="questionrecibe"] .messageArea,
    div[data-view-key="HostItemQuestionChargedFassil"] .messageArea,
    div[data-view-id="questionaccountbalance"] .messageArea,
    div[data-view-id="questionsuccessfulltransaction"] .messageArea,
    div[data-view-key="SuccessfullTransaction"] .messageArea {
        align-items: center !important;
    }
    
    div[data-view-key="ReceiptQuestion"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-id="questionerror"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-id="questionrecibe"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-id="questionwarning"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-id="questionaccountbalance"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-key="HostItemQuestionChargedFassil"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-id="questionsuccessfulltransaction"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-key="SuccessfullTransaction"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone,
    div[data-view-key="TransactionCannotMade"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone {
        margin-top: 86px;
        width: 100%;
        place-content: center;
    }
    
    div[data-view-key="CurrencyQuestion"] #flexHeaderBottom,
    div[data-view-key="HostItemQuestionFassil"] #flexHeaderBottom {
        margin-top: 145px;
        padding-left: 18%;
        padding-right: 18%;
    }
    
    div[data-view-key="CurrencyQuestion"] #flexHeaderBottom>:first-child,
    div[data-view-key="HostItemQuestionFassil"] #flexHeaderBottom>:first-child {
        line-height: 40px;
        margin-top: 10px;
        font-size: 35px;
    }
    
    div[data-view-key="HostItemQuestionFassil"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone {
        margin-top: 45px;
        width: 100%;
        place-content: center;
    }
    
    div[data-view-key="HostItemQuestionFassil"] #headline>span,
    div[data-view-key="TransactionCannotMade"] #headline>span {
        font-size: 30px !important;
        font-weight: normal !important;
    }
    
    div[data-view-key="CurrencyQuestion"] .messageArea,
    div[data-view-key="HostItemQuestionFassil"] .messageArea {
        background: #fafafa;
        border: none;
        box-shadow: none;
    }
    
    div[data-view-key="CurrencyQuestion"] #MESSAGE,
    div[data-view-key="CurrencyQuestion"] #buttonCancel,
    div[data-view-key="CurrencyQuestion"] #other,
    div[data-view-key="CurrencyQuestion"] #imagen,
    div[data-view-key="HostItemQuestionFassil"] #MESSAGE,
    div[data-view-key="HostItemQuestionFassil"] #buttonCancel,
    div[data-view-key="HostItemQuestionFassil"] #other,
    div[data-view-key="HostItemQuestionFassil"] #instruc {
        display: none;
    }
    
    div[data-view-key="HostItemQuestionFassil"] #imagen {
        display: none;
    }
    
    div[data-view-key="CurrencyQuestion"] .messageArea .buttonsZone,
    #popupWindowHelp .buttonsZone {
        margin-top: 0px;
        width: 100%;
        place-content: center;
    }
    
    div[data-view-key="CurrencyQuestion"] #instruction,
    div[data-view-key="HostItemQuestionFassil"] #instruction {
        align-self: center;
        padding-top: 230px;
        font-size: 30px;
        color: #082957;
    }
    
    div[data-view-key="HostItemQuestionFassil"] #headline>blockquote {
        font-size: 15px;
    }
    
    .yesOption {
        background: linear-gradient(270deg, #68EAFE 0%, rgba(255, 255, 255, 0) 74.48%), #00C1DF;
        border-radius: 28px;
        width: 248px;
        height: 56px
    }
    
    .yesOption>object {
        display: none;
    }
    
    .yesOption>var {
        padding: 0px 0px 0 0px;
    }
    
    .noOption {
        background: #FFFFFF;
        border: 1px solid rgba(3, 62, 119, 0.5);
        border-radius: 28px;
        width: 248px;
        height: 56px;
        color: gray;
    }
    
    .noOption>object {
        display: none;
    }
    
    .noOption>var {
        padding: 0px 0px 0 0px;
    }
    
    div[data-view-key="ReceiptQuestion"] #flexMain,
    #flexMainPopup,
    div[data-view-key="SuccessfullTransaction"] #flexMain,
    #flexMainPopup,
    div[data-view-id="questionrecibe"] #flexMain,
    #flexMainPopup,
    div[data-view-id="questionwarning"] #flexMain,
    #flexMainPopup,
    div[data-view-id="questionerror"] #flexMain,
    #flexMainPopup,
    div[data-view-id="questionsuccessfulltransaction"] #flexMain,
    #flexMainPopup,
    div[data-view-id="questionaccountbalance"] #flexMain,
    #flexMainPopup,
    div[data-view-key="HostItemQuestionChargedFassil"] #flexMain,
    #flexMainPopup,
    div[data-view-key="HostItemQuestionFassil"] #flexMain,
    #flexMainPopup,
    div[data-view-key="TransactionCannotMade"] #flexMain,
    #flexMainPopup {
        padding-top: 12px;
    }
    
    div[data-view-id="questionaccountbalance"] #MESSAGE,
    div[data-view-key="HostItemQuestionChargedFassil"] #MESSAGE {
        margin-top: 90px;
    }
    
    div[data-view-id="questionaccountbalance"] #MESSAGE>span,
    div[data-view-key="HostItemQuestionChargedFassil"] #MESSAGE>span {
        font-size: 50px;
    }
    
    div[data-view-key="ReceiptQuestion"] .messageArea,
    div[data-view-key="SuccessfullTransaction"] .messageArea,
    div[data-view-id="questionerror"] .messageArea,
    div[data-view-id="questionwarning"] .messageArea,
    div[data-view-id="questionrecibe"] .messageArea,
    div[data-view-id="questionsuccessfulltransaction"] .messageArea,
    div[data-view-id="questionaccountbalance"] .messageArea,
    div[data-view-key="HostItemQuestionChargedFassil"] .messageArea,
    div[data-view-key="HostItemQuestionFassil"] .messageArea,
    div[data-view-key="TransactionCannotMade"] .messageArea {
        height: 390px;
    }
    
    div[data-view-key="ReceiptQuestion"] #flexHeader,
    div[data-view-key="SuccessfullTransaction"] #flexHeader,
    div[data-view-id="questionerror"] #flexHeader,
    div[data-view-id="questionsuccessfulltransaction"] #flexHeader,
    div[data-view-id="questionaccountbalance"] #flexHeader,
    div[data-view-key="HostItemQuestionChargedFassil"] #flexHeader,
    div[data-view-key="HostItemQuestionFassil"] #flexHeader {
        flex-basis: 289px;
    }
    
    div[data-view-key="TransactionCannotMade"] #flexHeader,
    div[data-view-key="questionwarning"] #flexHeader,
    div[data-view-id="questionrecibe"] #flexHeader {
        flex-basis: 317px;
    }
    
    div[data-view-key="HostItemQuestionFassil"] #flexHeader {
        flex-basis: 309px;
    }
    
    div[data-view-key="ReceiptQuestion"] #instruction,
    div[data-view-key="TransactionCannotMade"] #instruction,
    div[data-view-key="HostItemQuestionFassil"] #instruction {
        position: absolute;
        margin-top: 378px;
        align-self: center;
        color: var(--color07);
        z-index: 55;
    }
    
    div[data-view-id="questionerror"] #instruction,
    div[data-view-id="questionrecibe"] #instruction,
    div[data-view-id="questionwarning"] #instruction,
    div[data-view-id="questionsuccessfulltransaction"] #instruction,
    div[data-view-id="questionaccountbalance"] #instruction,
    div[data-view-key="HostItemQuestionChargedFassil"] #instruction,
    div[data-view-key="SuccessfullTransaction"] #instruction {
        position: absolute;
        margin-top: 354px;
        align-self: center;
        color: var(--color07);
        z-index: 55;
    }
    
    div[data-view-id="questionrecibe"] #instruction,
    div[data-view-id="questionwarning"] #instruction {
        position: absolute;
        margin-top: 410px;
        align-self: center;
        color: var(--color07);
        z-index: 55;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    .laguage-style {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }
    
    .button var,
    .button span {
        display: block;
    }
    
    div[data-view-id="amountentry"] #other,
    div[data-view-id="amountentry"] #buttonCancel,
    div[data-view-id="amountentry"] #pinPadButtons {
        display: none;
    }
    
    div[data-view-id="amountentry"] #buttonCorrectRight {
        background: white !important;
        border: 1px solid var(--color01-text)!important;
        transition: border 0.15s !important;
        width: 248px !important;
        height: 56px !important;
        border-radius: 28px!important;
    }
    
    div[data-view-id="amountentry"] .button>var {
        padding: 0px 0px 0 0px;
        color: rgba(3, 62, 119, 0.5);
    }
    
    div[data-view-id="amountentry"] #buttonCorrectRight,
    #buttonConfirmRight {
        align-items: center !important;
    }
    
    div[data-view-id="amountentry"] #flexArticle {
        justify-content: center;
    }
    
    div[data-view-id="amountentry"] #buttonConfirmRight {
        background: linear-gradient(270deg, #68EAFE 0%, rgba(255, 255, 255, 0) 74.48%), #00C1DF;
        border-radius: 28px;
        transition: border 0.15s;
        width: 248px;
        height: 56px;
        color: var(--color03);
        border: none;
    }
    
    div[data-view-id="amountentry"] .button[disabled],
    .disabled {
        background: rgba(0, 12, 53, 0.1) !important;
        border: 1px solid var(--color01-alpha-0)!important;
        transition: background 0.25s!important;
    }
    
    div[data-view-id="amountentry"] #flexInputArea {
        width: 568px;
    }
    
    div[data-view-id="amountentry"] .generalInput {
        text-align: left;
    }
    /* 
div[data-view-id="amountentry"] .generalInput:empty {
    background: #F6F6F6;
} */
    
    div[data-view-id="amountentry"] #flexHeaderBottom>:first-child {
        margin-bottom: 25px;
    }
    
    div[data-view-id="amountentry"] #flexHeader {
        flex-basis: 337px;
        margin-bottom: 30px;
    }
    
    div[data-view-id="amountentry"] #instruction {
        align-self: center;
        color: var(--color07);
    }
    
    div[data-view-id="amountentry"] #flexFooter {
        height: 197px;
    }
    
    div[data-view-id="amountentry"] #flexArticle,
    #flexArticlePopup {
        height: 230px;
    }
    
    #regards {
        position: relative;
        top: 125px;
        left: -108px;
    }
    
    div[data-view-key="HostItemSelection"] .menuButton {
        width: 324px;
        height: 87px;
        background: linear-gradient(193.52deg, #00194C 5.42%, rgba(0, 13, 130, 0.6) 113.03%), #000C35;
        box-shadow: 1px 2px 9px rgba(229, 231, 235, 0.5);
        border-radius: 20px;
    }
    
    div[data-view-key="HostItemSelection"] .menuButton {
        width: 324px;
        height: 87px;
        background: linear-gradient(193.52deg, #00194C 5.42%, rgba(0, 13, 130, 0.6) 113.03%), #000C35;
        box-shadow: 1px 2px 9px rgba(229, 231, 235, 0.5);
        border-radius: 20px;
    }
    
    div[data-view-key="HostItemSelection"] #flexArticle,
    #flexArticlePopup #flexArticlePopup,
    div[data-view-key="MenuSelectionTransferOptions"] #flexArticle,
    #flexArticlePopup #flexArticlePopup,
    div[data-view-key="MenuSelectionAccountOverviews"] #flexArticle,
    #flexArticlePopup #flexArticlePopup {
        height: 310px;
        margin-left: 0px;
        align-content: center;
    }
    
    div[data-view-key="HostItemSelection"] .buttonZone:not(:last-child) .menuButton,
    div[data-view-key="MenuSelectionTransferOptions"] .buttonZone:not(:last-child) .menuButton,
    div[data-view-key="MenuSelectionAccountOverviews"] .buttonZone:not(:last-child) .menuButton {
        margin: 0 47px 39px 0;
    }
    
    div[data-view-key="MenuSelectionTransferOptions"] .button>var,
    div[data-view-key="HostItemSelection"] .button>var,
    div[data-view-key="MenuSelectionAccountOverviews"] .button>var {
        padding: 0px 0px 0 0px;
    }
    
    div[data-view-key="HostItemSelection"] #buttonMainMenu,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #buttonMainMenu,
    div[data-view-key="ExchangeRate"] #buttonMainMenu,
    div[data-view-key="MenuSelectionAccountOverviews"] #buttonMainMenu,
    div[data-view-key="MenuSelectionTransferOptions"] #buttonMainMenu,
    div[data-view-key="LanguageSelection"] #buttonMainMenu {
        display: flex;
    }
    
    div[data-view-id="cardremove"] .toolbar {
        display: none;
    }
    
    div[data-view-id="incorrectpin"] .toolbar {
        display: none;
    }
    
    div[data-view-id="amountselection"] #flexHeader {
        background: var(--color-background);
        flex-basis: 328px;
    }
    
    div[data-view-id="amountselection"] div[data-amount-button="true"] var {
        font-size: var(--font-size04);
    }
    
    div[data-view-id="amountselection"] #flexHeaderBottom>:first-child {
        margin-bottom: 15px;
    }
    
    div[data-view-id="amountselection"] #flexArticle {
        justify-content: center;
    }
    
    #OTHER_WithdrawalAmountSelection_generated {
        display: none;
    }
    
    #AMOUNT_OTHER_WithdrawalAmountSelection_generated {
        display: none;
    }
    
    .exchange-span {
        font-size: 30px !important;
        font-weight: bold!important;
    }
    
    div[data-view-id="question"] .messageArea {
        display: none;
    }
    
    #buttonMainMenu {
        background: white;
        transition: border 0.15s;
        border-radius: 25px;
        margin-bottom: 15px;
        align-items: flex-end !important;
    }
    
    #buttonMainMenu>var {
        padding-bottom: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        text-align: center;
        text-transform: uppercase;
        /* grey */
        color: rgba(3, 62, 119, 0.5);
    }
    
    div[data-view-key="HostItemSelection"] #divMainMenu,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #divMainMenu,
    div[data-view-key="WithdrawalAmountSelection"] #divMainMenu {
        display: flex !important;
    }
    
    div[data-view-key="HostItemSelection"] #divCancel,
    div[data-view-key="WithdrawalCurrencySelectionFassil"] #divCancel,
    div[data-view-key="WithdrawalAmountSelection"] #divCancel {
        display: none;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] .button {
        display: inline-block;
        text-align: -webkit-center;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] .menuButton {
        box-shadow: 1px 2px 9px rgba(229, 231, 235, 0.5);
        border-radius: 20px;
        width: 186px;
        height: 88px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] .buttonZone:not(:last-child) .menuButton {
        margin: 0px 31px 41px 0;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] .menuButton>var {
        font-size: 26px !important;
        padding: 0px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] #flexHeader {
        flex-basis: 304px;
    }
    
    div[data-view-id="amountselection"] .menuButton>object {
        width: 35px;
        height: 35px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] .menuButton>object {
        width: 35px;
        height: 60px;
        margin-top: 0;
        margin-bottom: -23px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] #flexMain,
    #flexMainPopup {
        padding-top: 0px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] #flexArticle,
    #flexArticlePopup {
        padding-left: 50px;
    }
    
    div[data-view-key="WithdrawalAmountSelection"] #buttonMainMenu>var {
        line-height: 34px;
    }