html {
    font-family: Arial, Helvetica, "Helvetica Neue", Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Avoid scroll bars */
    -webkit-user-select: none; /* Touch specific */
    -moz-user-select: none; /* Touch specific */
    user-select: none; /* Touch specific */
}

body>:first-child {
    height: 100vh; /*span body*/
}

body[data-restart-spa="false"] {
    background: rgb(95, 94, 99) url("images/ProFlex4_UI_background.png") no-repeat top center fixed;
    background-blend-mode: overlay;
    will-change: opacity; /*prevents from flickering issue in chrome browsers regarding the blend mode*/
    background-size: 100% 100%;
}

body[data-restart-spa="false"][data-style-type="MercuryLight"] {
    background: rgb(151, 154, 159) url("theme-light/ProFlex4_UI_background-light.png") no-repeat top center fixed;
    background-blend-mode: overlay;
    will-change: opacity; /*prevents from flickering issue in chrome browsers regarding the blend mode*/
    background-size: 100% 100%;
}

.backgroundMercury {
    background: rgba(41, 40, 44, 1);
}

.backgroundMercuryLight {
    background: rgba(220, 223, 228, 1);
}

iframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

H1 {
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
}

var, span, label {
    font-style: normal;
}

#extendedDesignModeMenu {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 60px;
}

body[data-restart-spa="true"] #extendedDesignModeMenu {
    display: none;
}

#extendedDesignModeMenu .funcButton {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 62px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*-- Sliding checkbox --*/
.singleCheckBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%);
    border-radius: 8px;
    margin-right: 20px;
    padding: 5px;
}

.singleCheckBox var {
    color: #0c0c0c;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 5px;
}

.slidingCheckBox {
    display: flex;
    position: relative;
    width: 80px;
    height: 26px;
    background: #333;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.5);
}

.slidingCheckBox input[type=checkbox] {
    display: block;
    opacity: 0;
    z-index: 1;
    width: 80px;
    height: 26px;
}

.slidingCheckBox::after {
    position: absolute;
    content: 'OFF';
    color: #000;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.slidingCheckBox::before {
    position: absolute;
    content: 'ON';
    color: #1dae25;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    filter: saturate(250%);
    -webkit-filter: saturate(250%);
}

.slidingCheckBox label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.slidingCheckBox input[type=checkbox]:checked + label {
    left: 43px;
}

#applicationMode, #extendedDesignMode, #toolingMode {
    display: none;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    padding: 20px;
}

/*-- tooltip --*/
div.tooltips {
    display: inline-flex;
    position: relative;
}

div.tooltips span {
    position: absolute;
    width: auto;
    height: auto;
    padding: 3px;
    color: #ffffff;
    background: #000000;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    word-break: normal;
}

div.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 10px solid #000000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

div:hover.tooltips span:first-child {
    visibility: visible;
    opacity: 0.9;
    bottom: 90%;
    left: 50%;
    margin-left: -76px;
    z-index: 9;
}

/*-- spinner --*/
.spinner {
    margin: 100px auto;
    width: 60px;
    height: 60px;
    position: relative;
}

.container1>div, .container2>div, .container3>div {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    transform: rotateZ(45deg);
}

.container3 {
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    animation-delay: -1.1s;
}

.container3 .circle1 {
    animation-delay: -1.0s;
}

.container1 .circle2 {
    animation-delay: -0.9s;
}

.container2 .circle2 {
    animation-delay: -0.8s;
}

.container3 .circle2 {
    animation-delay: -0.7s;
}

.container1 .circle3 {
    animation-delay: -0.6s;
}

.container2 .circle3 {
    animation-delay: -0.5s;
}

.container3 .circle3 {
    animation-delay: -0.4s;
}

.container1 .circle4 {
    animation-delay: -0.3s;
}

.container2 .circle4 {
    animation-delay: -0.2s;
}

.container3 .circle4 {
    animation-delay: -0.1s;
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}

/*-- Progressbar circle --*/
#timer {
    margin: 10px 10px 10px 40px;
    width: 70px;
}

.pietimer {
    position: relative;
    height: 1em;
}

.pietimer>.percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align: center;
    display: none;
}

.pietimer>.slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
}

.pietimer>.slice.gt50 {
    clip: rect(auto, auto, auto, auto);
}

.pietimer>.slice>.pie {
    border: 0.1em solid #c0c0c0;
    position: absolute;
    width: 0.8em; /* 1 - (2 * border width) */
    height: 0.8em; /* 1 - (2 * border width) */
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 0.5em;
}

.pietimer>.slice>.pie.fill {
    transform: rotate3d(0, 0, 1, 180deg) !important;
}

.pietimer.fill>.percent {
    display: none;
}

.pietimer.fill>.slice>.pie {
    border: transparent;
    background-color: #c0c0c0;
    width: 1em;
    height: 1em;
}

/*-- button --*/
#extendedDesignMode button {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(127, 127, 127, 0.7) 90%);
    border: 1px solid black;
    min-width: 160px;
    max-width: 160px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    border-radius: 3px;
    outline: none;
}

#extendedDesignMode button:active {
    background: radial-gradient(ellipse at center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, rgba(127, 127, 127, 0.7) 100%);
    transform: scale(0.95); /*translate(2px, 2px);*/
}

.funcButton {
    margin-bottom: 4px;
    font-size: 12px;
}

.funcButton[disabled] {
    opacity: 0.5;
}

.toggleButton {
    margin-bottom: 10px;
}
