<div id="popupMainContent">
    <!--
    This version information should reside within main-div-tag to also get removed when removing popup.
    -->
    <div class="modalOverlayPopup">
        <div class="popupWindow" id="popupWindowAmountEntry" data-view-key="">
            <div id="popupWindowContent" data-view-key="">
                <main id="flexMainPopup">
                    <article id="flexArticlePopupAmountEntry">
                        <div id="generalInputFieldArea">
                            <input type="text" id="generalInput" class="font04 generalInput" onfocus="blur();" placeholder="" tabindex="-1"
                                   data-bind="
                                       attr: { 'placeholder': placeHolderFormatted },
                                       format: { src: amountField, target: amountFieldFormatted, placeholder_src: placeHolder, placeholder_target: placeHolderFormatted, pattern: config.formatOption },
                                       command: {
                                        id: 'AMOUNT_INPUT',
                                        state: CMDSTATE.ENABLED,
                                        action: function(id) {if(id !== 'AMOUNT_INPUT') return $root.onButtonPressed(id);},
                                        adaType: ADA_TYPE.INPUTFIELD,
                                        label: {value: amountFieldFormatted, inplace: true},
                                        eppkey: ['1','2','3','4','5','6','7','8','9','0']
                                        }"/>
                        </div>

                        <var class="color03 font01" data-bind="command: {id: 'MESSAGE_POPUP_LABEL', adaType: ADA_TYPE.MESSAGE, state: CMDSTATE.ENABLED, action: null, label: {html: getLabel('GUI_[#VIEW_KEY#]_AMOUNT_ENTRY_POPUP_Message', 'Enter your amount'), inplace: true}}"></var>
                        <div id="flexMessageContainerPopup" class="flexMessageContainer" style="display: none;"
                             data-bind="visible: messageVisible, virtualExtend: {messageObserver: function() {
                                                                                                    $root.messageVisible.subscribe(function(newValue) {
                                                                                                            if(newValue) {
                                                                                                                window.setTimeout(function() {
                                                                                                                    $root.notifyViewUpdated($root.buildGuiKey($root.options.type), true);
                                                                                                                }, 1)
                                                                                                            }
                                                                                                    })
                                                                                              }()}">
                            <div class="messageArea" data-content-style="WarningBox" data-bind="attr: { 'data-content-style': messageLevel }">
                                <var class="color03 font01" data-bind="
                                command: {id: 'MESSAGE1', adaType: ADA_TYPE.DYNAMIC_VALUE, action: null, adaText: messageText, state: CMDSTATE.NONE, label: {html: messageText, inplace: true}}"></var>
                            </div>
                        </div>

                    </article>
                    <aside id="flexAsidePopup">
                        <div id="flexAsidePopupSK00">
                            <div id="buttonCorrectPopup"
                                 class="button button03 skRight iconButton"
                                 data-bind="command: {id: 'CORRECT_AMOUNT_ENTRY_POPUP', args: ['CORRECT','CORRECT','CORRECT'], adaType: ADA_TYPE.SELECTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_AMOUNT_ENTRY_POPUP_Button_Correct', 'Correct')}, eppkey: ['F1', 'BACKSPACE', 'CLEAR']}">
                                <object type="image/svg+xml" data="style/default/images/correct.svg"></object>
                                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('CORRECT_AMOUNT_ENTRY_POPUP')"></var>
                            </div>
                        </div>
                        <div id="flexAsidePopupSK01">
                            <div id="buttonConfirmPopup"
                                 class="button button03 skRight iconButton"
                                 data-bind="command: {id: 'CONFIRM_AMOUNT_ENTRY_POPUP', args: ['CONFIRM','CONFIRM'], adaType: ADA_TYPE.SELECTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_AMOUNT_ENTRY_POPUP_Button_Confirm', 'Confirm')}, eppkey: ['F2', 'CONFIRM']}">
                                <object type="image/svg+xml" data="style/default/images/confirm.svg"></object>
                                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CONFIRM_AMOUNT_ENTRY_POPUP')"></var>
                            </div>
                        </div>
                        <!-- Billsplitting (MIXTURE) btn -->
                        <div id="flexAsidePopupSK02">
                            <div id="other" class="button button03 skRight iconButton"
                                 data-bind="command: {id: 'MIXTURE', type: CMDTYPE.BUTTON, state: CMDSTATE.HIDDEN, adaType: ADA_TYPE.SELECTION_KEY, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Mixture', 'Bill splitting')}, eppkey: 'F3'}">
                                <object type="image/svg+xml" data="style/default/images/bill_splitting.svg"></object>
                                <var class="color03 font01" data-bind="html: cmdRepos.getCmdLabel('MIXTURE')"></var>
                            </div>
                        </div>

                        <div id="flexAsidePopupSK03">
                            <div id="buttonCancelPopup"
                                 class="button button03 skRight iconButton"
                                 data-bind="command: {id: 'CANCEL_AMOUNT_ENTRY_POPUP', args: ['CANCEL','CANCEL'], adaType: ADA_TYPE.SELECTION_KEY, label: {html: getLabel('GUI_[#VIEW_KEY#]_AMOUNT_ENTRY_POPUP_Button_Cancel', 'Cancel')}, eppkey: ['F4', 'CANCEL']}">
                                <object type="image/svg+xml" data="style/default/images/cancel.svg"></object>
                                <var class="color09 font01" data-bind="html: cmdRepos.getCmdLabel('CANCEL_AMOUNT_ENTRY_POPUP')"></var>
                            </div>
                        </div>
                    </aside>
                </main>
            </div>
        </div>
    </div>
</div>
