<!--
This version information should reside within main-div-tag to also get removed when removing popup.
-->
<!-- rotate spinner (single circle) -->
<!--<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">-->
    <!--<figure id="waitSpinner" class="spinner2" style="display: none;visibility: hidden;"></figure>-->
<!--</div>-->

<!-- rotate plane spinner -->
<!--<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">-->
        <!--<figure id="waitSpinner" class="rotatePlaneSpinner" style="display: none;visibility: hidden;"></figure>-->
<!--</div>-->

<!-- following spinner -->
<!--<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">-->
    <!--<figure id="waitSpinner" class="followingSpinner" style="display: none; visibility: hidden;">-->
        <!--<div id="followingSpinner_1" class="followingSpinnerShape"></div>-->
        <!--<div id="followingSpinner_2" class="followingSpinnerShape"></div>-->
        <!--<div id="followingSpinner_3" class="followingSpinnerShape"></div>-->
        <!--<div id="followingSpinner_4" class="followingSpinnerShape"></div>-->
    <!--</figure>-->
<!--</div>-->

<!-- stretch play spinner -->
<!--<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">-->
    <!--<figure id="waitSpinner" class="stretchPlaySpinner" style="display: none; visibility: hidden;">-->
        <!--<div class="rect1"></div>-->
        <!--<div class="rect2"></div>-->
        <!--<div class="rect3"></div>-->
        <!--<div class="rect4"></div>-->
        <!--<div class="rect5"></div>-->
    <!--</figure>-->
<!--</div>-->

<!-- cube move spinner -->
<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">
    <figure id="waitSpinner" class="cube-move" style="display: none; visibility: hidden;">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </figure>
</div>

<!--follow balls spinner -->
<!--<div id="waitSpinnerModalOverlay" class="modalOverlay" style="display: none;">-->
    <!--<figure id="waitSpinner" class="follow-balls" style="display: none; visibility: hidden;">-->
        <!--<div class="bounce1"></div>-->
        <!--<div class="bounce2"></div>-->
        <!--<div class="bounce3"></div>-->
    <!--</figure>-->
<!--</div>-->